In [2]:
{
 "cells": [
  {
   "cell_type": "code",
   "execution_count": 1,
   "id": "a681b844",
   "metadata": {},
   "outputs": [],
   "source": [
    "#In this dataset, we are going to perform data Exploration and data visualization of the given dataset. Other things which can explore through it are as follow: -\n",
    "# Explatory Data Analysis\n",
    "# Determining characteristics affecting placement\n",
    "# Determining characteristics affecting salary\n",
    "# Common questions which can be answered through this dataset are: -\n",
    "# Does GPA affect placement?\n",
    "# Does Higher Secondary School's Percentage still affect campus placement?\n",
    "# Is work experience required for securing good job?\n",
    "# What factor affect the salary?"
   ]
  },

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_16808/507916271.py, line 20)

In [3]:
 {
   "cell_type": "code",
   "execution_count": 2,
   "id": "62b9eecf",
   "metadata": {},
   "outputs": [],
   "source": [
    "import numpy as np \n",
    "import pandas as pd \n",
    "import matplotlib.pyplot as plt\n",
    "import seaborn as sns\n",
    "import altair as alt"
   ]
  },

({'cell_type': 'code',
  'execution_count': 2,
  'id': '62b9eecf',
  'metadata': {},
  'outputs': [],
  'source': ['import numpy as np \n',
   'import pandas as pd \n',
   'import matplotlib.pyplot as plt\n',
   'import seaborn as sns\n',
   'import altair as alt']},)

In [4]:
  {
   "cell_type": "code",
   "execution_count": 3,
   "id": "5424d1b9",
   "metadata": {},
   "outputs": [],
   "source": [
    "df=pd.read_csv('18-Placement_Data_Full_Class.csv')"
   ]
  },

({'cell_type': 'code',
  'execution_count': 3,
  'id': '5424d1b9',
  'metadata': {},
  'outputs': [],
  'source': ["df=pd.read_csv('18-Placement_Data_Full_Class.csv')"]},)

In [5]:

  {
   "cell_type": "code",
   "execution_count": 4,
   "id": "ebb27beb",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>sl_no</th>\n",
       "      <th>gender</th>\n",
       "      <th>ssc_p</th>\n",
       "      <th>ssc_b</th>\n",
       "      <th>hsc_p</th>\n",
       "      <th>hsc_b</th>\n",
       "      <th>hsc_s</th>\n",
       "      <th>degree_p</th>\n",
       "      <th>degree_t</th>\n",
       "      <th>workex</th>\n",
       "      <th>etest_p</th>\n",
       "      <th>specialisation</th>\n",
       "      <th>mba_p</th>\n",
       "      <th>status</th>\n",
       "      <th>salary</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>1</td>\n",
       "      <td>M</td>\n",
       "      <td>67.00</td>\n",
       "      <td>Others</td>\n",
       "      <td>91.00</td>\n",
       "      <td>Others</td>\n",
       "      <td>Commerce</td>\n",
       "      <td>58.00</td>\n",
       "      <td>Sci&amp;Tech</td>\n",
       "      <td>No</td>\n",
       "      <td>55.0</td>\n",
       "      <td>Mkt&amp;HR</td>\n",
       "      <td>58.80</td>\n",
       "      <td>Placed</td>\n",
       "      <td>270000.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>2</td>\n",
       "      <td>M</td>\n",
       "      <td>79.33</td>\n",
       "      <td>Central</td>\n",
       "      <td>78.33</td>\n",
       "      <td>Others</td>\n",
       "      <td>Science</td>\n",
       "      <td>77.48</td>\n",
       "      <td>Sci&amp;Tech</td>\n",
       "      <td>Yes</td>\n",
       "      <td>86.5</td>\n",
       "      <td>Mkt&amp;Fin</td>\n",
       "      <td>66.28</td>\n",
       "      <td>Placed</td>\n",
       "      <td>200000.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>3</td>\n",
       "      <td>M</td>\n",
       "      <td>65.00</td>\n",
       "      <td>Central</td>\n",
       "      <td>68.00</td>\n",
       "      <td>Central</td>\n",
       "      <td>Arts</td>\n",
       "      <td>64.00</td>\n",
       "      <td>Comm&amp;Mgmt</td>\n",
       "      <td>No</td>\n",
       "      <td>75.0</td>\n",
       "      <td>Mkt&amp;Fin</td>\n",
       "      <td>57.80</td>\n",
       "      <td>Placed</td>\n",
       "      <td>250000.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>4</td>\n",
       "      <td>M</td>\n",
       "      <td>56.00</td>\n",
       "      <td>Central</td>\n",
       "      <td>52.00</td>\n",
       "      <td>Central</td>\n",
       "      <td>Science</td>\n",
       "      <td>52.00</td>\n",
       "      <td>Sci&amp;Tech</td>\n",
       "      <td>No</td>\n",
       "      <td>66.0</td>\n",
       "      <td>Mkt&amp;HR</td>\n",
       "      <td>59.43</td>\n",
       "      <td>Not Placed</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>5</td>\n",
       "      <td>M</td>\n",
       "      <td>85.80</td>\n",
       "      <td>Central</td>\n",
       "      <td>73.60</td>\n",
       "      <td>Central</td>\n",
       "      <td>Commerce</td>\n",
       "      <td>73.30</td>\n",
       "      <td>Comm&amp;Mgmt</td>\n",
       "      <td>No</td>\n",
       "      <td>96.8</td>\n",
       "      <td>Mkt&amp;Fin</td>\n",
       "      <td>55.50</td>\n",
       "      <td>Placed</td>\n",
       "      <td>425000.0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "   sl_no gender  ssc_p    ssc_b  hsc_p    hsc_b     hsc_s  degree_p  \\\n",
       "0      1      M  67.00   Others  91.00   Others  Commerce     58.00   \n",
       "1      2      M  79.33  Central  78.33   Others   Science     77.48   \n",
       "2      3      M  65.00  Central  68.00  Central      Arts     64.00   \n",
       "3      4      M  56.00  Central  52.00  Central   Science     52.00   \n",
       "4      5      M  85.80  Central  73.60  Central  Commerce     73.30   \n",
       "\n",
       "    degree_t workex  etest_p specialisation  mba_p      status    salary  \n",
       "0   Sci&Tech     No     55.0         Mkt&HR  58.80      Placed  270000.0  \n",
       "1   Sci&Tech    Yes     86.5        Mkt&Fin  66.28      Placed  200000.0  \n",
       "2  Comm&Mgmt     No     75.0        Mkt&Fin  57.80      Placed  250000.0  \n",
       "3   Sci&Tech     No     66.0         Mkt&HR  59.43  Not Placed       NaN  \n",
       "4  Comm&Mgmt     No     96.8        Mkt&Fin  55.50      Placed  425000.0  "
      ]
     },
     "execution_count": 4,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df.head()"
   ]
  },

({'cell_type': 'code',
  'execution_count': 4,
  'id': 'ebb27beb',
  'metadata': {},
  'outputs': [{'data': {'text/html': ['<div>\n',
      '<style scoped>\n',
      '    .dataframe tbody tr th:only-of-type {\n',
      '        vertical-align: middle;\n',
      '    }\n',
      '\n',
      '    .dataframe tbody tr th {\n',
      '        vertical-align: top;\n',
      '    }\n',
      '\n',
      '    .dataframe thead th {\n',
      '        text-align: right;\n',
      '    }\n',
      '</style>\n',
      '<table border="1" class="dataframe">\n',
      '  <thead>\n',
      '    <tr style="text-align: right;">\n',
      '      <th></th>\n',
      '      <th>sl_no</th>\n',
      '      <th>gender</th>\n',
      '      <th>ssc_p</th>\n',
      '      <th>ssc_b</th>\n',
      '      <th>hsc_p</th>\n',
      '      <th>hsc_b</th>\n',
      '      <th>hsc_s</th>\n',
      '      <th>degree_p</th>\n',
      '      <th>degree_t</th>\n',
      '      <th>workex</th>\n',
      '      <th>etest_p</th>\n',
      '      <th>specialisation</th>\n',
      '      <th>mba_p</th>\n',
      '      <th>status</th>\n',
      '      <th>salary</th>\n',
      '    </tr>\n',
      '  </thead>\n',
      '  <tbody>\n',
      '    <tr>\n',
      '      <th>0</th>\n',
      '      <td>1</td>\n',
      '      <td>M</td>\n',
      '      <td>67.00</td>\n',
      '      <td>Others</td>\n',
      '      <td>91.00</td>\n',
      '      <td>Others</td>\n',
      '      <td>Commerce</td>\n',
      '      <td>58.00</td>\n',
      '      <td>Sci&amp;Tech</td>\n',
      '      <td>No</td>\n',
      '      <td>55.0</td>\n',
      '      <td>Mkt&amp;HR</td>\n',
      '      <td>58.80</td>\n',
      '      <td>Placed</td>\n',
      '      <td>270000.0</td>\n',
      '    </tr>\n',
      '    <tr>\n',
      '      <th>1</th>\n',
      '      <td>2</td>\n',
      '      <td>M</td>\n',
      '      <td>79.33</td>\n',
      '      <td>Central</td>\n',
      '      <td>78.33</td>\n',
      '      <td>Others</td>\n',
      '      <td>Science</td>\n',
      '      <td>77.48</td>\n',
      '      <td>Sci&amp;Tech</td>\n',
      '      <td>Yes</td>\n',
      '      <td>86.5</td>\n',
      '      <td>Mkt&amp;Fin</td>\n',
      '      <td>66.28</td>\n',
      '      <td>Placed</td>\n',
      '      <td>200000.0</td>\n',
      '    </tr>\n',
      '    <tr>\n',
      '      <th>2</th>\n',
      '      <td>3</td>\n',
      '      <td>M</td>\n',
      '      <td>65.00</td>\n',
      '      <td>Central</td>\n',
      '      <td>68.00</td>\n',
      '      <td>Central</td>\n',
      '      <td>Arts</td>\n',
      '      <td>64.00</td>\n',
      '      <td>Comm&amp;Mgmt</td>\n',
      '      <td>No</td>\n',
      '      <td>75.0</td>\n',
      '      <td>Mkt&amp;Fin</td>\n',
      '      <td>57.80</td>\n',
      '      <td>Placed</td>\n',
      '      <td>250000.0</td>\n',
      '    </tr>\n',
      '    <tr>\n',
      '      <th>3</th>\n',
      '      <td>4</td>\n',
      '      <td>M</td>\n',
      '      <td>56.00</td>\n',
      '      <td>Central</td>\n',
      '      <td>52.00</td>\n',
      '      <td>Central</td>\n',
      '      <td>Science</td>\n',
      '      <td>52.00</td>\n',
      '      <td>Sci&amp;Tech</td>\n',
      '      <td>No</td>\n',
      '      <td>66.0</td>\n',
      '      <td>Mkt&amp;HR</td>\n',
      '      <td>59.43</td>\n',
      '      <td>Not Placed</td>\n',
      '      <td>NaN</td>\n',
      '    </tr>\n',
      '    <tr>\n',
      '      <th>4</th>\n',
      '      <td>5</td>\n',
      '      <td>M</td>\n',
      '      <td>85.80</td>\n',
      '      <td>Central</td>\n',
      '      <td>73.60</td>\n',
      '      <td>Central</td>\n',
      '      <td>Commerce</td>\n',
      '      <td>73.30</td>\n',
      '      <td>Comm&amp;Mgmt</td>\n',
      '      <td>No</td>\n',
      '      <td>96.8</td>\n',
      '      <td>Mkt&amp;Fin</td>\n',
      '      <td>55.50</td>\n',
      '      <td>Placed</td>\n',
      '      <td>425000.0</td>\n',
      '    </tr>\n',
      '  </tbody>\n',
      '</table>\n',
      '</div>'],
     'text/plain': ['   sl_no gender  ssc_p    ssc_b  hsc_p    hsc_b     hsc_s  degree_p  \\\n',
      '0      1      M  67.00   Others  91.00   Others  Commerce     58.00   \n',
      '1      2      M  79.33  Central  78.33   Others   Science     77.48   \n',
      '2      3      M  65.00  Central  68.00  Central      Arts     64.00   \n',
      '3      4      M  56.00  Central  52.00  Central   Science     52.00   \n',
      '4      5      M  85.80  Central  73.60  Central  Commerce     73.30   \n',
      '\n',
      '    degree_t workex  etest_p specialisation  mba_p      status    salary  \n',
      '0   Sci&Tech     No     55.0         Mkt&HR  58.80      Placed  270000.0  \n',
      '1   Sci&Tech    Yes     86.5        Mkt&Fin  66.28      Placed  200000.0  \n',
      '2  Comm&Mgmt     No     75.0        Mkt&Fin  57.80      Placed  250000.0  \n',
      '3   Sci&Tech     No     66.0         Mkt&HR  59.43  Not Placed       NaN  \n',
      '4  Comm&Mgmt     No     96.8        Mkt&Fin  55.50      Placed  425000.0  ']},
    'execution_count': 4,
    'metadata': {},
    'output_type': 'execute_result'}],
  'source': ['df.head()']},)

In [6]:
 {
   "cell_type": "code",
   "execution_count": 5,
   "id": "1bebe594",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "(215, 15)"
      ]
     },
     "execution_count": 5,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df.shape # Checking the number of rows and columns"
   ]
  },

({'cell_type': 'code',
  'execution_count': 5,
  'id': '1bebe594',
  'metadata': {},
  'outputs': [{'data': {'text/plain': ['(215, 15)']},
    'execution_count': 5,
    'metadata': {},
    'output_type': 'execute_result'}],
  'source': ['df.shape # Checking the number of rows and columns']},)

In [7]:
  {
   "cell_type": "code",
   "execution_count": 6,
   "id": "c1879f2a",
   "metadata": {},
   "outputs": [],
   "source": [
    "#Remove Serial Number because it is not useful for analysis purpose\n",
    "df.drop(\"sl_no\", axis=1, inplace=True)"
   ]
  },

({'cell_type': 'code',
  'execution_count': 6,
  'id': 'c1879f2a',
  'metadata': {},
  'outputs': [],
  'source': ['#Remove Serial Number because it is not useful for analysis purpose\n',
   'df.drop("sl_no", axis=1, inplace=True)']},)

In [8]:
  {
   "cell_type": "code",
   "execution_count": 7,
   "id": "ede52b6c",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>gender</th>\n",
       "      <th>ssc_p</th>\n",
       "      <th>ssc_b</th>\n",
       "      <th>hsc_p</th>\n",
       "      <th>hsc_b</th>\n",
       "      <th>hsc_s</th>\n",
       "      <th>degree_p</th>\n",
       "      <th>degree_t</th>\n",
       "      <th>workex</th>\n",
       "      <th>etest_p</th>\n",
       "      <th>specialisation</th>\n",
       "      <th>mba_p</th>\n",
       "      <th>status</th>\n",
       "      <th>salary</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>M</td>\n",
       "      <td>67.00</td>\n",
       "      <td>Others</td>\n",
       "      <td>91.00</td>\n",
       "      <td>Others</td>\n",
       "      <td>Commerce</td>\n",
       "      <td>58.00</td>\n",
       "      <td>Sci&amp;Tech</td>\n",
       "      <td>No</td>\n",
       "      <td>55.0</td>\n",
       "      <td>Mkt&amp;HR</td>\n",
       "      <td>58.80</td>\n",
       "      <td>Placed</td>\n",
       "      <td>270000.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>M</td>\n",
       "      <td>79.33</td>\n",
       "      <td>Central</td>\n",
       "      <td>78.33</td>\n",
       "      <td>Others</td>\n",
       "      <td>Science</td>\n",
       "      <td>77.48</td>\n",
       "      <td>Sci&amp;Tech</td>\n",
       "      <td>Yes</td>\n",
       "      <td>86.5</td>\n",
       "      <td>Mkt&amp;Fin</td>\n",
       "      <td>66.28</td>\n",
       "      <td>Placed</td>\n",
       "      <td>200000.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>M</td>\n",
       "      <td>65.00</td>\n",
       "      <td>Central</td>\n",
       "      <td>68.00</td>\n",
       "      <td>Central</td>\n",
       "      <td>Arts</td>\n",
       "      <td>64.00</td>\n",
       "      <td>Comm&amp;Mgmt</td>\n",
       "      <td>No</td>\n",
       "      <td>75.0</td>\n",
       "      <td>Mkt&amp;Fin</td>\n",
       "      <td>57.80</td>\n",
       "      <td>Placed</td>\n",
       "      <td>250000.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>M</td>\n",
       "      <td>56.00</td>\n",
       "      <td>Central</td>\n",
       "      <td>52.00</td>\n",
       "      <td>Central</td>\n",
       "      <td>Science</td>\n",
       "      <td>52.00</td>\n",
       "      <td>Sci&amp;Tech</td>\n",
       "      <td>No</td>\n",
       "      <td>66.0</td>\n",
       "      <td>Mkt&amp;HR</td>\n",
       "      <td>59.43</td>\n",
       "      <td>Not Placed</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>M</td>\n",
       "      <td>85.80</td>\n",
       "      <td>Central</td>\n",
       "      <td>73.60</td>\n",
       "      <td>Central</td>\n",
       "      <td>Commerce</td>\n",
       "      <td>73.30</td>\n",
       "      <td>Comm&amp;Mgmt</td>\n",
       "      <td>No</td>\n",
       "      <td>96.8</td>\n",
       "      <td>Mkt&amp;Fin</td>\n",
       "      <td>55.50</td>\n",
       "      <td>Placed</td>\n",
       "      <td>425000.0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "  gender  ssc_p    ssc_b  hsc_p    hsc_b     hsc_s  degree_p   degree_t  \\\n",
       "0      M  67.00   Others  91.00   Others  Commerce     58.00   Sci&Tech   \n",
       "1      M  79.33  Central  78.33   Others   Science     77.48   Sci&Tech   \n",
       "2      M  65.00  Central  68.00  Central      Arts     64.00  Comm&Mgmt   \n",
       "3      M  56.00  Central  52.00  Central   Science     52.00   Sci&Tech   \n",
       "4      M  85.80  Central  73.60  Central  Commerce     73.30  Comm&Mgmt   \n",
       "\n",
       "  workex  etest_p specialisation  mba_p      status    salary  \n",
       "0     No     55.0         Mkt&HR  58.80      Placed  270000.0  \n",
       "1    Yes     86.5        Mkt&Fin  66.28      Placed  200000.0  \n",
       "2     No     75.0        Mkt&Fin  57.80      Placed  250000.0  \n",
       "3     No     66.0         Mkt&HR  59.43  Not Placed       NaN  \n",
       "4     No     96.8        Mkt&Fin  55.50      Placed  425000.0  "
      ]
     },
     "execution_count": 7,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df.head()"
   ]
  },

({'cell_type': 'code',
  'execution_count': 7,
  'id': 'ede52b6c',
  'metadata': {},
  'outputs': [{'data': {'text/html': ['<div>\n',
      '<style scoped>\n',
      '    .dataframe tbody tr th:only-of-type {\n',
      '        vertical-align: middle;\n',
      '    }\n',
      '\n',
      '    .dataframe tbody tr th {\n',
      '        vertical-align: top;\n',
      '    }\n',
      '\n',
      '    .dataframe thead th {\n',
      '        text-align: right;\n',
      '    }\n',
      '</style>\n',
      '<table border="1" class="dataframe">\n',
      '  <thead>\n',
      '    <tr style="text-align: right;">\n',
      '      <th></th>\n',
      '      <th>gender</th>\n',
      '      <th>ssc_p</th>\n',
      '      <th>ssc_b</th>\n',
      '      <th>hsc_p</th>\n',
      '      <th>hsc_b</th>\n',
      '      <th>hsc_s</th>\n',
      '      <th>degree_p</th>\n',
      '      <th>degree_t</th>\n',
      '      <th>workex</th>\n',
      '      <th>etest_p</th>\n',
      '      <th>specialisation</th>\n',
      '      <th>mba_p</th>\n',
      '      <th>status</th>\n',
      '      <th>salary</th>\n',
      '    </tr>\n',
      '  </thead>\n',
      '  <tbody>\n',
      '    <tr>\n',
      '      <th>0</th>\n',
      '      <td>M</td>\n',
      '      <td>67.00</td>\n',
      '      <td>Others</td>\n',
      '      <td>91.00</td>\n',
      '      <td>Others</td>\n',
      '      <td>Commerce</td>\n',
      '      <td>58.00</td>\n',
      '      <td>Sci&amp;Tech</td>\n',
      '      <td>No</td>\n',
      '      <td>55.0</td>\n',
      '      <td>Mkt&amp;HR</td>\n',
      '      <td>58.80</td>\n',
      '      <td>Placed</td>\n',
      '      <td>270000.0</td>\n',
      '    </tr>\n',
      '    <tr>\n',
      '      <th>1</th>\n',
      '      <td>M</td>\n',
      '      <td>79.33</td>\n',
      '      <td>Central</td>\n',
      '      <td>78.33</td>\n',
      '      <td>Others</td>\n',
      '      <td>Science</td>\n',
      '      <td>77.48</td>\n',
      '      <td>Sci&amp;Tech</td>\n',
      '      <td>Yes</td>\n',
      '      <td>86.5</td>\n',
      '      <td>Mkt&amp;Fin</td>\n',
      '      <td>66.28</td>\n',
      '      <td>Placed</td>\n',
      '      <td>200000.0</td>\n',
      '    </tr>\n',
      '    <tr>\n',
      '      <th>2</th>\n',
      '      <td>M</td>\n',
      '      <td>65.00</td>\n',
      '      <td>Central</td>\n',
      '      <td>68.00</td>\n',
      '      <td>Central</td>\n',
      '      <td>Arts</td>\n',
      '      <td>64.00</td>\n',
      '      <td>Comm&amp;Mgmt</td>\n',
      '      <td>No</td>\n',
      '      <td>75.0</td>\n',
      '      <td>Mkt&amp;Fin</td>\n',
      '      <td>57.80</td>\n',
      '      <td>Placed</td>\n',
      '      <td>250000.0</td>\n',
      '    </tr>\n',
      '    <tr>\n',
      '      <th>3</th>\n',
      '      <td>M</td>\n',
      '      <td>56.00</td>\n',
      '      <td>Central</td>\n',
      '      <td>52.00</td>\n',
      '      <td>Central</td>\n',
      '      <td>Science</td>\n',
      '      <td>52.00</td>\n',
      '      <td>Sci&amp;Tech</td>\n',
      '      <td>No</td>\n',
      '      <td>66.0</td>\n',
      '      <td>Mkt&amp;HR</td>\n',
      '      <td>59.43</td>\n',
      '      <td>Not Placed</td>\n',
      '      <td>NaN</td>\n',
      '    </tr>\n',
      '    <tr>\n',
      '      <th>4</th>\n',
      '      <td>M</td>\n',
      '      <td>85.80</td>\n',
      '      <td>Central</td>\n',
      '      <td>73.60</td>\n',
      '      <td>Central</td>\n',
      '      <td>Commerce</td>\n',
      '      <td>73.30</td>\n',
      '      <td>Comm&amp;Mgmt</td>\n',
      '      <td>No</td>\n',
      '      <td>96.8</td>\n',
      '      <td>Mkt&amp;Fin</td>\n',
      '      <td>55.50</td>\n',
      '      <td>Placed</td>\n',
      '      <td>425000.0</td>\n',
      '    </tr>\n',
      '  </tbody>\n',
      '</table>\n',
      '</div>'],
     'text/plain': ['  gender  ssc_p    ssc_b  hsc_p    hsc_b     hsc_s  degree_p   degree_t  \\\n',
      '0      M  67.00   Others  91.00   Others  Commerce     58.00   Sci&Tech   \n',
      '1      M  79.33  Central  78.33   Others   Science     77.48   Sci&Tech   \n',
      '2      M  65.00  Central  68.00  Central      Arts     64.00  Comm&Mgmt   \n',
      '3      M  56.00  Central  52.00  Central   Science     52.00   Sci&Tech   \n',
      '4      M  85.80  Central  73.60  Central  Commerce     73.30  Comm&Mgmt   \n',
      '\n',
      '  workex  etest_p specialisation  mba_p      status    salary  \n',
      '0     No     55.0         Mkt&HR  58.80      Placed  270000.0  \n',
      '1    Yes     86.5        Mkt&Fin  66.28      Placed  200000.0  \n',
      '2     No     75.0        Mkt&Fin  57.80      Placed  250000.0  \n',
      '3     No     66.0         Mkt&HR  59.43  Not Placed       NaN  \n',
      '4     No     96.8        Mkt&Fin  55.50      Placed  425000.0  ']},
    'execution_count': 7,
    'metadata': {},
    'output_type': 'execute_result'}],
  'source': ['df.head()']},)

In [9]:
  {
   "cell_type": "code",
   "execution_count": 8,
   "id": "2c2757fe",
   "metadata": {
    "scrolled": true
   },
   "outputs": [
    {
     "data": {
      "text/plain": [
       "0"
      ]
     },
     "execution_count": 8,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# Checkinf for duplicate values\n",
    "df.duplicated().sum()     # We don't have any duplicated values"
   ]
  },

NameError: name 'true' is not defined

In [10]:
  {
   "cell_type": "code",
   "execution_count": 9,
   "id": "4457b6fe",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "gender             object\n",
       "ssc_p             float64\n",
       "ssc_b              object\n",
       "hsc_p             float64\n",
       "hsc_b              object\n",
       "hsc_s              object\n",
       "degree_p          float64\n",
       "degree_t           object\n",
       "workex             object\n",
       "etest_p           float64\n",
       "specialisation     object\n",
       "mba_p             float64\n",
       "status             object\n",
       "salary            float64\n",
       "dtype: object"
      ]
     },
     "execution_count": 9,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df.dtypes     # Shows the data type of each variable"
   ]
  },

({'cell_type': 'code',
  'execution_count': 9,
  'id': '4457b6fe',
  'metadata': {},
  'outputs': [{'data': {'text/plain': ['gender             object\n',
      'ssc_p             float64\n',
      'ssc_b              object\n',
      'hsc_p             float64\n',
      'hsc_b              object\n',
      'hsc_s              object\n',
      'degree_p          float64\n',
      'degree_t           object\n',
      'workex             object\n',
      'etest_p           float64\n',
      'specialisation     object\n',
      'mba_p             float64\n',
      'status             object\n',
      'salary            float64\n',
      'dtype: object']},
    'execution_count': 9,
    'metadata': {},
    'output_type': 'execute_result'}],
  'source': ['df.dtypes     # Shows the data type of each variable']},)

In [11]:
  {
   "cell_type": "code",
   "execution_count": 10,
   "id": "a623cec6",
   "metadata": {
    "scrolled": true
   },

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_16808/2519950760.py, line 7)

In [12]:
 {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>ssc_p</th>\n",
       "      <th>hsc_p</th>\n",
       "      <th>degree_p</th>\n",
       "      <th>etest_p</th>\n",
       "      <th>mba_p</th>\n",
       "      <th>salary</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>count</th>\n",
       "      <td>215.0</td>\n",
       "      <td>215.0</td>\n",
       "      <td>215.0</td>\n",
       "      <td>215.0</td>\n",
       "      <td>215.0</td>\n",
       "      <td>148.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>mean</th>\n",
       "      <td>67.0</td>\n",
       "      <td>66.0</td>\n",
       "      <td>66.0</td>\n",
       "      <td>72.0</td>\n",
       "      <td>62.0</td>\n",
       "      <td>288655.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>std</th>\n",
       "      <td>11.0</td>\n",
       "      <td>11.0</td>\n",
       "      <td>7.0</td>\n",
       "      <td>13.0</td>\n",
       "      <td>6.0</td>\n",
       "      <td>93457.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>min</th>\n",
       "      <td>41.0</td>\n",
       "      <td>37.0</td>\n",
       "      <td>50.0</td>\n",
       "      <td>50.0</td>\n",
       "      <td>51.0</td>\n",
       "      <td>200000.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>25%</th>\n",
       "      <td>61.0</td>\n",
       "      <td>61.0</td>\n",
       "      <td>61.0</td>\n",
       "      <td>60.0</td>\n",
       "      <td>58.0</td>\n",
       "      <td>240000.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>50%</th>\n",
       "      <td>67.0</td>\n",
       "      <td>65.0</td>\n",
       "      <td>66.0</td>\n",
       "      <td>71.0</td>\n",
       "      <td>62.0</td>\n",
       "      <td>265000.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>75%</th>\n",
       "      <td>76.0</td>\n",
       "      <td>73.0</td>\n",
       "      <td>72.0</td>\n",
       "      <td>84.0</td>\n",
       "      <td>66.0</td>\n",
       "      <td>300000.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>max</th>\n",
       "      <td>89.0</td>\n",
       "      <td>98.0</td>\n",
       "      <td>91.0</td>\n",
       "      <td>98.0</td>\n",
       "      <td>78.0</td>\n",
       "      <td>940000.0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "       ssc_p  hsc_p  degree_p  etest_p  mba_p    salary\n",
       "count  215.0  215.0     215.0    215.0  215.0     148.0\n",
       "mean    67.0   66.0      66.0     72.0   62.0  288655.0\n",
       "std     11.0   11.0       7.0     13.0    6.0   93457.0\n",
       "min     41.0   37.0      50.0     50.0   51.0  200000.0\n",
       "25%     61.0   61.0      61.0     60.0   58.0  240000.0\n",
       "50%     67.0   65.0      66.0     71.0   62.0  265000.0\n",
       "75%     76.0   73.0      72.0     84.0   66.0  300000.0\n",
       "max     89.0   98.0      91.0     98.0   78.0  940000.0"
      ]
     },
     "execution_count": 10,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df.describe().round()  # Gives the statistical Summary of the numeric variables in a dataset"
   ]
  },

IndentationError: unexpected indent (Temp/ipykernel_16808/741055968.py, line 123)

In [13]:
 {
   "cell_type": "code",
   "execution_count": 11,
   "id": "07bd0b70",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "Index(['gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s', 'degree_p',\n",
       "       'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p', 'status',\n",
       "       'salary'],\n",
       "      dtype='object')"
      ]
     },
     "execution_count": 11,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "#finding columns names in the dataset\n",
    "df.columns"
   ]
  },

({'cell_type': 'code',
  'execution_count': 11,
  'id': '07bd0b70',
  'metadata': {},
  'outputs': [{'data': {'text/plain': ["Index(['gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s', 'degree_p',\n",
      "       'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p', 'status',\n",
      "       'salary'],\n",
      "      dtype='object')"]},
    'execution_count': 11,
    'metadata': {},
    'output_type': 'execute_result'}],
  'source': ['#finding columns names in the dataset\n', 'df.columns']},)

In [14]:
  {
   "cell_type": "code",
   "execution_count": 12,
   "id": "72641cf5",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "['Others' 'Central']\n",
      "['Others' 'Central']\n",
      "['Commerce' 'Science' 'Arts']\n",
      "['Sci&Tech' 'Comm&Mgmt' 'Others']\n",
      "['No' 'Yes']\n",
      "['Mkt&HR' 'Mkt&Fin']\n",
      "['Placed' 'Not Placed']\n"
     ]
    }
   ],
   "source": [
    "# Looking for the unique values of Categorical Features in the dataset\n",
    "print(df['ssc_b'].unique())\n",
    "print(df['hsc_b'].unique())\n",
    "print(df['hsc_s'].unique())\n",
    "print(df['degree_t'].unique())\n",
    "print(df['workex'].unique())\n",
    "print(df['specialisation'].unique())\n",
    "print(df['status'].unique())"
   ]
  },

({'cell_type': 'code',
  'execution_count': 12,
  'id': '72641cf5',
  'metadata': {},
  'outputs': [{'name': 'stdout',
    'output_type': 'stream',
    'text': ["['Others' 'Central']\n",
     "['Others' 'Central']\n",
     "['Commerce' 'Science' 'Arts']\n",
     "['Sci&Tech' 'Comm&Mgmt' 'Others']\n",
     "['No' 'Yes']\n",
     "['Mkt&HR' 'Mkt&Fin']\n",
     "['Placed' 'Not Placed']\n"]}],
  'source': ['# Looking for the unique values of Categorical Features in the dataset\n',
   "print(df['ssc_b'].unique())\n",
   "print(df['hsc_b'].unique())\n",
   "print(df['hsc_s'].unique())\n",
   "print(df['degree_t'].unique())\n",
   "print(df['workex'].unique())\n",
   "print(df['specialisation'].unique())\n",
   "print(df['status'].unique())"]},)

In [15]:
  {
   "cell_type": "code",
   "execution_count": 13,
   "id": "260492cc",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "gender             0\n",
       "ssc_p              0\n",
       "ssc_b              0\n",
       "hsc_p              0\n",
       "hsc_b              0\n",
       "hsc_s              0\n",
       "degree_p           0\n",
       "degree_t           0\n",
       "workex             0\n",
       "etest_p            0\n",
       "specialisation     0\n",
       "mba_p              0\n",
       "status             0\n",
       "salary            67\n",
       "dtype: int64"
      ]
     },
     "execution_count": 13,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "#Checking Null values\n",
    "df.isnull().sum()      "
   ]
  },

({'cell_type': 'code',
  'execution_count': 13,
  'id': '260492cc',
  'metadata': {},
  'outputs': [{'data': {'text/plain': ['gender             0\n',
      'ssc_p              0\n',
      'ssc_b              0\n',
      'hsc_p              0\n',
      'hsc_b              0\n',
      'hsc_s              0\n',
      'degree_p           0\n',
      'degree_t           0\n',
      'workex             0\n',
      'etest_p            0\n',
      'specialisation     0\n',
      'mba_p              0\n',
      'status             0\n',
      'salary            67\n',
      'dtype: int64']},
    'execution_count': 13,
    'metadata': {},
    'output_type': 'execute_result'}],
  'source': ['#Checking Null values\n', 'df.isnull().sum()      ']},)

In [16]:
  {
   "cell_type": "code",
   "execution_count": 14,
   "id": "6bf96d7d",
   "metadata": {},
   "outputs": [],
   "source": [
    "# Salary variable has 67 null values\n",
    "# So, we had made a separate dataframe for not null values in all columns for the purpose of data exploration.\n",
    "null_salary_data = df[df['salary'].notna()]\n",
    "null_salary_data = null_salary_data.reset_index(drop = True)"
   ]
  },

({'cell_type': 'code',
  'execution_count': 14,
  'id': '6bf96d7d',
  'metadata': {},
  'outputs': [],
  'source': ['# Salary variable has 67 null values\n',
   '# So, we had made a separate dataframe for not null values in all columns for the purpose of data exploration.\n',
   "null_salary_data = df[df['salary'].notna()]\n",
   'null_salary_data = null_salary_data.reset_index(drop = True)']},)

In [17]:
 {
   "cell_type": "code",
   "execution_count": 15,
   "id": "2308e95d",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "M    139\n",
       "F     76\n",
       "Name: gender, dtype: int64"
      ]
     },
     "execution_count": 15,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "#Finding out total number of Males and females in the dataset\n",
    "df['gender'].value_counts()  #There are 139 Males and 76 Females "
   ]
  },

({'cell_type': 'code',
  'execution_count': 15,
  'id': '2308e95d',
  'metadata': {},
  'outputs': [{'data': {'text/plain': ['M    139\n',
      'F     76\n',
      'Name: gender, dtype: int64']},
    'execution_count': 15,
    'metadata': {},
    'output_type': 'execute_result'}],
  'source': ['#Finding out total number of Males and females in the dataset\n',
   "df['gender'].value_counts()  #There are 139 Males and 76 Females "]},)

In [18]:
 {
   "cell_type": "code",
   "execution_count": 16,
   "id": "b72c4b57",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "Central    116\n",
       "Others      99\n",
       "Name: ssc_b, dtype: int64"
      ]
     },
     "execution_count": 16,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# Finding out total number of students who were from Central Board  and from other Board in 10th standard in this dataset. \n",
    "df['ssc_b'].value_counts() # Hence, 116 Students were from Central Board and 99 students were from other boards in 10th Class "
   ]
  },

({'cell_type': 'code',
  'execution_count': 16,
  'id': 'b72c4b57',
  'metadata': {},
  'outputs': [{'data': {'text/plain': ['Central    116\n',
      'Others      99\n',
      'Name: ssc_b, dtype: int64']},
    'execution_count': 16,
    'metadata': {},
    'output_type': 'execute_result'}],
  'source': ['# Finding out total number of students who were from Central Board  and from other Board in 10th standard in this dataset. \n',
   "df['ssc_b'].value_counts() # Hence, 116 Students were from Central Board and 99 students were from other boards in 10th Class "]},)

In [19]:
 {
   "cell_type": "code",
   "execution_count": 17,
   "id": "ac853a3f",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "Others     131\n",
       "Central     84\n",
       "Name: hsc_b, dtype: int64"
      ]
     },
     "execution_count": 17,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# Finding out total number of students who were from Central Board  and from other Board in 12th standard in this dataset.\n",
    "df['hsc_b'].value_counts() # Hence, Only 84 Students were from Central Board and 131 are from others Boards in 12th Class"
   ]
  },

({'cell_type': 'code',
  'execution_count': 17,
  'id': 'ac853a3f',
  'metadata': {},
  'outputs': [{'data': {'text/plain': ['Others     131\n',
      'Central     84\n',
      'Name: hsc_b, dtype: int64']},
    'execution_count': 17,
    'metadata': {},
    'output_type': 'execute_result'}],
  'source': ['# Finding out total number of students who were from Central Board  and from other Board in 12th standard in this dataset.\n',
   "df['hsc_b'].value_counts() # Hence, Only 84 Students were from Central Board and 131 are from others Boards in 12th Class"]},)

In [20]:
 {
   "cell_type": "code",
   "execution_count": 18,
   "id": "890243fd",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "Commerce    113\n",
       "Science      91\n",
       "Arts         11\n",
       "Name: hsc_s, dtype: int64"
      ]
     },
     "execution_count": 18,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# Finding out total number of students who have opted for science, commerece and arts in 12th standard in this dataset.\n",
    "df['hsc_s'].value_counts() # Hence, 113 students taken Commerce as compared to 91 science and 11 Arts"
   ]
  },

({'cell_type': 'code',
  'execution_count': 18,
  'id': '890243fd',
  'metadata': {},
  'outputs': [{'data': {'text/plain': ['Commerce    113\n',
      'Science      91\n',
      'Arts         11\n',
      'Name: hsc_s, dtype: int64']},
    'execution_count': 18,
    'metadata': {},
    'output_type': 'execute_result'}],
  'source': ['# Finding out total number of students who have opted for science, commerece and arts in 12th standard in this dataset.\n',
   "df['hsc_s'].value_counts() # Hence, 113 students taken Commerce as compared to 91 science and 11 Arts"]},)

In [21]:

  {
   "cell_type": "code",
   "execution_count": 19,
   "id": "61db9b5f",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "No     141\n",
       "Yes     74\n",
       "Name: workex, dtype: int64"
      ]
     },
     "execution_count": 19,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# Finding out total number of students who have work experience and who did'nt have work experience in this dataset.\n",
    "df['workex'].value_counts() # Therfore, Maximum of 141 students didn't have Experience as compared to 74 Experienced"
   ]
  },

({'cell_type': 'code',
  'execution_count': 19,
  'id': '61db9b5f',
  'metadata': {},
  'outputs': [{'data': {'text/plain': ['No     141\n',
      'Yes     74\n',
      'Name: workex, dtype: int64']},
    'execution_count': 19,
    'metadata': {},
    'output_type': 'execute_result'}],
  'source': ["# Finding out total number of students who have work experience and who did'nt have work experience in this dataset.\n",
   "df['workex'].value_counts() # Therfore, Maximum of 141 students didn't have Experience as compared to 74 Experienced"]},)

In [22]:
 {
   "cell_type": "code",
   "execution_count": 20,
   "id": "3df421cd",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "Mkt&Fin    120\n",
       "Mkt&HR      95\n",
       "Name: specialisation, dtype: int64"
      ]
     },
     "execution_count": 20,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# Finding out total number of students who have specialization in Marketing-finance or Marketing-HR in this dataset.\n",
    "df['specialisation'].value_counts() # There are 120 students have Specialization in Marketing-finance and 95 in Marketing-HR"
   ]
  },

({'cell_type': 'code',
  'execution_count': 20,
  'id': '3df421cd',
  'metadata': {},
  'outputs': [{'data': {'text/plain': ['Mkt&Fin    120\n',
      'Mkt&HR      95\n',
      'Name: specialisation, dtype: int64']},
    'execution_count': 20,
    'metadata': {},
    'output_type': 'execute_result'}],
  'source': ['# Finding out total number of students who have specialization in Marketing-finance or Marketing-HR in this dataset.\n',
   "df['specialisation'].value_counts() # There are 120 students have Specialization in Marketing-finance and 95 in Marketing-HR"]},)

In [23]:
  {
   "cell_type": "code",
   "execution_count": 21,
   "id": "5f77b6fb",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "Placed        148\n",
       "Not Placed     67\n",
       "Name: status, dtype: int64"
      ]
     },
     "execution_count": 21,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# Finding out total number of students who have got placed or not in a company in this dataset.\n",
    "df['status'].value_counts() # 148 students got placed as compared to 67 not placed students"
   ]
  },

({'cell_type': 'code',
  'execution_count': 21,
  'id': '5f77b6fb',
  'metadata': {},
  'outputs': [{'data': {'text/plain': ['Placed        148\n',
      'Not Placed     67\n',
      'Name: status, dtype: int64']},
    'execution_count': 21,
    'metadata': {},
    'output_type': 'execute_result'}],
  'source': ['# Finding out total number of students who have got placed or not in a company in this dataset.\n',
   "df['status'].value_counts() # 148 students got placed as compared to 67 not placed students"]},)

In [24]:
  {
   "cell_type": "code",
   "execution_count": 22,
   "id": "153e385d",
   "metadata": {},
   "outputs": [
    {
     "name": "stderr",
     "output_type": "stream",
     "text": [
      "C:\\ProgramData\\Anaconda31\\lib\\site-packages\\seaborn\\_decorators.py:36: FutureWarning: Pass the following variable as a keyword arg: x. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.\n",
      "  warnings.warn(\n"
     ]
    },

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_16808/754752390.py, line 14)

In [25]:

    {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAAYUAAAEGCAYAAACKB4k+AAAAOXRFWHRTb2Z0d2FyZQBNYXRwbG90bGliIHZlcnNpb24zLjMuNCwgaHR0cHM6Ly9tYXRwbG90bGliLm9yZy8QVMy6AAAACXBIWXMAAAsTAAALEwEAmpwYAAAXGklEQVR4nO3de5BV5Znv8e9D09oS0OHSMCgqJuUFuTSQRrwQ0OkTTI4RjLdoeQG1gidlBjUJRpMcQRMSp7yTOFg4BlApFRhFHUNyFHHMoIcRDN5gEnQ8IMpAQyIXjYnAe/7ozZoGGmiRvVfD/n6qrL3Xuy48q6vh57vetd4VKSUkSQJolXcBkqSWw1CQJGUMBUlSxlCQJGUMBUlSpnXeBXwWnTp1St27d8+7DEnapyxcuHBNSqm6qXX7dCh0796dBQsW5F2GJO1TImLZztZ5+UiSlDEUJEkZQ0GSlNmnxxQk7ds++eQTVqxYwccff5x3KfulqqoqunXrRmVlZbP3MRQk5WbFihW0a9eO7t27ExF5l7NfSSmxdu1aVqxYwVFHHdXs/bx8JCk3H3/8MR07djQQiiAi6Nix46fuhRUtFCLilxGxOiLeaNTWISKeiYilhc/2jdbdEBFvRcTvI+L0YtUlqWUxEIpnT362xewpTAG+sl3b9cCclNLRwJzCMhFxPHAB0LOwzz9GREURa5MkNaFooZBSegH443bNw4Gphe9TgbMatT+SUvpLSukd4C3ghGLVJknbu+uuu/joo4/22nb7qlIPNHdJKa0ESCmtjIjOhfbDgP/baLsVhbYdRMQoYBTAEUcc8ZkL+uKYBz7zMfYXC2+9NO8SpNzcddddXHzxxbRp02avbLevaikDzU1d+GrylXAppUkppdqUUm11dZNTd0jSLn344YecccYZ1NTU0KtXL2666Sbef/99TjvtNE477TQAvvWtb1FbW0vPnj0ZO3YsABMmTNhhu7Zt22bHnTlzJiNHjgRgxowZ9OrVi5qaGgYPHlzaE/wMSt1TWBURXQu9hK7A6kL7CuDwRtt1A94vcW2SysSvf/1rDj30UJ5++mkA1q1bx+TJk5k7dy6dOnUCYPz48XTo0IHNmzdTV1fHa6+9xujRo7njjju22W5nbr75Zn7zm99w2GGH8cEHHxT7lPaaUvcUngRGFL6PAJ5o1H5BRBwYEUcBRwP/XuLaJJWJ3r178+yzz/L973+f3/72txxyyCE7bDN9+nT69+9Pv379ePPNN1m8ePGn+jNOOeUURo4cyX333cfmzZv3VulFV7SeQkQ8DJwKdIqIFcBY4BZgekRcASwHzgNIKb0ZEdOBxcAm4KqU0r7zU5S0TznmmGNYuHAhv/rVr7jhhhsYOnToNuvfeecdbrvtNl5++WXat2/PyJEjd3q/f+PbPhtvc++99zJ//nyefvpp+vbty6JFi+jYsWNxTmgvKloopJQu3Mmqup1sPx4YX6x6JGmr999/nw4dOnDxxRfTtm1bpkyZQrt27diwYQOdOnVi/fr1fO5zn+OQQw5h1apVzJ49m1NPPRVgm+0AunTpwpIlSzj22GN5/PHHadeuHQBvv/02AwcOZODAgTz11FO8++675R0KktRSvf7664wZM4ZWrVpRWVnJxIkTeemll/jqV79K165dmTt3Lv369aNnz558/vOf55RTTsn2HTVq1Dbb3XLLLXzta1/j8MMPp1evXmzcuBGAMWPGsHTpUlJK1NXVUVNTk9fpfiqRUpM3+ewTamtr02d9yY63pP43b0lVqS1ZsoQePXrkXcZ+ramfcUQsTCnVNrV9S7klVZLUAhgKkqSMoSBJyhgKkqSMoSBJyhgKkqSMzylIajH29i3izbnNuqKigt69e7Np0yZ69OjB1KlTadOmDW3bts2eOSiG7t27s2DBgt3OoVRq9hQklbWDDjqIRYsW8cYbb3DAAQdw77335l1SrgwFSSr40pe+xFtvvbVN28aNG6mrq6N///707t2bJ554Ilv3wAMP0KdPH2pqarjkkksAqK+v55xzzmHAgAEMGDCAefPmAbB27VqGDh1Kv379uPLKK2mpDw57+UiSgE2bNjF79my+8pVt3yJcVVXF448/zsEHH8yaNWs48cQTGTZsGIsXL2b8+PHMmzePTp068cc/Nrxo8uqrr+baa69l0KBBLF++nNNPP50lS5Zw0003MWjQIG688UaefvppJk2alMdp7pahIKms/fnPf6Zv375AQ0/hiiuu2GZ9Sokf/OAHvPDCC7Rq1Yr33nuPVatW8dxzz3HuuedmYwIdOnQA4Nlnn91mmu3169ezYcMGXnjhBR577DEAzjjjDNq3b1+Cs/v0DAVJZW3rmMLOTJs2jfr6ehYuXEhlZSXdu3fn448/JqW0zbTZW23ZsoWXXnqJgw46aId1TW3f0jimIEm7sG7dOjp37kxlZSVz585l2bJlANTV1TF9+nTWrl0LkF0+Gjp0KL/4xS+y/bcGzuDBg5k2bRoAs2fP5k9/+lMJz6L57ClIajFa4ky9F110EWeeeSa1tbX07duX4447DoCePXvywx/+kCFDhlBRUUG/fv2YMmUKEyZM4KqrrqJPnz5s2rSJwYMHc++99zJ27FguvPBC+vfvz5AhQzjiiCNyPrOmOXW2U2dnWuJfSO3fnDq7+Jw6W5K0xwwFSVLGUJAkZQwFSVLGUJAkZQwFSVLG5xQktRjLb+69V493xI2v73abiOA73/kOt99+OwC33XYbGzduZNy4cTvdZ9asWRxzzDEcf/zxO6wbN24c9913H9XV1WzatImf/vSnDBs2jHHjxtG2bVu+973v7fH57MqUKVNYsGDBNg/O7Ql7CpLK2oEHHshjjz3GmjVrmr3PrFmztpnfaHvXXnstixYtYsaMGVx++eVs2bJlb5RaEoaCpLLWunVrRo0axZ133rnDumXLllFXV0efPn2oq6tj+fLlvPjiizz55JOMGTOGvn378vbbb+/02D169KB169Y7BM59993HgAEDqKmp4ZxzzuGjjz4CYNWqVXz961+npqaGmpoaXnzxRQAeeughTjjhBPr27cuVV17J5s2bAZg8eTLHHHMMQ4YMyabo/qwMBUll76qrrmLatGmsW7dum/Zvf/vbXHrppbz22mtcdNFFjB49mpNPPplhw4Zx6623smjRIr7whS/s9Ljz58+nVatWVFdXb9N+9tln8/LLL/Pqq6/So0cP7r//fgBGjx7NkCFDePXVV3nllVfo2bMnS5Ys4dFHH2XevHksWrSIiooKpk2bxsqVKxk7dizz5s3jmWee2WXP5dNwTEFS2Tv44IO59NJLmTBhwjazm7700kvZdNeXXHIJ1113XbOOd+edd/LQQw/Rrl07Hn300R1mR33jjTf40Y9+xAcffMDGjRs5/fTTAXjuued44IGGqXcqKio45JBDePDBB1m4cCEDBgwAGqb67ty5M/Pnz+fUU0/NAucb3/gGf/jDHz7bDwJDQZIAuOaaa+jfvz+XXXbZTrdp7tTX11577S4HlEeOHMmsWbOoqalhypQpPP/88zvdNqXEiBEj+NnPfrZN+6xZs4oyFbeXjySJhpfknH/++dmlHICTTz6ZRx55BGh4r8KgQYMAaNeuHRs2bNjjP2vDhg107dqVTz75JJtOGxqm4544cSIAmzdvZv369dTV1TFz5kxWr14NNEzRvWzZMgYOHMjzzz/P2rVr+eSTT5gxY8Ye19OYPQVJLUZzbiEtpu9+97vb3NI5YcIELr/8cm699Vaqq6uZPHkyABdccAHf/OY3mTBhAjNnztzluEJTfvzjHzNw4ECOPPJIevfunQXM3XffzahRo7j//vupqKhg4sSJnHTSSfzkJz9h6NChbNmyhcrKSu655x5OPPFExo0bx0knnUTXrl3p379/NgD9WTh1tlNnZ5w6W6Xm1NnFt09MnR0R10bEmxHxRkQ8HBFVEdEhIp6JiKWFz5b5AlNJ2o+VPBQi4jBgNFCbUuoFVAAXANcDc1JKRwNzCsuSpBLKa6C5NXBQRLQG2gDvA8OBqYX1U4Gz8ilNUinty5ewW7o9+dmWPBRSSu8BtwHLgZXAupTS/wG6pJRWFrZZCXRuav+IGBURCyJiQX19fanKllQEVVVVrF271mAogpQSa9eupaqq6lPtV/K7jwpjBcOBo4APgBkRcXFz908pTQImQcNAczFqlFQa3bp1Y8WKFfg/eMVRVVVFt27dPtU+edyS+j+Ad1JK9QAR8RhwMrAqIrqmlFZGRFdgdQ61SSqhyspKjjrqqLzLUCN5jCksB06MiDbR8DheHbAEeBIYUdhmBPBEDrVJUlkreU8hpTQ/ImYCrwCbgN/RcDmoLTA9Iq6gITjOK3VtklTucnmiOaU0Fhi7XfNfaOg1SJJy4txHkqSMoSBJyhgKkqSMoSBJyhgKkqSMoSBJyhgKkqSMoSBJyhgKkqSMoSBJyhgKkqSMoSBJyhgKkqSMoSBJyhgKkqSMoSBJyhgKkqSMoSBJyhgKkqSMoSBJyhgKkqSMoSBJyhgKkqSMoSBJyhgKkqSMoSBJyhgKkqSMoSBJyhgKkqSMoSBJyhgKkqSMoSBJyuQSChHxNxExMyL+IyKWRMRJEdEhIp6JiKWFz/Z51CZJ5SyvnsLdwK9TSscBNcAS4HpgTkrpaGBOYVmSVEIlD4WIOBgYDNwPkFL6a0rpA2A4MLWw2VTgrFLXJknlLo+ewueBemByRPwuIv4pIj4HdEkprQQofHbOoTZJKmt5hEJroD8wMaXUD/iQT3GpKCJGRcSCiFhQX19frBolqSzlEQorgBUppfmF5Zk0hMSqiOgKUPhc3dTOKaVJKaXalFJtdXV1SQqWpHJR8lBIKf0X8G5EHFtoqgMWA08CIwptI4AnSl2bJJW71jn9uX8PTIuIA4D/BC6jIaCmR8QVwHLgvJxqk6Sy1axQiIg5KaW63bU1V0ppEVDbxKo9Op4kae/YZShERBXQBuhUeJgsCqsOBg4tcm2SpBLbXU/hSuAaGgJgIf8dCuuBe4pXliQpD7sMhZTS3cDdEfH3KaWfl6gmSVJOmjWmkFL6eUScDHRvvE9K6YEi1SVJykFzB5ofBL4ALAI2F5oTYChI0n6kubek1gLHp5RSMYuRJOWruQ+vvQH8bTELkSTlr7k9hU7A4oj4d+AvWxtTSsOKUpUkKRfNDYVxxSxCktQyNPfuo38tdiGSpPw19+6jDTTcbQRwAFAJfJhSOrhYhUmSSq+5PYV2jZcj4izghGIUJEnKzx5NnZ1SmgX83d4tRZKUt+ZePjq70WIrGp5b8JkFSdrPNPfuozMbfd8E/D9g+F6vRpKUq+aOKVxW7EIkSflr1phCRHSLiMcjYnVErIqIf46IbsUuTpJUWs0daJ5MwzuUDwUOA54qtEmS9iPNDYXqlNLklNKmwn9TgOoi1iVJykFzB5rXRMTFwMOF5QuBtcUpSRLAF8c4M/1WC2+9NO8SykZzewqXA+cD/wWsBM4FHHyWpP1Mc3sKPwZGpJT+BBARHYDbaAgLSdJ+ork9hT5bAwEgpfRHoF9xSpIk5aW5odAqItpvXSj0FJrby5Ak7SOa+w/77cCLETGThuktzgfGF60qSVIumvtE8wMRsYCGSfACODultLiolUmSSq7Zl4AKIWAQSNJ+bI+mzpYk7Z8MBUlSxlCQJGUMBUlSxlCQJGUMBUlSJrdQiIiKiPhdRPxLYblDRDwTEUsLn+13dwxJ0t6VZ0/hamBJo+XrgTkppaOBOYVlSVIJ5RIKhVd5ngH8U6Pm4cDUwvepwFklLkuSyl5ePYW7gOuALY3auqSUVgIUPjs3tWNEjIqIBRGxoL6+vuiFSlI5KXkoRMTXgNUppYV7sn9KaVJKqTalVFtd7RtBJWlvymP661OAYRHxP4Eq4OCIeAhYFRFdU0orI6IrsDqH2sra8pt7511Ci3HEja/nXYKUi5L3FFJKN6SUuqWUugMXAM+llC4GngRGFDYbATxR6tokqdy1pOcUbgG+HBFLgS8XliVJJZTr29NSSs8Dzxe+rwXq8qxHkspdS+opSJJyZihIkjKGgiQpYyhIkjKGgiQpYyhIkjKGgiQpYyhIkjKGgiQpYyhIkjKGgiQpYyhIkjKGgiQpYyhIkjKGgiQpYyhIkjKGgiQpYyhIkjKGgiQpk+s7miWpOZbf3DvvElqMI258vajHt6cgScoYCpKkjKEgScoYCpKkjKEgScoYCpKkjKEgScoYCpKkjKEgScoYCpKkjKEgScoYCpKkTMlDISIOj4i5EbEkIt6MiKsL7R0i4pmIWFr4bF/q2iSp3OXRU9gEfDel1AM4EbgqIo4HrgfmpJSOBuYUliVJJVTyUEgprUwpvVL4vgFYAhwGDAemFjabCpxV6tokqdzlOqYQEd2BfsB8oEtKaSU0BAfQeSf7jIqIBRGxoL6+vmS1SlI5yC0UIqIt8M/ANSml9c3dL6U0KaVUm1Kqra6uLl6BklSGcgmFiKikIRCmpZQeKzSvioiuhfVdgdV51CZJ5SyPu48CuB9YklK6o9GqJ4ERhe8jgCdKXZsklbs83tF8CnAJ8HpELCq0/QC4BZgeEVcAy4HzcqhNkspayUMhpfRvQOxkdV0pa5EkbcsnmiVJGUNBkpQxFCRJGUNBkpQxFCRJGUNBkpQxFCRJGUNBkpQxFCRJGUNBkpQxFCRJGUNBkpQxFCRJGUNBkpQxFCRJGUNBkpQxFCRJGUNBkpQxFCRJGUNBkpQxFCRJGUNBkpQxFCRJGUNBkpQxFCRJGUNBkpQxFCRJGUNBkpQxFCRJGUNBkpQxFCRJGUNBkpQxFCRJmRYXChHxlYj4fUS8FRHX512PJJWTFhUKEVEB3AN8FTgeuDAijs+3KkkqHy0qFIATgLdSSv+ZUvor8AgwPOeaJKlstM67gO0cBrzbaHkFMLDxBhExChhVWNwYEb8vUW37vSOhE7Am7zpahLGRdwVqxN/NRvbO7+aRO1vR0kKhqbNN2yykNAmYVJpyyktELEgp1eZdh7Q9fzdLp6VdPloBHN5ouRvwfk61SFLZaWmh8DJwdEQcFREHABcAT+ZckySVjRZ1+SiltCkivg38BqgAfplSejPnssqJl+XUUvm7WSKRUtr9VpKkstDSLh9JknJkKEiSMoZCmYuIFBEPNlpuHRH1EfEvedYlbRURmyNiUaP/uudd0/6sRQ00KxcfAr0i4qCU0p+BLwPv5VyT1NifU0p98y6iXNhTEMBs4IzC9wuBh3OsRVKODAVBwxxTF0REFdAHmJ9zPVJjBzW6dPR43sXs77x8JFJKrxWu014I/CrncqTtefmohAwFbfUkcBtwKtAx31Ik5cVQ0Fa/BNallF6PiFNzrkVSTgwFAZBSWgHcnXcdkvLlNBeSpIx3H0mSMoaCJCljKEiSMoaCJCljKEiSMoaCVCIRMSUizs27DmlXDAWphYoInyNSyflLJzUhIv43cBHwLrAGWAg8DtwDVAMfAd9MKf1HREwB1gO1wN8C16WUZkZEAD8H/g54B4hGx/8icAfQtnD8kSmllRHxPPAicAoNU4/cXvSTlRoxFKTtREQtcA7Qj4a/I6/QEAqTgP+VUloaEQOBf6ThH3yArsAg4Dga/jGfCXwdOBboDXQBFgO/jIhKGsJieEqpPiK+AYwHLi8c629SSkOKfqJSEwwFaUeDgCcKLx0iIp4CqoCTgRkNHQAADmy0z6yU0hZgcUR0KbQNBh5OKW0G3o+I5wrtxwK9gGcKx6oAVjY61qN7/5Sk5jEUpB1FE22tgA92MYXzX3ayf1PzyATwZkrppJ0c68PdVigViQPN0o7+DTgzIqoioi0Nb6X7CHgnIs4DiAY1uznOCzS8vKgiIroCpxXafw9UR8RJhWNVRkTPopyJ9CkZCtJ2Ukov0zAu8CrwGLAAWEfDwPMVEfEq8CYwfDeHehxYCrwOTAT+tXD8vwLnAv9QONYiGi5NSblzllSpCRHRNqW0MSLa0PB//KNSSq/kXZdUbI4pSE2bFBHH0zDAPNVAULmwpyBJyjimIEnKGAqSpIyhIEnKGAqSpIyhIEnK/H+7rWJnYGAWqwAAAABJRU5ErkJggg==\n",
      "text/plain": [
       "<Figure size 432x288 with 1 Axes>"
      ]
     },
     "metadata": {
      "needs_background": "light"
     },
     "output_type": "display_data"
    }
   ],
   "source": [
    "# Does gender affect placements in this particular dataset?\n",
    "sns.countplot(\"gender\", hue=\"status\", data=df)\n",
    "plt.show()"
   ]
  },

IndentationError: unexpected indent (Temp/ipykernel_16808/448731796.py, line 13)

In [26]:
  {
   "cell_type": "code",
   "execution_count": 23,
   "id": "15e2cb12",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAAXgAAAERCAYAAABxZrw0AAAAOXRFWHRTb2Z0d2FyZQBNYXRwbG90bGliIHZlcnNpb24zLjMuNCwgaHR0cHM6Ly9tYXRwbG90bGliLm9yZy8QVMy6AAAACXBIWXMAAAsTAAALEwEAmpwYAAA9hklEQVR4nO3dd3hc1Zn48e87M+q9S5Ysy1XuBcsG7ACm1wCbsAE2AQLZkN1sWEJCSCVtk2x2k91fSIcQQjYQAqH3BAjGEEyxce/dKrZ67+X8/rgzskaakcay7jS9n+fRc6Vz27kyvHN0zrnvEWMMSimloo8j1BVQSillDw3wSikVpTTAK6VUlNIAr5RSUUoDvFJKRSkN8EopFaXCLsCLyAMiUiMi2yfoesUi8lcR2SUiO0WkZCKuq5RS4S7sAjzwIHDJBF7v/4AfGWPmASuBmgm8tlJKha2wC/DGmHVAw9AyEZkpIi+LyEYReVNE5gZyLRGZD7iMMa+4r91mjOmY+ForpVT4CbsA78d9wG3GmOXAncAvAzxvDtAkIk+KyCYR+ZGIOG2rpVJKhRFXqCswFhFJBlYBfxYRT3Gce99HgO/6OK3SGHMx1vOdBSwDjgKPAp8EfmtvrZVSKvTCPsBj/ZXRZIxZOnyHMeZJ4MlRzq0ANhljDgKIyNPAGWiAV0pNAmHfRWOMaQEOicg/AohlSYCnvw9kiEiO++fzgJ02VFMppcJO2AV4EXkEWA+UikiFiHwK+DjwKRHZAuwArgrkWsaYfqw++9dEZBsgwG/sqblSSoUX0XTBSikVncKuBa+UUmpihNUga3Z2tikpKQl1NZRSKmJs3LixzhiT42tfWAX4kpISNmzYEOpqKKVUxBCRI/72aReNUkpFKQ3wSikVpTTAK6VUlAqrPnil1OTW29tLRUUFXV1doa5K2ImPj6eoqIiYmJiAz9EAr5QKGxUVFaSkpFBSUsKQ3FOTnjGG+vp6KioqmD59esDnaReNUipsdHV1kZWVpcF9GBEhKyvrpP+y0QCvlAorGtx9G8/vRQO8UkpFKdsCvIiUisjmIV8tIvJ5u+4XsToa4LGb4PsF8MQ/Q2dTqGuk1KQmItxwww2DP/f19ZGTk8MVV1wx6nlr164d85hgs22Q1RizB1gK4F5FqRJ4yq77RSRj4OnPwoHXYO4VsOMp6O2Eax8C/TNVqZBISkpi+/btdHZ2kpCQwCuvvEJhYWGoqzUuweqiOR84YIzx+0rtpLTzGdj7ElzwHfjH31nb3c/DjtHWMFFK2e3SSy/lhRdeAOCRRx7h+uuvH9z33nvvsWrVKpYtW8aqVavYs2fPiPPb29u55ZZbWLFiBcuWLeOZZ54JWt2HCtY0yeuAR3ztEJFbgVsBiouLg1SdMPHOryBjOpz+L9bPZ3wWNj4Ib/0EFnxEW/FqUvvOczvYWdUyodecPyWVb314wZjHXXfddXz3u9/liiuuYOvWrdxyyy28+eabAMydO5d169bhcrl49dVX+drXvsYTTzzhdf73v/99zjvvPB544AGamppYuXIlF1xwAUlJSRP6PGOxPcCLSCxwJfBVX/uNMfdhLapNWVnZ5ElOf2wrlL8DF/8AHO4/pBwOWP3v8OxtcGgdzDgntHVUapJavHgxhw8f5pFHHuGyyy7z2tfc3MxNN93Evn37EBF6e3tHnP/Xv/6VZ599lh//+MeANf3z6NGjzJs3Lyj19whGC/5S4ANjTHUQ7hU5djwJDhcsud67fNHH4C9fh22PaYBXk1ogLW07XXnlldx5552sXbuW+vr6wfK7776bc889l6eeeorDhw+zZs2aEecaY3jiiScoLS0NYo1HCkYf/PX46Z6Z1Pa8BNNWQWKmd3lMPMy9HHY9B309oambUopbbrmFb37zmyxatMirvLm5eXDQ9cEHH/R57sUXX8zPfvYzPCvmbdq0yda6+mNrgBeRROBCQEcNh2o4CLW7Yc6lvvcv+Ah0NcPB14NbL6XUoKKiIm6//fYR5XfddRdf/epXWb16Nf39/T7Pvfvuu+nt7WXx4sUsXLiQu+++2+7q+hRWa7KWlZWZSbHgx3u/gRfvhNs+gKyZI/f39cB/lcDS6+Hy/wl69ZQKlV27dgW9nzqS+Pr9iMhGY0yZr+P1TdZQOPI2pBZC5gzf+12xMP0s2P9acOullIoqGuCDzRg4uh6Kzxh9GuTM86HxkNWdo5RS46ABPtiajkLrMSg+c/TjZp1vbQ/8zf46KaWikgb4YDv6jrUdK8BnzoDkfDiy3v46KaWikgb4YKvaBDGJkDvGQJIITDvT6s4Jo4FwpVTk0AAfbMe2QP4icDjHPrZ4FbRUMtB4lOqWLsJpxpNSKvxpgA+mgQE4vhUKlgR2/DSrG+fePzzE6T94jct/+hZv76+zsYJKKafTydKlSwe/Dh8+bNu9SkpKqKuz7/9pDfDB1HAQetoCDvDdmaV0Ek9y/VZuPXsGbd19/OvDH1Db2m1zRZWavBISEti8efPgV0lJSairNG4a4IPp2GZrG2CAf+T9SrYOlHBlbjVfu2weD3xyBZ09/Xz72R321VEpNcLGjRs555xzWL58ORdffDHHjh0DYM2aNdxxxx2cffbZzJs3j/fff5+PfOQjzJ49m2984xuD51999dUsX76cBQsWcN999/m8x0MPPcTKlStZunQpn/nMZ/y+JXsygpUuWAFUbwdHDGSPnYCovbuPn7++n++mzCO16WXo72NWbjL/fv4sfvzXvdxypIHl0zLHvI5SEeulr8DxbRN7zfxFcOkPRz2ks7OTpUuXAjB9+nQee+wxbrvtNp555hlycnJ49NFH+frXv84DDzwAQGxsLOvWreOee+7hqquuYuPGjWRmZjJz5kzuuOMOsrKyeOCBB8jMzKSzs5MVK1bw0Y9+lKysrMF77tq1i0cffZS///3vxMTE8NnPfpaHH36YG2+88ZQeVwN8MNXshqxZ1puqY3hsQzl1bT3MW30O8sZTULcH8hZw8+rp/GrtAf70XrkGeKVs4Omi8di+fTvbt2/nwgsvBKC/v5+CgoLB/VdeeSUAixYtYsGCBYP7ZsyYQXl5OVlZWfz0pz/lqaesBe3Ky8vZt2+fV4B/7bXX2LhxIytWrACsD5nc3NxTfhYN8MFUuwumLAvo0Oe3HmNeQSrTF86GN7CmV+YtICnOxRWLp/Dc1iq+deUCkuP0n1BFqTFa2sFijGHBggWsX+/7nZS4uDgAHA7H4Peen/v6+li7di2vvvoq69evJzExkTVr1tDV1TXiHjfddBP/+Z//OaF11z74YOnpgMYjkDN3zEOPN3ex8Ugjly/Kt1r8sclQtXlw/8dWTKWjp58XtlbZWGGlFEBpaSm1tbWDAb63t5cdOwIfB2tubiYjI4PExER2797NO++8M+KY888/n8cff5yamhoAGhoaOHLk1Fc41QAfLHV7ARNQgH9puzWAc+miAmuVp4IlVgve7bTidGbmJPHkB5V21VYp5RYbG8vjjz/Ol7/8ZZYsWcLSpUt5++23Az7/kksuoa+vj8WLF3P33XdzxhlnjDhm/vz5fO973+Oiiy5i8eLFXHjhhYMDuadC/74Pltrd1nasN1iBF7cdY25+CjNzkq2CKcusFMP9veCMQUS4cH4+9795kNauXlLiY2ysuFKTS1tb24iypUuXsm7duhHla9euHfx+zZo1Xqs7Dd330ksv+bzX0Dn21157Lddee+1J13c02oIPlto91hJ9/lIEuzV39rLxSCMXLcg/UThlGfR3n/iQAM6Zk0PfgOHtA/U+rqKUUhrgg6d+P2RMB+fore0NhxsYMHDmjBMj7BQstbZDummWT8sgKdbJur21NlRWKRUNNMAHS/0Ba8B0DO8daiDW6WBZcfqJwswZ1kDrsa2DRbEuB6tmZfPG3lrNUaOiiv737Nt4fi8a4INhYAAaDvhenm+Ydw41sGRqGvExQ5KRORxW333NTq9jz5mTQ0VjJwfr2ie6xkqFRHx8PPX19RrkhzHGUF9fT3x8/Emdp4OswdBSCX1dY7bg27r72F7ZzL+e4+ODIHc+7HzGSh3sXglq9axswGr1Dw7IKhXBioqKqKiooLZWux6Hi4+Pp6io6KTOsTXAi0g6cD+wEDDALcaYybeCRf1+aztGC37jkUb6Bwynz/DxhmreQvjg99ZqUKlTACjJSiQrKZaNRxq5fmXxRNdaqaCLiYlh+vTpoa5G1LC7i+Ye4GVjzFxgCbDL5vuFp8EAP3oLfsPhBpwO4bTijJE78+Zb2+oT3TQiwmnTMth4pHGiaqqUiiK2BXgRSQXOBn4LYIzpMcY02XW/sNZwEFwJkFIw6mHbKpuZnZtMkq/0A7nuAF/j/Qbd8mkZHKprp75NUwgrpbzZ2YKfAdQCvxORTSJyv4gkDT9IRG4VkQ0isiFq+90aj0DGtMG+c1+MMWyvbGZhYZrvAxIzrQ+Iau+B1uXTrNa+tuKVUsPZGeBdwGnAr4wxy4B24CvDDzLG3GeMKTPGlOXk5NhYnRBqOgIZJaMecryli7q2Hhb5C/BgteKHteAXFaYR4xQ2HtUAr5TyZmeArwAqjDHvun9+HCvgTy7GWC349GmjHratohnAfwserH742r3Q3zdYFB/jZGFhGh9oC14pNYxtAd4YcxwoFxHP6hbnAztHOSU6dTZCT6vVRTOK7VUtOATmF6T6Pyh3gZWyoOGAV/GSonR2VLXQP6Bzh5VSJ9g9i+Y24GER2QosBX5g8/3CT+MhaztGC357ZTOzcpNJiHX6P2hwJo13N82CKal09PRzSF94UkoNYWuAN8ZsdvevLzbGXG2MmXz9CI3unM5jtOC3jTbA6pFdCuIcEeA95+2oah53NZVS0UdTFdityR3gR2nB17V1U9vazYIpYwT4mHgrL82QrJIAs3OTiXM52F6pAV4pdYIGeLs1HoGETIj337e+93grAHPzU8a+Xk6pe/GQE1xOB3MLUtmmAV4pNYQGeLs1HRmze2ZPtRXgZ+cFkE8mp9TKTNnX41W8qDCVHZUtDOhAq1LKTQO83QKYIrm3upWMxBhykuNGPQ6w+uFNv/V27BALp6TR2t1HeWPHqdRWKRVFNMDbaWAAmsvHbMHvrW5jdl4KMsqbroNy3LNOh/XDnxhobRlXVZVS0UcDvJ1aj0F/z6gteGMMe4+3UpoXQP87QPZsazusH35WbjIOgT3u/nyllNIAbyfPDJpR0hQca+6itbuPOYEMsALEJkF68YgWfHyMk5KsJPZWa4BXSlk0wNup8bC1HSXAewZY5+SexIId2aVWyoJh5uSlDF5PKaU0wNup8QggkOZ/FRbPFMk5gXbRwImpkgP9XsVz8lM4XNdOV2+/nxOVUpOJBng7NZdbKX5d/mfHHKhtIzs5loyk2MCvm1Nq5aTxdAG5lealMGCsayqllAZ4O7VUQlrhqIccqmtnRvZJrqeaM9fa1u7xKi7Nt66j/fBKKdAAb6+WqsH1U/05VNfO9OwR66CMLnuOtR0W4KdlJRHjFPYc1xa8UkoDvH2MgeZKSPXfgm/p6qWurYeSkw3wCemQnD8iwMc4HczMSdYWvFIK0ABvn+4W6G0ftQV/2J3e96Rb8AA5c6Buz4jiOXkpOhdeKQVogLdPS5W1HSXAe/K3z8gZT4Cfa02VNN65Z0rzU6hs6qS1q/fkr6mUiioa4O3SXGltR+miOVTXjggUZyae/PWz51grRXk+SNw80y331Wg/vFKTnQZ4u7QEFuCnpCUQHzPKKk7+DM6k8X6j1ZPyYK920yg16WmAt0tLFSCQku/3kEN17ePrnoETAX5YTpqijAQSYpzsrdYWvFKTnQZ4u7RUQnIeOGN87jbGjG+KpEdSNiRkjGjBOxzCnDydSaOU0gBvnzHmwNe399Da1UdJ1jgDvMiJgdZhNCeNUgpsDvAiclhEtonIZhHZYOe9ws4YAd4zg2b6eLtowBpoHdaCB2smTW1rNw3tPT5OUkpNFsFowZ9rjFlqjCkLwr3CR0vVmAOsADPG20UDVgu+swHa67yKPTNptJtGqclNu2js0N0K3c1jtuBjnEJhesL475PjSVng3YrXAK+UAvsDvAH+KiIbReRWXweIyK0iskFENtTW1tpcnSAZfMlplBZ8bTtTMxNxOU/hn8BP0rG81DiS41zs17nwSk1qdgf41caY04BLgX8TkbOHH2CMuc8YU2aMKcvJybG5OkHimQM/SibJw/Xtp9Y9A9YHSGzyiAAvIszMTdYAr9QkZ2uAN8ZUubc1wFPASjvvFzbGSFMwMHCKUyQ9RPwOtM7K0QCv1GRnW4AXkSQRSfF8D1wEbLfrfmHFE+BTCnzuPtbSRXffwMlnkfQlZ+6Il53AWoS7prWbFs1Jo9SkZWcLPg94S0S2AO8BLxhjXrbxfuGjpRKScvyu5HRKWSSHyymF1mPQ2eRVPMu9xqu24pWavFx2XdgYcxBYYtf1w9oYc+APDk6RPMmVnHzJKbW2dXth6okesKEB/rTijFO/j1Iq4ug0STuMsdDHodp2EmKc5KX6X6s1YJ4AP6wffmpGArEuBwe0Ba/UpKUB3g4tlaO24I82tDMtKxEROfV7pU8DV/yImTQup4MZ2UmaNlipSUwD/ETraYeuplFb8EcbOsaXA94XhxOyZ48I8IBOlVRqktMAP9FajllbPwHeGDOxAR7cScdGBvhZOcmUN3bQ1ds/cfdSSkUMDfATbXChD99dNLVt3XT1DlCcNZEBvhSaj0K3d2t9Vm4yxsDB2vaJu5dSKmJogJ9oY7zkVN7QAcDUiW7Bw4j58IMzaWq1m0apyUgD/ERrqbC2fgL8UXeAn/AuGhjRTTM9OwmH6Fx4pSYrDfATraUKEjIhxneWyKP1nYhwalkkh8uYDo6YEVMl42OcTM1M1KmSSk1SGuAn2hh54I82dJCfGj++hbb9cboga5bfgVZtwSs1OWmAn2gtlaNmkSxv6JjY/nePnFLfScdykzlU105f/8DE31MpFdY0wE+0MdIUTPgUSY+cudB4GHo7vYpn5ibT0z9AeWOn7/OUUlFLA/xE6u2Cjnq/Ab6rt5/jLV02BfhSwEDdPq/i2e6ZNPt0dSelJh0N8BOpdfSVnCrcrWjbWvAwYqrkTJ0qqdSkpQF+IjWP/pKTLXPgPbJmgjhH9MOnxseQlxqnA61KTUIa4CfSGGux2jIH3sMVB5kz/A606lRJpSYfDfATyZOmwM9KTkcbOkiIcZKdHGvP/XNK/U6VPFDbjjHGnvsqpcJSQAFeRJ4QkctFRD8QRtNSBfFpEOd7IQ/PDJoJSRPsS04p1B+Avh6v4lm5ybR193G8pcue+yqlwlKgAftXwD8B+0TkhyIy18Y6Ra6WKkgt8rvbtjnwHjlzwfRDwwGv4pm6fJ9Sk1JAAd4Y86ox5uPAacBh4BUReVtEbhaRGDsrGFFGWejDljTBw/lZ3UnXZ1Vqcgq4y0VEsoBPAv8MbALuwQr4r9hSs0g0yktO9e09dPT0U5w5gTlohsuaDciIfvic5DhS410a4JWaZAJadFtEngTmAn8APmyMca9qwaMissGuykWUvm5orxl7Bs1E5oEfLjYRMqaNaMGLCLN0dSelJp2AAjxwvzHmxaEFIhJnjOk2xpSNdqKIOIENQKUx5opx1jP8tXpWchp9DrytXTRg9cPX+J4q+dquGnvvrZQKK4F20XzPR9n6AM+9HdgV4LGRa4yFPo7WWwG+KMPmAJ87D+r3jZhJMzs3hfr2Hhrbe/ycqJSKNqMGeBHJF5HlQIKILBOR09xfa4AxI5WIFAGXA/dPRGXDWgAvOeWlxk1smmBf8hbCQJ+u7qSUGrOL5mKsgdUi4H+HlLcCXwvg+j8B7gJS/B0gIrcCtwIUFxcHcMkw5XnJyU+qYNtn0HjkLbC2NTshf+Fg8dCZNCtKMu2vh1Iq5EZtwRtjfm+MORf4pDHm3CFfVxpjnhztXBG5Aqgxxmwc4x73GWPKjDFlOTk5J/8E4aKlCuJSIc73Z5ntc+A9smZZqztVb/cqLkxPID7GoQOtSk0io7bgReQTxpiHgBIR+cLw/caY//Vxmsdq4EoRuQyIB1JF5CFjzCdOqcbhapQ58N19/RyzK03wcM4Ya6C1eqdXscMhzMjWmTRKTSZjDbImubfJWN0sw7/8MsZ81RhTZIwpAa4D/ha1wR2sTJJ+AnxlYyfGBGEGjUfefKjeMaJYp0oqNbmM2oI3xtzr3n4nONWJYC1VVmD1wdYskr7kLYCtj0JHAySe6G+flZvMs1uq6OjpIzE20BmySqlIFWiysf8WkVQRiRGR10SkTkQCbo0bY9ZG9Rz4/l5oq/Y7gyZoc+A9cocMtA7hGWg9WNsenHoopUIq0HnwFxljWoArgApgDvAl22oVaVqPA8b/HPiGDuJcDnJS4oJTH89MmmrfAV67aZSaHAIN8J6EYpcBjxhjGmyqT2QKYA68rWmCh0vJh4TMETNpSrKScDmEvbo+q1KTQqAdsc+JyG6gE/isiOQAmlzcwzMH3m+A7wxe9wyAiNWKHzbQGutyMCMniT3HNcArNRkEmi74K8CZQJkxphdoB66ys2IRZZQ0BcaY4M2BHypvAdTsgoEBr+K5+ans1gCv1KRwMlMp5mHNhx96zv9NcH0iU0slxCRZqzkN09jRS1t3X3Bb8AC586G3HZoOW2u1upXmp/DslipaunpJjddU/kpFs0Bn0fwB+DHwIWCF+2vULJKTiuclJx997EfqrRkrQQ/wee40BcMGWucVWK8v7NVWvFJRL9AWfBkw3+iqzb6NstCHZw78NDvzwPuSOxcQqx9+3okZqqX5qQDsOt5KmeakUSqqBTqLZjuQb2dFIlpLlf8BVnea4KD3wccmQeZ0qPEeaJ2SFk9KvIs9x1uCWx+lVNAF2oLPBnaKyHtAt6fQGHOlLbWKJP191jx4Py34I8FKE+yLj5k0IsLc/BR2H9MuGqWiXaAB/tt2ViKitdeA6fefJri+g2mZST732S5vEex6HrrbIC55sHhufipPb6rEGBO8uflKqaALdJrkG8BhIMb9/fvABzbWK3I0jz4H/khDu73rsI6mYAlgRrzwVJqfQmt3H5VNnaGpl1IqKAKdRfNp4HHgXndRIfC0TXWKLIMvOY3sounq7ae6pZtpwe5/9yhYYm2PbfEq9syk0ReelIpugQ6y/htWfvcWAGPMPiDXrkpFlFHSFAwmGQtVCz4lH5JyRwT4OXlWgNcXnpSKboEG+G5jzOBqze6XnXTKJFgteFc8JGSM2HWkPshZJIcTsVrxwwJ8SnwMRRkJGuCVinKBBvg3RORrWItvXwj8GXjOvmpFEM8ceF8vOQ3OgQ/RICtYAb5mF/R6pw6yZtLoVEmlolmgAf4rQC2wDfgM8CLwDbsqFVFGnQPfTkqci4zEEKYEKFhizfIZNh9+bn4qB+va6e7rD1HFlFJ2C3QWzQDWoOpnjTHXGGN+o2+1uo2yFuvRhg6Ks4KYJtgXPwOtpfkp9A8YDtTo4h9KRatRA7xYvi0idcBuYI+I1IrIN4NTvTA30G+14NOKfO4+4s4DH1LpxRCf7ncmzW59o1WpqDVWC/7zWLNnVhhjsowxmcDpwGoRucPuyoW91uPul5xGBvj+AUNFQ2foZtB4iEDBYji21au4JCuJWJeDXdoPr1TUGivA3whcb4w55CkwxhwEPuHeN7k1V1jb1JEB/nhLFz39A6F7i3WogiVWyoK+wYlQuJwO5uWnsL1SA7xS0WqsAB9jjKkbXmiMqeXEMn4+iUi8iLwnIltEZIeIfOdUKhqWWtwB3kcL3pMmOOhZJH0pXA793SPeaF1YmMb2qmZ0OEWp6DRWgO8Z5z6wkpKdZ4xZAiwFLhGRM06ibuHPk6bARx6awZecQt0HD1DoTt1fudGreGFhGq1dfYMpjZVS0WWsAL9ERFp8fLUCi0Y70Vja3D/GuL+iq6nYXAFxqT5XcjpS34HLIRSkxYegYsOkFVlvtFZs8CpeVGjVe1tlcyhqpZSy2agB3hjjNMak+vhKMcaMOblbRJwishmoAV4xxrzr45hbRWSDiGyora0d94OEREvlKEnGOijKSMDlDPRVAxuJQFEZVHoH+Dl5KcQ6HRrglYpStkYfY0y/MWYpUASsFJGFPo65zxhTZowpy8nJsbM6E6+5fNQ0wcWhfIN1uMLlUL8fOhsHi2JdDkrzU9iuAV6pqBSU5qUxpglYC1wSjPsFTXOl/znw9e2hyyLpS5GnH947y/PCwlS2V7boQKtSUci2AC8iOSKS7v4+AbgA62Wp6NDbCR11PqdINnf00tLVFx4DrB5TTgNkxEDrosJ0mjt7BxOjKaWih50t+ALgdRHZirVAyCvGmOdtvF9wedIE+5oi2WBNkQz5S05DxadCTumIgdalU9MB2FzeFPw6KaVsFeiSfSfNGLMVWGbX9UPO85KTjz74Q3VWgC8Jpz54sKZL7n0JjBnMfjknL5nEWCeby5u4epnv8QSlVGQKgykeEarZ/0tOB2vbEQmTl5yGKiqDjnpoODhY5HI6WFyUxqajjaOcqJSKRBrgx6vF/1qsB+vaKcpIID7GGeRKjWHaKmt75G2v4mXFGeyoaqGrV1MHKxVNNMCPV3MFJOWAK27ErkN1bUzPTg5BpcaQPQcSs+Doeq/ipVPT6Rsw7KjS6ZJKRRMN8OPVXOGze8YYw6HadmZkh1n/O1j97sVnwpG/exUvcw+0bjraFPw6KaVsowF+vPy8xVrT2k17Tz8zcsIwwIPVTdN4GFqODRblpsZTlJHAxiPaD69UNNEAPx7GQNNRazGNYQ7UWul3ZoRjFw1YLXiAo9798CtLMnn/cIO+8KRUFNEAPx4d9dDbAenTRuzyTJGcHq4t+PzFEJs8YqB1xfRM6tp6OFinS/gpFS00wI9H0xFr66MFf7C2nfgYBwWpYZBF0henC6auhCPeA60rp2cC8P6hhlDUSillAw3w49HoDvAZvlvwJVlJOBwhXGh7LMWroGYndJwI5jOyk8hOjuU9DfBKRQ0N8OPRdNTa+mzBt4XvAKvH9LMAA4ffHCwSEVaUZPKuBnilooYG+PFoOgIJmRCX4lXc0zdAeWNn+A6wehQutxYqOfA3r+KV0zOpbOqkolETjykVDTTAj4efGTRHGzroHzBMD8c58EM5Y6DkLCvAD5k1s3pWNgB/3z9iGV6lVATSAD8ejUf89r8D4d9FAzDzXOuDakhemtm5yeSlxrFunwZ4paKBBviTZYy1kpOf/ncI4znwQ808z9oO6aYREVbPyubt/XUMDOh8eKUinQb4k9VWDX1dfufAZyXFkpY45nK1oZc5w/qQOrjWq/is2dk0dvSyo6olNPVSSk0YDfAna3AGzcgAf7C2Pfz73z1EYMa5cGgd9PcOFnv64d/cH2ELoCulRtAAf7IaR3nJqa49MvrfPWaeB90tUP7eYFFuSjzzClJZu1sDvFKRTgP8yfLzFmtLVy91bd3hmSbYn5nngTMWdr/gVXzBvFw2HGmgsb0nRBVTSk0EDfAnq+mIlQc+1nu1pkO1ETSDxiM+FWasgd3Pe02XvHB+HgMG/ra7JnR1U0qdMg3wJ6vpqM/+9xNZJCMowAPMvdz60KreMVi0cEoaealxvLqrOoQVU0qdKtsCvIhMFZHXRWSXiOwQkdvtuldQ+XnJaU91KzFOoSTSAnzpZYBYrXg3h0O4YF4eb+yt1WX8lIpgdrbg+4AvGmPmAWcA/yYi8228n/36+6CpHDJKRuzaV93GjOxkYpwR9kdRci5MPd0rwIPVTdPR08+b+tKTUhHLtmhkjDlmjPnA/X0rsAsYuQRSJGk+CgO9kDVzxK691a3MzougAdah5l4Ox7dZKz25rZ6VTUZiDM9uqQpdvZRSpyQozU0RKQGWAe/62HeriGwQkQ21tWE+Na/e/Vp/pneAb+/uo6Kxkzl5KT5OigDzr7S2258YLIpxOrhsUQGv7qymo6cvRBVTSp0K2wO8iCQDTwCfN8aMeD3SGHOfMabMGFOWk5Njd3VOTf1+azusBb+vxhpgnROpLfiMEitH/JY/ec2muXLJFDp7+3llpw62KhWJbA3wIhKDFdwfNsY8aee9gqLhgJVmN8n7g2hvdStA5LbgAZZcB3V7oeqDwaIVJZkUpMXz9KbKEFZMKTVeds6iEeC3wC5jzP/adZ+gqj9g5XAR79Wa9lW3EutyMC0rwmbQDLXganDGWa14N4dD+Mhphbyxt5ZjzZ2hq5tSalzsbMGvBm4AzhORze6vy2y8n/3q9/sZYG1jZk4yznBepm8s8Wkw9zLY9jj0nXiD9boVxQwYeOz9ihBWTik1HnbOonnLGCPGmMXGmKXurxftup/t+nqsNMGZIwP8nuOtlEZq//tQS66HzgbY+9Jg0dTMRM6anc1jG8rp1xTCSkWUCJu0HUKNh8EMQNYsr+KG9h6Ot3QxryA1NPWaSDPPh7Sp8N5vvIqvX1lMZVMnr2vqAqUiigb4QDUcsLbDumh2HbMmBs2fEgUB3umClZ+2FuM+vn2w+ML5eRSmJ/CbNw+OcrJSKtxogA+UZ4pk5gyvYk+Aj4oWPMCyG8CVAO/dO1gU43Rw8+oS3j3UwJbyptDVTSl1UjTAB6r+ACRkQGKmV/HOYy3kpsSRnRwXoopNsMRMWHItbH0M2usHi69bWUxKvIv71mkrXqlIoQE+UA0HRvS/A+ysaomO7pmhVn7GWpbw/RN98clxLm48cxovbj/G7uO6nJ9SkUADfKDqD46YQdPTN8CB2jbmR0v3jEfefCi9HN75JXQ2DRZ/+qwZJMe6+H+v7A1d3ZRSAdMAH4iedmipGNGC31fTSm+/ib4WPMCaL0NXM7x7oi8+PTGWT501nb/sqGZrRVPo6qaUCogG+EDU7La2ufO8indWRdkA61AFS9yt+F94teI/9aHpZCfH8t3ndmKMzotXKpxpgA9EzU5rOyzAb61oJiXOxfRITlEwGk8rfv3PB4tS4mP40sWlbDjSyHNbj4WwckqpsWiAD0TNLmvq4LCFPrZUNLGwMA1HJKcoGE3BElh4Dbz9M2uhE7drlk9lYWEq339hJy1dvSGsoFJqNBrgA1GzA3LngsM5WNTd18+uYy0snpoWwooFwQXftravfWewyOkQvnf1Impbu/nvl3eHpl5KqTFpgA9EzS7I9V5tcPcxa4B1SVF6aOoULOlT4czPwbY/Q/l7g8VLp6Zz8+rpPPTOUdYfqB/lAkqpUNEAP5b2emirHhHgPbNIFhdFeQse4EN3QHI+vPAFa11aty9eNIfp2Unc8ehmGtt7RrmAUioUNMCPxc8A65aKZrKSYilMTwhBpYIsLhku+29r3dZ3fjlYnBjr4qfXLaO+vZsvPb5VZ9UoFWY0wI/FE+DzFngVbylvYsnUdESidIB1uHlXQull8PoPvBbnXlSUxlcunceru6r5/duH/Z6ulAo+DfBjqdlp5aBJzhssau7oZV9NG0unpoeuXsEmApf9yBpofuGLXmu33rK6hPPm5vKDF3ezvbI5hJVUSg2lAX4s1Tshd4HXMn0bjzYA1pqlk0paEZx3N+x/FbY/MVgsIvzomsVkJsXymT9spK6tO4SVVEp5aIAfjTHuGTTe/e/vH24kximTqwXvsfLTULgcXroL2moHi7OS4/jNjWXUt3fzL3/YSHdffwgrqZQCDfCjazoCPa0j+t83HG5gYWEaCbFOPydGMYcTrvoFdLfCi3d67VpUlMaPrlnChiON3P30dh10VSrENMCPpmqTtZ2ydLCoq7efLeXNk697ZqjcebDmK7DzadjxlNeuDy+Zwm3nzeKxDRW6ApRSIWZbgBeRB0SkRkS2j310mKraBM5Yrznw2yqb6ekfoGxaRggrFgZW3Q4FS+GFO6G9zmvXHRfM4fJFBfzgxd08vakyNPVTStnagn8QuMTG69uv8gOre8Z1YrWmdw9ab22WTeYWPFjrt179KysZ2Ytf8trlcAj/87ElnDEjkzv/vIV1e2v9XEQpZSfbArwxZh3QYNf1bTcwAMe2wJRlXsVv7qtjfkEqmUmxIapYGMmbb2Wc3PEk7HzGa1d8jJP7bixjVm4y//LQRs0fr1QIaB+8P/X7obvFK8C3d/fxwdFGzpqdHcKKhZnVn7eyTr7wRa81XAFS42P4/S0ryUiM5ebfvc/huvbQ1FGpSSrkAV5EbhWRDSKyobY2jP6UL3/X2k49fbDovUMN9PYbPqQB/gRnDFzlXtrvpbtG7M5Ljef/PrWSAWO48YH3qG7pCn4dlZqkQh7gjTH3GWPKjDFlOTk5oa7OCeXvWm+wZs0eLHpzXx2xLsfknkHjS/5COOcu2P447HpuxO6ZOcn87uaV1Ld180+/eYfaVn0RSqlgCHmAD1vl70LRSnCc+BW9tb+W06dnEh8zCee/j+VDd0D+Inj+C9Axcuhl6dR0HrxlJVVNXXzi/ndp0OyTStnOzmmSjwDrgVIRqRCRT9l1rwnX0QB1e6H4RPdMeUMHe6vbOHt2GP2VEU6cMdasms4GeOnLPg9ZUZLJb28q43B9uwZ5pYLAzlk01xtjCowxMcaYImPMb+2614Q7/Ja1LV41WPSXHccBuGhBnq8zFFgt+LPuhG2Pwe4XfB6yalY2v7mxjAO1bXzs3vUcb9Y+eaXsol00vhxaBzFJVs4Vt7/urGZufgrTonWB7Yly1hchbyE8f4fPrhqAs+fk8PtbVnK8uYtrfv02R+p1do1SdtAA78uhdTDtTHBZc93r27rZcLiBixbkh7hiEcAVC1f/0nq79eWv+j3sjBlZ/PHTp9Pe3cc1v16v8+SVsoEG+OFajkHdHph+zmDRq7uqGTBwsXbPBKZgidWS3/on2POS38MWF6Xz2GfOJNbp4B9/vZ5nNmtaA6Umkgb44fa/Ym1nnjtY9PSmKkqyEplfkBqiSkWgs79k5dF/7vPQ2ej3sNl5KTz7udUsmZrO7X/azA9f2k1f/0Dw6qlUFNMAP9zev0BqkdWPDFQ0drD+YD0fOa1o8izPNxFcsXD1L6C9Fl7+2qiHZiXH8dCnTuefTi/m128c4B/vXc/B2rYgVVSp6KUBfqi+bjjwOsy5aHAFp6c+sLoN/mFZYShrFpmmLLPmx2/5o/XBOYpYl4Mf/MMi7rluKQdr27nsp2/yu78fYmBAc8orNV4a4Ic6+Ab0tsMcKwmmMYYnN1Vy+vRMpmYmhrhyEeqcuyBnHjx3u5XOYAxXLS3kr3eczaqZ2XznuZ1c/rO3NBulUuOkAX6oHU9CfBrMsPrf39xXx6G6dq5dMTXEFYtgrjhrVk1bDfzl6wGdkpcaz29vKuNn1y+jrbuXGx94j0/c/y7vHWrQVaKUOgka4D16u2DX8zDvw4PTI+9/6xA5KXFcsXhKiCsX4QpPg9W3w+aHYMfTAZ0iInx4yRRe/cI5fPOK+eyoauZj967nyp//nWc2V9LTpwOxSo1FA7zHnhet9VcXfhSAfdWtrNtby41nTCPWpb+mU7bmq9aLY8/eBg2BL+UX53Jyy4em8/ZXzud7Vy+kvaeP2/+0mVU/fI0fvrSbo/UdNlZaqcimkctj44OQVjw4//1XbxwgzuXg42dMC229ooUrFq75nTV4/eebrQHtk5AQ6+QTZ0zj1TvO4Xc3r2Dp1AzuW3eAs3/0Ojf89l1e2naMXp1eqZQXV6grEBbqD8ChN+Dcb4DDyZ7jrTy1qZJbz5qhKzdNpIxpVu74Rz8Or3wTLv2vk76EwyGcW5rLuaW5HGvu5NH3y3n0/XL+9eEPyEmJ42NlRVy3olgHxZVCW/CW9T+3Ftc+7QYAfvSX3STHufjXNTNDXLEoNO8KOP1f4N1fw+ZHTulSBWkJfP6CObz15fP47U1lLC5M41drrVb9jQ+8x+t7anRQVk1q2oJvrYZND8OS6yEln9d31/Dqrhq+dHEp6YnaerfFhf8B1Tus/vj0YihZfUqXczqE8+flcf68PCqbPK36o9z8u/dZVJjG586bxYXz8nA49EU1NbloC/6N/4KBPlh9Oy1dvXztqW3MyUvmn8+aHuqaRS9XLFz7B8gosbpranZP2KUL0xP4woVzePOu8/ivjy6ipauXz/xhI5f99E2e21JFv744pSaRyR3ga3ZZg6tlt2AyZ/CtZ3ZQ3dLFf1+zhDiXrtpkq4QM+Phj4IyD338YavdO6OVjXQ6uXVHMa184h59cu5S+AcNtj2zikp+s44Wtx/QNWTUpSDj1UZaVlZkNGzYE52b9ffDARdBwCD73Pvd/0ML3XtjFHRfM4fYLZo99vpoYtXvhwcut2TU3PAV5C2y5zcCA4YVtx7jntX3sr2ljbn4Kn79gNhfNzw9+101zBRx6E45vtRoZ7bXWW77OGIhNtgajs2dbS0ZOWwUJ6cGtn4ooIrLRGFPmc9+kDfCv/Qe8+WP46G95pv9M7nh0MxcvyOcX/3Sa9tUGW81u+MPV0N1qTaWcc5Ftt+ofMDy/tYp7Xt3Hwbp25hek8vkLZnPh/Dx7k8k1HIKtj8KOp6DW3SXlSoDceZCSD/HpMNBr/Q4aDkHDAavrUBzWymILPwLzr4KkbPvqqCKSBvjhtvwJnvoMLLuBh/Pu5BvP7OD06Zk88MkVJMbquHNItFTBH6+F6u3Wsn9nf2nwjWI79PUP8OyWKu55bR9H6jtYVJjGbefN4vx5eTgn6gO+q9l6c3fLI3B0PSBQ8iGYczHMPA9y5oLDT1dgbxdUboCDa2HnM9YaweK00lgvuR5KL4NYnQqqNMB72/ggPH8HfVNX8Y2kb/OnTTWcPSeHez+xnIRY7XcPqZ52eP4L1kIh+Yvhiv8HRT7/u50wff0DPLWpkp/+bR/lDZ0UZSTwiTOmcW3ZVDLG8w5EXw8ceM1qre95Cfq6IHsOLLkOFl8LaUUnf01jrFlH25+AbX+G5nKITYEFV1nBvngVOCb3cNpkpgEerPVB//J12PJHjmWv5mNNn6WiXfi3NbO448I5E9dqU6du13NWoG+vgblXwOrPW4Hexi6U3v4BXt1Zze/XH+adgw3EOIUPzcrm8sVTuHB+HmkJMf5P7u+Fo+/Azqdh+5PQ2QCJWbDgI7D0ephy2knVvX/AUN3SRWVTJ5WNndbW/X1Ncwel3du4oPdvnNv/Nkl0cVxyWRt/LlvTzqc3s5Sc1HhyUuLIT42nKCORoowE0hNjono9A2MMDe09HG3osL7qO6hq7qShvYfG9l6aOnvo6Rugt9/QNzBArMtBvMtJYqyTrOQ4clOsr5zUePfvLYGijARS4kf5dw8TIQvwInIJcA/gBO43xvxwtONtCfDVO+jf9EfMxt/j6O3gd45/4AcdV7FwahbfvXIBS6amT+z91MToboN3fgVv/xS6WyB3vhUwZ19ote5tbLHuOd7Kkx9U8PzWY1Q2deIQWDAljdOnZ1JWksns7Bim9RzEdXyz1YVy8A0rj5ErHuZebrXUZ55nDZr60N7d5xXAq5o6qRgSzI83d9E3bJZPZlIshekJ5KXGEx/jINblIJEe5ja9wbKmvzCvYyMOBqgmi3X9i3irfz7bzXQOmgIMDhJjne6glTgYvE58n0hGBHwAtHX3UeX+PVU0dgwG8yP1HZQ3dNDe0+91fHZyLFlJcWQkxZCWEEOcy0mM04HTAT19A3T1DtDR209dazc1rd3Ut3czPBymJcRQmH7i91U4+LtLoCg9kdQEV8h/byEJ8CLiBPYCFwIVwPvA9caYnf7OGU+A93xyN3b00txpfVon73+GrIrXyGzcTFbvcXqNk78OLOcXA9cwZc5yblo1jQ/Nyg75P4wKQHcrbHscNj1k9UkDxCRZg5N5CyBzhjVImZwHiZnWvthEiEm0Aq44rNazOE587zHQb7W++3us7cCQ77uaMB0NHKmo5ODRctprDhHXepSpVDNTKokVK5jUObLZnXw6RzJXUZ5+OiYuGacI3X0DdPb209ljfTV19lDTYgWStu4+r0d0COSnxjMlPYHCjAQKh2yLMhKYkp4w9thQ63FrUZUDr2EOrkW6mgHocyXSkDSL4858ygeyOdiTweGOWI71JNBskmghkS4TiyMmnqz0NPIyUinKTKIgPZ7U+BhS4l0kx7m/3N/HOB24HILL6cDpEPf3gsvhwCFWj9KAMRjcW+O97R8wdPVav5+u3v4T255+Gjt6aeroobHD+n+6pqWbyibrQ7C5s9frkeNcDoozEynOTGSqezsty9oWZSSedJdrX/8ADe09VDV3DX6IVDZ1UuH+vqKxk45hHyIpca4hQT+RgrR4UhNiSIpzkeL+nSXFun9vLsHpEGIcDlxOGfw9Oh1ySrEoVAH+TODbxpiL3T9/FcAY85/+zhlvgC/9xsv0DEk09d+ueznbuZUdjlLK05ZTU3w5i2bPYNXMbNISw/9PLuVHWw0c+BtUbbYGY49vg66mcVzI8z/TSfy374pnIH0arQmFHIubwS6ZycbeaeztzKCuo4emjl56+gbo6R+gf8AQ73KQEOsiIdZBQoyT1PgY8lLjyU2Ns7YpcVZAT08gPy2eGOcE/kXS32ctHF+1GY5tgZqd0HTUmp5p+kc99YdJd/FIx4oRwTTYnA4hPSGGnJQ4CtMTBj/8rN9ZPIXpieSmxAV1xpsxhqaOXq+Ab30AdLjLOkd8eAcqLzWOd792wbjODVWAvwa4xBjzz+6fbwBON8Z8bthxtwK3un8sBfbYUqHQyAbqQl2JENDnnnwm67OHw3NPM8bk+Nph55xAXx+tIz5NjDH3AffZWI+QEZEN/j5Zo5k+9+QzWZ893J/bzrlVFcDQte6KgCob76eUUmoIOwP8+8BsEZkuIrHAdcCzNt5PKaXUELZ10Rhj+kTkc8BfsKZJPmCM2WHX/cJUVHY9BUCfe/KZrM8e1s8dVi86KaWUmjj6frNSSkUpDfBKKRWlNMCfIhG5RET2iMh+EfmKj/0fF5Gt7q+3RWRJKOpph7GefchxK0Sk3/1uRMQL5LlFZI2IbBaRHSLyRrDraIcA/ltPE5HnRGSL+7lvDkU9J5qIPCAiNSKy3c9+EZGfun8vW0XktGDX0S9jjH6N8wtr8PgAMAOIBbYA84cdswrIcH9/KfBuqOsdrGcfctzfgBeBa0Jd7yD9m6cDO4Fi98+5oa53kJ77a8B/ub/PARqA2FDXfQKe/WzgNGC7n/2XAS9hvftzRjj9P64t+FOzEthvjDlojOkB/gRcNfQAY8zbxphG94/vYL0PEA3GfHa324AngJpgVs5GgTz3PwFPGmOOAhhjouHZA3luA6SIlVglGSvAj+/d/TBijFmH9Sz+XAX8n7G8A6SLSEFwajc6DfCnphAoH/JzhbvMn09hfdJHgzGfXUQKgX8Afh3EetktkH/zOUCGiKwVkY0icmPQamefQJ7758A8rBcatwG3G2MGiH4nGweCRpcvOjUBpWMAEJFzsQL8h2ytUfAE8uw/Ab5sjOmPosydgTy3C1gOnA8kAOtF5B1jzMSuLB5cgTz3xcBm4DxgJvCKiLxpjGmxuW6hFnAcCDYN8KcmoHQMIrIYuB+41BhTH6S62S2QZy8D/uQO7tnAZSLSZ4x5Oig1tEcgz10B1Blj2oF2EVkHLMFKnx2pAnnum4EfGqtjer+IHALmAu8Fp4ohE7ZpWbSL5tSMmY5BRIqBJ4EbIrwFN9yYz26MmW6MKTHGlACPA5+N8OAOgaXgeAY4S0RcIpIInA7sCnI9J1ogz30U668WRCQPKzvswaDWMjSeBW50z6Y5A2g2xhwLdaVAW/CnxPhJxyAi/+Le/2vgm0AW8Et3S7bPhHH2uUAF+OxRJ5DnNsbsEpGXga3AANZqZj6n2EWKAP+9/wN4UES2YXVbfNkYE+pUuqdMRB4B1gDZIlIBfAuIgcHnfhFrJs1+oAPrL5mwoKkKlFIqSmkXjVJKRSkN8EopFaU0wCulVJTSAK+UUlFKA7xSSoXIWInMfBz/MRHZ6U7m9sexjtcAryKKiHzd/R/3Vne2xtNHOfbBicxgKSI/EZGz3d9/zp090IhI9pBj/GYW9JeN0Z3SYMTUWRF5VUQyJqr+Kiw9CFwSyIEiMhv4KrDaGLMA+PxY52iAVxFDRM4ErgBOM8YsBi7AOwfIqV7f73shIpIJnOFOPAXwd/f9jww79FJgtvvrVuBX7vOdwC/c++cD14vI/DGq9Afgsyf5GCqC+EpkJiIzReRldx6jN0VkrnvXp4FfeJIXBpLETgO8iiQFWCkAugGMMXXGmCoR+aaIvC8i20XkPvGR+MbfMe7W8w/Eytn+dRE5JCIx7n2pInLY/fM1wMue6xljNhljDvuoo7/MgmNmYxQRh4j8XkS+5y56Frj+VH5hKiLdB9xmjFkO3An80l0+B5gjIn8XkXdEZMyWvwZ4FUn+CkwVkb0i8ksROcdd/nNjzApjzEKs5F5X+Dh3tGPSjTHnGGO+A6wFLneXXwc8YYzpBVYDGwOoo7/MgmNlHHQBDwN7jTHfAHC31OJEJCuA+6ooICLJWGtI/FlENgP3YjVswPpvZDbWW7XXA/eLSPpo19MAryKGMaYNK0vjrUAt8KiIfBI4V0Tedb8ifx6wwMfpox3z6JDv7+fEq+Y3A79zf1/gvudY/GUWHCvj4L1YC0p8f9gxNcCUAO6rooMDaDLGLB3yNc+9rwJ4xhjTa4w5BOzBCvijXkypiGGM6TfGrDXGfAv4HPBxrD9hrzHGLAJ+A8QPPUdE4sc4pn3I9f8OlLj/OnAOySHTOfy6fvjLLDhWxsG3sT6Eht8j3n1vNQm4UysfEpF/hMFBe88yn08D57rLs7G6bEZN5qYBXkUMESl1zyTwWIrVigGoc/9562vWTHwAxwz1f8AjnGi9g5UNclYA1fSXWXCsbIy/xUpa9WfPYK97nCAfOBzAfVUEcicyWw+UikiFiHwKq9HyKRHZAuzgxFjNX4B6EdkJvA58aaz045pNUkWSZOBn7n7HPqzsfbcCTVgrCB3GCqRejDFNIvKb0Y4Z5mHge1hB3uMF4DNYXTiIyL8Dd2EF4K0i8qIx5p/xk1nQXzbGYfX8XxFJA/4gIh/HWgf0HWNMxC97p3wzxvgbRB8xgOrOs/8F91dANJukUsO4585fZYy5YVj5W8AVxpimINXjHuBZY8xrwbifij7agldqCBH5GdZc9ct87P4iUIz1F0MwbNfgrk6FtuCVUipK6SCrUkpFKQ3wSikVpTTAK6VUlNIAr5RSUUoDvFJKRan/Dwl+lIpaRG4rAAAAAElFTkSuQmCC\n",
      "text/plain": [
       "<Figure size 432x288 with 1 Axes>"
      ]
     },
     "metadata": {
      "needs_background": "light"
     },
     "output_type": "display_data"
    }
   ],
   "source": [
    "#This plot ignores NaN values for salary, igoring students who are not placed\n",
    "sns.kdeplot(df.salary[ df.gender==\"M\"])\n",
    "sns.kdeplot(df.salary[ df.gender==\"F\"])\n",
    "plt.legend([\"Male\", \"Female\"])\n",
    "plt.xlabel(\"Salary(100k)\")\n",
    "plt.show()"
   ]
  },

({'cell_type': 'code',
  'execution_count': 23,
  'id': '15e2cb12',
  'metadata': {},

In [27]:
  {
   "cell_type": "code",
   "execution_count": 24,
   "id": "f29a5ccd",
   "metadata": {},
   "outputs": [
    {
     "name": "stderr",
     "output_type": "stream",
     "text": [
      "C:\\ProgramData\\Anaconda31\\lib\\site-packages\\seaborn\\_decorators.py:36: FutureWarning: Pass the following variables as keyword args: x, y. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.\n",
      "  warnings.warn(\n"
     ]
    },

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_16808/549684701.py, line 14)

In [28]:
   {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAABBgAAAFzCAYAAACU6rpXAAAAOXRFWHRTb2Z0d2FyZQBNYXRwbG90bGliIHZlcnNpb24zLjMuNCwgaHR0cHM6Ly9tYXRwbG90bGliLm9yZy8QVMy6AAAACXBIWXMAAAsTAAALEwEAmpwYAAAaC0lEQVR4nO3dfZBdZ30f8O/PEmDZigPI4AERUIh4KQVKbDVDIEAwNhEQAmX4w5mmVmg7NC2VhfNHJjSd2E466UCZtkb0ZQw0kfJioAQSxiMENi+dDm2gkjHYxAaWYMACjBGN32u80tM/7hGsjV5Wevbu3b3385k5s/c+95x7flc/3bO7333OudVaCwAAAECP0yZdAAAAALD6CRgAAACAbgIGAAAAoJuAAQAAAOgmYAAAAAC6CRgAAACAbmsnXcDRnH322W3Tpk2TLgMAAABYYP/+/d9rrT3uaI+tyIBh06ZN2bdv36TLAAAAABaoqq8f6zGnSAAAAADdBAwAAABANwEDAAAA0E3AAAAAAHQTMAAAAADdBAwAAABANwEDAAAA0E3AAAAAAHQTMAAAAADdBAwAAABANwEDAAAA0E3AAAAAAHQTMAAAAADd1k66AFavnTt3Zm5ubqz7OHDgQJJk48aNY93Pydq8eXO2b98+6TIAAABWDAEDp2xubi433HRzDp3x2LHtY819dyZJvvPAyvmvuua+70+6BAAAgBVn5fzWxqp06IzH5v5nvnJsz7/ulj1JMtZ9nKwjNQEAAPAjrsEAAAAAdBMwAAAAAN0EDAAAAEA3AQMAAADQTcAAAAAAdBMwAAAAAN0EDAAAAEA3AQMAAADQTcAAAAAAdBMwAAAAAN0EDAAAAEA3AQMAAADQTcAAAAAAdBMwAAAAAN0EDAAAAEA3AQMAAADQTcAAAAAAdBMwAAAAAN0EDAAAAEA3AQMAAADQTcAAAAAAdBMwAAAAAN0EDAAAAEA3AQMAAADQTcAAAAAAdBMwAAAAAN0EDAAAAEA3AQMAAADQTcAAAAAAdBMwAAAAAN0EDEtg586d2blz56TLgBXF+wIAAGbL2kkXMA3m5uYmXQKsON4XAAAwW8xgAAAAALoJGAAAAIBuAgYAAACgm4ABAAAA6CZgAAAAALoJGAAAAIBuAgYAAACgm4ABAAAA6CZgAAAAALoJGAAAAIBuAgYAAACgm4ABAAAA6CZgAAAAALoJGAAAAIBuAgYAAACgm4ABAAAA6CZgAAAAALoJGAAAAIBuAgYAAACgm4ABAAAA6CZgAAAAALoJGAAAAIBuAgYAAACgm4ABAAAA6CZgAAAAALoJGAAAAIBuAgYAAACgm4ABWLUOHjyYSy65JAcPHhzL8+/bty/nn39+9u/fP7a6jrXuuF/bqdQ07U6138DymdXjEzCdpvGYNraAoapaVf3xgvtrq+qOqrpmXPsEZsuuXbty4403Zvfu3WN5/ssvvzyHDx/OZZddNra6jrXuuF/bqdQ07U6138DymdXjEzCdpvGYNs4ZDPcmeXZVrRvuX5jkwBj3B8yQgwcPZu/evWmtZe/evUue/O7bty/33HNPkuSee+5Z9F+1T6auY6077td2PJPc9ySdar+B5TOrxydgOk3rMW3tmJ//I0leleQDSX41ydVJXjTmfS67AwcO5P7778+OHTsmXcqympuby2k/aJMuY9md9v/uytzc3TPX75M1NzeXdevWnXjFU7Rr164cPnw4SXLo0KHs3r07l1566ZI9/+WXX/6Q+5dddlmuuebEE7BOpq5jrTvu17ZU9U+TU+03sHxm9fgETKdpPaaN+xoM701yUVWdnuS5ST5zrBWr6o1Vta+q9t1xxx1jLgtY7a677rrMz88nSebn53Pttdcu6fMf+Wv2se4vRV3HWnfcr+14JrnvSTrVfgPLZ1aPT8B0mtZj2lhnMLTWvlBVmzKavbDnBOteleSqJNmyZcuq+rP4xo0bkyRXXnnlhCtZXjt27Mj+v7l90mUsu8Onn5XNTz1n5vp9ssY9w+OCCy7Inj17Mj8/n7Vr1+bCCy9c0udfv379Q37JXL9+/ZLXdax1x/3ajmeS+56kU+03sHxm9fgETKdpPaYtx6dIfDjJ2zM6PQJgSWzbti2nnTY6hK1ZsyYXX3zxkj7/w6fMX3HFFUte17HWHfdrO55J7nuSTrXfwPKZ1eMTMJ2m9Zi2HAHDf0vye621G5dhX8CM2LBhQ7Zu3ZqqytatW7Nhw4Ylff4tW7b88K/Y69evz3nnnbfkdR1r3XG/tuOZ5L4n6VT7DSyfWT0+AdNpWo9pYw8YWmu3tdbMJQeW3LZt2/Kc5zxnbInv5ZdfntNOO+2k/5p9MnUda91xv7ZTqWnanWq/geUzq8cnYDpN4zGtWlt5lzvYsmVL27dv36TLWLQj55rP2jn5R67BcP8zXzm2fay7ZXTpjnHu42Stu2VPznMNhhOa1fcFAABMs6ra31rbcrTHluMUCQAAAGDKCRgAAACAbgIGAAAAoJuAAQAAAOgmYAAAAAC6CRgAAACAbgIGAAAAoJuAAQAAAOgmYAAAAAC6CRgAAACAbgIGAAAAoJuAAQAAAOgmYAAAAAC6CRgAAACAbgIGAAAAoJuAAQAAAOgmYAAAAAC6CRgAAACAbgIGAAAAoJuAAQAAAOgmYAAAAAC6CRgAAACAbgIGAAAAoJuAAQAAAOgmYAAAAAC6CRgAAACAbgIGAAAAoNvaSRcwDTZv3jzpEmDF8b4AAIDZImBYAtu3b590CbDieF8AAMBscYoEAAAA0E3AAAAAAHQTMAAAAADdBAwAAABANwEDAAAA0E3AAAAAAHQTMAAAAADdBAwAAABANwEDAAAA0E3AAAAAAHQTMAAAAADdBAwAAABANwEDAAAA0E3AAAAAAHQTMAAAAADdBAwAAABANwEDAAAA0E3AAAAAAHQTMAAAAADdBAwAAABANwEDAAAA0E3AAAAAAHQTMAAAAADdBAwAAABANwEDAAAA0E3AAAAAAHQTMAAAAADdBAwAAABANwEDAAAA0G3tpAtgdVtz3/ez7pY9Y3z+g0ky1n2crDX3fT/JOZMuAwAAYEURMHDKNm/ePPZ9HDgwnyTZuHEl/UJ/zrK8dgAAgNXkhAFDVa1Jcklr7T8sQz2sItu3b590CQAAAKwQJ7wGQ2vtUJLXLEMtAAAAwCq12FMkPl1V70zyviT3HhlsrV0/lqoAAACAVWWxAcMLhq+/t2CsJTl/acsBAAAAVqNFBQyttZeOuxAAAABg9TrhNRiSpKrOqar3VNVHhvvPqqp/Mt7SAAAAgNViUQFDkj9K8tEkTxzufznJm8dQDwAAALAKLTZgOLu19v4kh5OktTaf5NDYqgIAAABWlcUGDPdW1YaMLuyYqnp+kjvHVhUAAACwqiz2UyR+M8mHk/xMVX06yeOSvH5sVQEAAACrymI/ReL6qnpJkmckqSRfaq09ONbKAAAAgFXjuAFDVb3uGA89varSWvvgGGoCAAAAVpkTzWB49fD18UlekOQTw/2XJvlUEgEDAAAAcPyAobX2hiSpqmuSPKu19u3h/hOS/KfxlwcAAACsBov9FIlNR8KFwe1Jnj6GegAAAIBVaLGfIvGpqvpokqsz+qjKi5J8cmxVAQAAAKvKYj9F4l8OF3x80TB0VWvtQ+MrCwAAAFhNFjuD4cgnRrioIwAAAPBjFnUNhqp6XVV9parurKq7quruqrpr3MUBAAAAq8NiZzC8LcmrW2s3j7MYAAAAYHVa7KdI3C5cAAAAAI5lsTMY9lXV+5L8RZIHjgwO12UAAAAAZtxiA4azktyX5OULxlpc9BEAAADI4j+m8g3jLgQAAABYvRb7KRJPr6qPV9VNw/3nVtW/Hm9pAAAAwGqx2Is8vivJW5I8mCSttS8kuWhcRQEAAACry2IDhjNaa5992Nj8UhcDAAAArE6LDRi+V1U/k9GFHVNVr0/y7bFVBQAAAKwqi/0UiTcluSrJM6vqQJKvJfmHY6sKAAAAWFUWGzC8NsmeJJ/MaNbDvUkuqKr9rbUbxlMaAAAAsFos9hSJLUl+I8ljkjw6yRuT/GKSd1XVb42lMgAAAGDVWOwMhg1Jzm2t3ZMkVXVZkg8keXGS/UneNp7yOGLnzp2Zm5ubdBkPceDAgSTJxo0bJ1zJ8tu8eXO2b98+6TIAAABWjMUGDE9O8oMF9x9M8pTW2v1V9cDSl8XDzc3N5Stf/FyevP7QpEv5oXvvXpMkeWB+tq73+Y171ky6BAAAgBVnsQHDnyX5q6r6y+H+q5NcXVVnJvnrsVTGj3ny+kP5V+feNekyfugPrj8rSVZUTcvhyOsGAADgRxYVMLTWfr+q9iT5hSSV5Ddaa/uGh32aBAAAAMy4xc5gSGttf0bXWwAAAAB4iMV+igQAAADAMQkYAAAAgG4CBgAAAKCbgAEAAADoJmAAAAAAugkYAAAAgG4CBgAAAKCbgAEAAADoJmAAAAAAugkYAAAAgG4CBgAAAKCbgAEAAADoJmAAAAAAugkYAAAAgG4CBgAAAKCbgAEAAADoJmAAAAAAugkYAAAAgG4CBgAAAKCbgAEAAADoJmAAAAAAugkYAAAAgG4CBgAAAKCbgAEAAADoJmAAAAAAugkYAAAAgG4CBgAAAKCbgAEAAADoJmBYAjt37szOnTsnXQawxLy3AQBg8dZOuoBpMDc3N+kSgDHw3gYAgMUzgwEAAADoJmAAAAAAugkYAAAAgG4CBgAAAKCbgAEAAADoJmAAAAAAugkYAAAAgG4CBgAAAKCbgAEAAADoJmAAAAAAugkYAAAAgG4CBgAAAKCbgAEAAADoJmAAAAAAugkYAAAAgG4CBgAAAKCbgAEAAADoJmAAAAAAugkYAAAAgG4CBgAAAKCbgAEAAADoJmAAAAAAugkYAAAAgG4CBgAAAKCbgAEAAADoJmAAAAAAugkYAAAAgG4CBgCAGXDw4MFccsklOXjw4KRLAWBKLUvAUFWHquqGBcum5dgvAAAju3btyo033pjdu3dPuhQAptRyzWC4v7X2vAXLrcu0XwCAmXfw4MHs3bs3rbXs3bvXLAYAxmLtpAuYBgcOHMj999+fHTt2jG0fc3NzeeSDzmhZCW6/77T8YG5urP1mZZibm8u6desmXQZAt127duXw4cNJkkOHDmX37t259NJLJ1wVANNmuX5jXbfg9IgPHW2FqnpjVe2rqn133HHHMpUFADD9rrvuuszPzydJ5ufnc+211064IgCm0XLNYLi/tfa8463QWrsqyVVJsmXLlrYcRS2VjRs3JkmuvPLKse1jx44deeDr+8b2/CzeOWcczqOesnms/WZlMEsFmBYXXHBB9uzZk/n5+axduzYXXnjhpEsCYAqZcw8AMOW2bduW004b/di3Zs2aXHzxxROuCIBpJGAAAJhyGzZsyNatW1NV2bp1azZs2DDpkgCYQi7yCAAwA7Zt25Zbb73V7AUAxmZZAobW2vrl2A8AAEe3YcOGvOMd75h0GQBMMadIAAAAAN0EDAAAAEA3AQMAAADQTcAAAAAAdBMwAAAAAN0EDAAAAEA3AQMAAADQTcAAAAAAdBMwAAAAAN0EDAAAAEA3AQMAAADQTcAAAAAAdBMwAAAAAN0EDAAAAEA3AQMAAADQTcAAAAAAdBMwAAAAAN0EDAAAAEA3AQMAAADQTcAAAAAAdBMwAAAAAN0EDAAAAEA3AQMAAADQTcAAAAAAdBMwAAAAAN0EDAAAAEA3AQMAAADQbe2kC5gGmzdvnnQJwBh4bwMAwOIJGJbA9u3bJ10CMAbe2wAAsHhOkQAAAAC6CRgAAACAbgIGAAAAoJuAAQAAAOgmYAAAAAC6CRgAAACAbgIGAAAAoJuAAQAAAOgmYAAAAAC6CRgAAACAbgIGAAAAoJuAAQAAAOgmYAAAAAC6CRgAAACAbgIGAAAAoJuAAQAAAOgmYAAAAAC6CRgAAACAbgIGAAAAoJuAAQAAAOgmYAAAAAC6CRgAAACAbgIGAAAAoJuAAQAAAOgmYAAAAAC6CRgAAACAbgIGAAAAoJuAAQAAAOgmYAAAAAC6rZ10ASzeN+5Zkz+4/qxJl/FDX797TZKsqJqWwzfuWZOnTboIAACAFUbAsEps3rx50iX8mDMPHEiSPGrjxglXsryelpXZDwAAgEkSMKwS27dvn3QJAAAAcEyuwQAAAAB0EzAAAAAA3QQMAAAAQDcBAwAAANBNwAAAAAB0EzAAAAAA3QQMAAAAQDcBAwAAANBNwAAAAAB0EzAAAAAA3QQMAAAAQDcBAwAAANBNwAAAAAB0EzAAAAAA3QQMAAAAQLdqrU26hh9TVXck+fqk6zhJZyf53qSLYNno9+zQ69mi37NDr2eHXs8W/Z4dej05T2mtPe5oD6zIgGE1qqp9rbUtk66D5aHfs0OvZ4t+zw69nh16PVv0e3bo9crkFAkAAACgm4ABAAAA6CZgWDpXTboAlpV+zw69ni36PTv0enbo9WzR79mh1yuQazAAAAAA3cxgAAAAALrNfMBQVT9VVZ+sqpur6otVtWMYf2xVXVtVXxm+PmbBNm+pqrmq+lJV/dKC8fOq6sbhsXdUVQ3jj6qq9w3jn6mqTQu22Tbs4ytVtW0ZX/rMqarTq+qzVfX5oddXDON6PcWqak1Vfa6qrhnu6/cUqqpbhx7dUFX7hjG9nlJV9eiq+kBV3TJ8//55/Z4+VfWM4T19ZLmrqt6s19Opqi6t0c9nN1XV1TX6uU2vp1RV7Rh6/cWqevMwpt/ToLU200uSJyQ5d7j9E0m+nORZSd6W5LeH8d9O8tbh9rOSfD7Jo5L8dJKvJlkzPPbZJD+fpJJ8JMkrhvF/keS/DrcvSvK+4fZjk/zN8PUxw+3HTPrfZFqXoS/rh9uPSPKZJM/X6+lekvxmkj9Lcs1wX7+ncElya5KzHzam11O6JNmV5J8Otx+Z5NH6Pd1LkjVJvpPkKXo9fUuSjUm+lmTdcP/9SX5dr6dzSfLsJDclOSPJ2iTXJXmafk/HMvMzGFpr326tXT/cvjvJzRkd5F6T0Q8wGb6+drj9miTvba090Fr7WpK5JD9XVU9IclZr7X+30f/e3Q/b5shzfSDJy4Z07ZeSXNta+35r7f8muTbJ1rG92BnXRu4Z7j5iWFr0empV1ZOSvCrJuxcM6/fs0OspVFVnJXlxkvckSWvtB621v41+T7uXJflqa+3r0etptTbJuqpam9Evnt+KXk+rv5Pkr1pr97XW5pP8jyT/IPo9FWY+YFhomDrzsxn9Zfuc1tq3k1EIkeTxw2obk3xzwWa3DWMbh9sPH3/INsOb6M4kG47zXIxJjabL35DkuxkdXPR6uv3HJL+V5PCCMf2eTi3Jx6pqf1W9cRjT6+n01CR3JPnDGp3+9O6qOjP6Pe0uSnL1cFuvp0xr7UCStyf5RpJvJ7mztfax6PW0uinJi6tqQ1WdkeSVSX4q+j0VBAyDqlqf5M+TvLm1dtfxVj3KWDvO+Kluwxi01g611p6X5EkZJZ/PPs7qer2KVdUvJ/lua23/Yjc5yph+rx4vbK2dm+QVSd5UVS8+zrp6vbqtTXJukv/SWvvZJPdmNJX2WPR7lauqRyb5lST//USrHmVMr1eB4Vz712Q0/f2JSc6sql873iZHGdPrVaK1dnOSt2Y0e2BvRqc/zB9nE/1eRQQMSarqERmFC3/aWvvgMHz7MO0mw9fvDuO3ZZSwHfGkjKZw3Tbcfvj4Q7YZpn39ZJLvH+e5GLNhOu2nMpoSpdfT6YVJfqWqbk3y3iTnV9WfRL+nUmvtW8PX7yb5UJKfi15Pq9uS3DbMQEtGU1/PjX5Ps1ckub61dvtwX6+nzwVJvtZau6O19mCSDyZ5QfR6arXW3tNaO7e19uKM+vCV6PdUmPmAYTgX5z1Jbm6t/fsFD304ybbh9rYkf7lg/KLhyqQ/ndEFST47TOO5u6qePzznxQ/b5shzvT7JJ4bzhD6a5OVV9ZghuX35MMYYVNXjqurRw+11GX0zuyV6PZVaa29prT2ptbYpo6m1n2it/Vr0e+pU1ZlV9RNHbmf0731T9Hoqtda+k+SbVfWMYehlSf46+j3NfjU/Oj0i0etp9I0kz6+qM4YevSyj66Lp9ZSqqscPX5+c5HUZvcf1exq0FXClyUkuSX4ho2kxX0hyw7C8MqNzdD6eUZr28SSPXbDN72R09dIvZbhS6TC+JaMfar+a5J1Jahg/PaNpfXMZXen0qQu2+cfD+FySN0z632OalyTPTfK5odc3JfndYVyvp3xJ8ov50adI6PeULRmdk//5Yflikt/R6+lekjwvyb7heP4XGV0JXL+ncMnoYn8Hk/zkgjG9nsIlyRUZ/eHnpiR/nNEnBuj1lC5J/mdG4fDnk7xsGNPvKViONAAAAADglM38KRIAAABAPwEDAAAA0E3AAAAAAHQTMAAAAADdBAwAAABANwEDALCkquqPqur1k64DAFheAgYAYKKqau2kawAA+vmGDgCcUFWdmeT9SZ6UZE2S30/yjCSvTrIuyf9K8s9aa+1h2/3u0dapqk8N91+Y5BNV9etJnt5ae7CqzkryhSRPa609uAwvDwBYAmYwAACLsTXJt1prf6+19uwke5O8s7X294f765L88lG2O946j26tvaS1dkWSTyV51TB+UZI/Fy4AwOoiYAAAFuPGJBdU1Vur6kWttTuTvLSqPlNVNyY5P8nfPcp2x1vnfQtuvzvJG4bbb0jyh0v/EgCAcXKKBABwQq21L1fVeUlemeTfVtXHkrwpyZbW2jer6vIkpy/cpqpOT/Kfj7POvQue/9NVtamqXpJkTWvtpvG+IgBgqZnBAACcUFU9Mcl9rbU/SfL2JOcOD32vqtYnOdqnRpy+iHUW2p3k6pi9AACrkhkMAMBiPCfJv6uqw0keTPLPk7w2o1Mnbk3yfx6+QWvtb6vqXcdb52H+NMm/yShkAABWmXrYxZ4BACaiql6f5DWttX806VoAgJNnBgMAMHFVtTPJKzK6xgMAsAqZwQAAAAB0c5FHAAAAoJuAAQAAAOgmYAAAAAC6CRgAAACAbgIGAAAAoJuAAQAAAOj2/wHKY9iLrIM5/AAAAABJRU5ErkJggg==\n",
      "text/plain": [
       "<Figure size 1296x432 with 1 Axes>"
      ]
     },
     "metadata": {
      "needs_background": "light"
     },
     "output_type": "display_data"
    }
   ],
   "source": [
    "plt.figure(figsize =(18,6))\n",
    "sns.boxplot(\"salary\", \"gender\", data=df)\n",
    "plt.show()"
   ]
  },

SyntaxError: unmatched ']' (Temp/ipykernel_16808/1501265806.py, line 13)

In [29]:
  {
   "cell_type": "code",
   "execution_count": 25,
   "id": "ba81d74e",
   "metadata": {},
   "outputs": [],
   "source": [
    "# Analysis of the data to answer the above stated question are as follow: -\n",
    "# 30 Female and 40 Male students are not placed. Male students have comparatively higher placemets.\n",
    "# More outliers on Male -> Male students are getting high CTC jobs.\n",
    "# Male students are offered slightly greater salary than female on an average."
   ]
  },

({'cell_type': 'code',
  'execution_count': 25,
  'id': 'ba81d74e',
  'metadata': {},
  'outputs': [],
  'source': ['# Analysis of the data to answer the above stated question are as follow: -\n',
   '# 30 Female and 40 Male students are not placed. Male students have comparatively higher placemets.\n',
   '# More outliers on Male -> Male students are getting high CTC jobs.\n',
   '# Male students are offered slightly greater salary than female on an average.']},)

In [30]:
  {
   "cell_type": "code",
   "execution_count": 26,
   "id": "32664218",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAAY4AAAEGCAYAAABy53LJAAAAOXRFWHRTb2Z0d2FyZQBNYXRwbG90bGliIHZlcnNpb24zLjMuNCwgaHR0cHM6Ly9tYXRwbG90bGliLm9yZy8QVMy6AAAACXBIWXMAAAsTAAALEwEAmpwYAABQnUlEQVR4nO2deXxU1dnHv082kkAghAQIBAhLAoR9XxWQXRBcUMHdWpFXrVurtdYqtvatrVqrb60W94WKSxFRQTYBlX2HhLCEACEQIAskYcl+3j/OHR1DVsjMncyc7+dzP3Pvuefc+7uTzDxzznPO84hSCoPBYDAYaoqf3QIMBoPBUL8whsNgMBgMtcIYDoPBYDDUCmM4DAaDwVArjOEwGAwGQ60IsFuAO4iMjFSxsbF2yzAYDIZ6xZYtW7KUUlHly33CcMTGxrJ582a7ZRgMBkO9QkQOV1RuhqoMBoPBUCuM4TAYDAZDrTCGw2AwGAy1wid8HAaDof5SXFxMeno6BQUFdkvxWoKDg4mJiSEwMLBG9Y3hMBgMHk16ejphYWHExsYiInbL8TqUUmRnZ5Oenk779u1r1MYMVRkMBo+moKCAZs2aGaPhIkSEZs2a1apHZwyHwWDweIzRcC21fX+N4TDUT5SCkkIoK7VbicHgcxjDYahfFOTBsqfghXh4tjk81w4+vQNOJNmtzODF+Pv707t3b7p3787111/PuXPnAGjUqJFL7xsbG0tWVpZL73ExGMNhqD9k7oM5I2Ht/0GbgXDFH6DHdXBgJbw+HFY9B2Vldqs0eCEhISFs376dxMREgoKCeP311+2WZCvGcBjqB3kZ8ME1UJgPd3wN0+fC5b+Bq16GB7ZBj+th1V9g/i+htMRutQYv5rLLLiMlJeVnZWfOnGH06NH07duXHj168MUXX/x47v3336dnz5706tWLW2+9FYDMzEyuu+46BgwYwIABA1izZg0A2dnZjBs3jj59+nDPPffgqRlazXRcg+dTVgof3wIFp+HOxRDd8+fnQyPgmn9DVBdY8QyIH1wzB/zM7yJv45kvk9h9LK9Or5nQqjFPX9WtRnVLSkpYvHgxEyZM+Fl5cHAwn3/+OY0bNyYrK4vBgwczZcoUdu/ezZ///GfWrFlDZGQkOTk5ADz44IM8/PDDDB8+nLS0NMaPH09ycjLPPPMMw4cP56mnnuLrr79mzpw5dfqsdYUxHAbPZ/1rcHQzXPfWhUbDgQhc9ojeX/EMNI2FK550m0SDd3P+/Hl69+4N6B7HXXfd9bPzSimeeOIJvvvuO/z8/Dh69CgnTpzg22+/Zdq0aURGRgIQEREBwPLly9m9e/eP7fPy8sjPz+e7775j/vz5AEyaNImmTZu64elqjzEcBs8m7xh8+yzET4Tu11Vff/jDkJMK3z0PzROg+7Wu12hwGzXtGdQ1Dh9HZcydO5fMzEy2bNlCYGAgsbGxFBQUoJSqcKprWVkZ69atIyQk5IJz9WHqsenLGzyb716AshKY+JzuVVSHCEx6EdoMhgX3QsYO12s0+Dy5ubk0b96cwMBAVq5cyeHDOhr56NGj+eSTT8jOzgb4cahq3Lhx/POf//yxvcMoXX755cydOxeAxYsXc+rUKTc+Rc0xhsPguZw6DFvfh7636aGnmhLQAG78AEKbad/Iec/88Bm8h5tvvpnNmzfTv39/5s6dS5cuXQDo1q0bv//97xkxYgS9evXikUf0cOorr7zC5s2b6dmzJwkJCT/O0nr66af57rvv6Nu3L0uXLqVt27a2PVNViKd67euS/v37K5PIqR6y+Lew6S14cAc0aV379umb4e0J0GkMTP+PcZbXU5KTk+natavdMryeit5nEdmilOpfvq5LP0kiMkFE9opIiog8XsF5EZFXrPM7RaRvufP+IrJNRL5yKosQkWUist969UzvkeHSKMyHbXO1j+JijAZATH8Y9yzsWwxrX6lbfQaDD+MywyEi/sCrwEQgAZghIgnlqk0E4qxtJvBaufMPAsnlyh4HViil4oAV1rHB29j+ERTlw8B7Lu06g+6BhKthxR/h0Jo6kWYw+Dqu7HEMBFKUUqlKqSJgHjC1XJ2pwPtKsx4IF5FoABGJASYBb1bQ5j1r/z3gahfpN9iFUrDlHWjVF2L6Xdq1RGDK/2kfyWe/gDMn60SiweDLuNJwtAaOOB2nW2U1rfMP4DGgfAyJFkqpDADrtXlFNxeRmSKyWUQ2Z2ZmXtQDGGzi+E44uRv63Fw31wtuDDe8pxcQfnIbFJuEQAbDpeBKw1HR3MnynvgK64jIZOCkUmrLxd5cKTVHKdVfKdU/KirqYi9jsIMd88A/CLrV4RqMlj3g6n9B2jr44j4T08pguARcaTjSgTZOxzHAsRrWGQZMEZFD6CGuK0TkQ6vOCafhrGjAjD14E6UlsOtT6DxRhxKpS7pfB6OfhsTPYOWf6/baBoMP4UrDsQmIE5H2IhIETAcWlquzELjNml01GMhVSmUopX6nlIpRSsVa7b5VSt3i1OZ2a/924AsM3sPhNXA2E7pPc831hz+s14V8/wL88A/X3MPgdYgIv/71r388fuGFF5g9e3aVbRYsWPCzsCLOzJ49m9atW/8Yqn3hwoU/lr/wwgt1prs87777Lvfff/8lX8dlhkMpVQLcDyxBz4z6RCmVJCKzRGSWVW0RkAqkAG8A99bg0s8BY0VkPzDWOjZ4C7u/gMBQvfbCFYjApJd072P50zq3h0kGZaiGBg0aMH/+/FrlxqjKcAA8/PDDbN++nU8//ZRf/OIXlNWj4VOXruNQSi1SSsUrpToqpf5slb2ulHrd2ldKqfus8z2UUhes0lNKrVJKTXY6zlZKjVZKxVmvOa58BoMbKSuF5C8hbhwEhbruPv4BcO0b0P8XsOZl+PA6OH2k+nYGnyUgIICZM2fy0ksvXXDu8OHDjB49mp49ezJ69GjS0tJYu3YtCxcu5NFHH6V3794cOHCg0mt37dqVgICAC4zSG2+8wYABA+jVqxfXXXfdj8mjTpw4wTXXXEOvXr3o1asXa9euBeDDDz9k4MCB9O7dm3vuuYfSUv2D6J133iE+Pp4RI0b8GL79kt+POrmKwVAXHNkAZ09CwhTX38vPHya/BC17wpLfw6uDYOAvtTGpTXgTg3tZ/Dgc31W312zZQ8dCq4b77ruPnj178thjj/2s/P777+e2227j9ttv5+233+aBBx5gwYIFTJkyhcmTJzNtWtXDrhs2bMDPz4/yk3iuvfZa7r77bgCefPJJ3nrrLX71q1/xwAMPMGLECD7//HNKS0s5c+YMycnJfPzxx6xZs4bAwEDuvfde5s6dy9ixY3n66afZsmULTZo0YdSoUfTp06eWb9CFGMNh8Bz2Lga/QOg01n337H8ndBwFK/6kMwuueRki46FFd2gYqXtBpYVQdA4K83TqWlUGDcK0gWk3VDvyG4S5T7PBFho3bsxtt93GK6+88rOotuvWrfsxFPqtt956gWGpjJdeeokPP/yQsLAwPv744wui4iYmJvLkk09y+vRpzpw5w/jx4wH49ttvef/99wGd0rZJkyZ88MEHbNmyhQEDBgA6DHzz5s3ZsGEDI0eO/NEo3Xjjjezbt+/S3giM4TB4EvuWQOxwve7CnTSNhWlvwZinIWkBHF4LGdvhXI7umfg3gMAQCG6iDYT4QUEuJM7XCxWDwmDg3XD5o64dYjPUqGfgSh566CH69u3LnXfeWWmdmoZFf/jhh/nNb35T6fk77riDBQsW0KtXL959911WrVpVaV2lFLfffjt/+ctffla+YMECl4RpN1HfDJ5BTipk7YX4CdXXdRXhbWHYA3DTPJ2O9vHD8Fgq/DoZHtgKM1fC7QvhtgV6/7cH4a5lED8efvg7vD4MMvfap9/gciIiIrjhhht46623fiwbOnQo8+bNA3RejuHDhwMQFhZGfn7+Rd8rPz+f6OhoiouLfwy1DjpU+2uv6ehMpaWl5OXlMXr0aD777DNOntSrE3Jycjh8+DCDBg1i1apVZGdnU1xczKeffnrRepwxhsPgGexbql/jx9mrozb4+UObgbq3cvtXOjDjm2Mh/aLXrRrqAb/+9a9/5sh+5ZVXeOedd+jZsycffPABL7/8MgDTp0/n+eefp0+fPlU6xyvjT3/6E4MGDWLs2LE/hmkHePnll1m5ciU9evSgX79+JCUlkZCQwLPPPsu4cePo2bMnY8eOJSMjg+joaGbPns2QIUMYM2YMffv2reKONceEVTd4Bh9Og1OH4Ff1+O906jC8P0X7Qe5aCpFxdivyCkxYdffgMWHVDYYaUVKk/QodR9mt5NJo2g5u/Vz3RObdBEVn7VZkMLgEYzgM9nN0MxSfhfYj7FZy6UR0gOvehKz9OhGVweCFGMNhsJ/UVXqmUuxwu5XUDR1G6tAm2z6A1NV2q7lkPGE42xM0eDO1fX/NdFyD/aSu0rk3QsLtVlJ3jHgMkj6Hrx+B/1mr86DXktxzxew5nkfu+WKCA/1p3TSEDpENXTK90sGZwhKW7z7BDylZJB7N5UjOOc4Vl9KoQQAdohoxuH0E1/RtTZeW7psyHRwcTHZ2Ns2aNXPps/sqSimys7MJDg6ucRtjOAz2UpCnc4MPf9huJXVLYAhc+QLMvU7nTR9SkzBsUFamWLjjGB+sP8yWw6cuON8kJJA+bcMZ3aU5E3tEE9mo9gapPEopNhzM4dPN6SxOzOBcUSlNQwPp3SacIR2b0TAogPyCYpKP5/PWDwf593epjE1owRNXdqV9ZMNLvn91xMTEkJ6ejsmr4zqCg4OJiYmpcX0zq8pgL3sXw0fT4fYvof3ldqupe96bAicS4YHt1S5sPJB5hkc+2cGOI6fpENWQq3u3plebcCJCgygoKSU18wxbD59m06EcUrPO4u8nDO3YjCm9WjEuoSVNQgNrJe1IzjkWbDvKZ1vTOZx9jkYNAriqVzTT+sXQp01T/Pwu/HWfc7aI/2w4zL9Xp1JSpnjqqgRmDGxbq/sa6g+VzaoyhsNgL4sfhy3vwm8PQWDNu8r1hqNb4Y1RMOr3eviqElbvy+T+uVsJDPDjD5O7cnXv1pUOyyil2Hsin4Xbj/HlzmMcyTlPgJ8wtFMk4xJa0K9dU+KaNyLA/+cuzKKSMvYcz2PjwRy+3pXBtrTTAAzp0Izr+8cwsXs0IUH+NXqs47kFPPrZDr7fn8Wdw2L5w6SECg2NoX5jDIcxHJ7Jq4OhcbSexuqt/OdGOLIRHk6EoAuHdlbvy+Tu9zbTqXkj3ri9P63DQyq4SMUopdiRnsviXRksTjxOWo6OoBoS6E/7yIaEW72QU+eKOZB5hqISHbo7IboxV/VqxeSe0bSJuLgwKaVlime/3s07aw5xY/82/OXaHsZ4eBmVGQ7j4zDYR/5xyEyG3jPsVuJahj8Mb4+HrR/A4Fk/O5WckcesD7bQqXkjPrp7cK2Hm0SE3m3C6d0mnMcnduFQ9jl2pp9mW9ppjuSc4/T5YgRoHR7MsI7N6N02nD5tm9bKOFWGv5/w1OQEwhoE8Mq3KYQ28Ofpq7pd8nUNno9LDYeITABeBvyBN5VSz5U7L9b5K4FzwB1Kqa0iEgx8BzSwNH6mlHraajMbuBtweMqeUEotcuVzGFzEYZ1HwGum4VZG28HQdgisf1UHQ/TTw0G554q554MtNA4J4N1fDKi10SiPiNA+siHtIxsytXfrulBeo3s+PDaeM4WlvL3mIG0jQrlzWHu33NtgHy5bxyEi/sCrwEQgAZghIgnlqk0E4qxtJvCaVV4IXKGU6gX0BiZYqWUdvKSU6m1txmjUV45s0Nn+Wva0W4nrGTQLTqfB/qU/Fj3zZRLHTp/ntVv60Tys/vp3RITfT+rK2IQW/Pnr5Apngxm8C1cuABwIpCilUpVSRcA8YGq5OlOB961MgOuBcBGJto7PWHUCrc37nTG+Rtp6aN0P/C/tl3a9oMskCIuGjXMAWL77BPO3HeXeUZ3o27apzeIuHX8/4cUbehEdHswDH23j9LkiuyUZXIgrDUdrwDkfZ7pVVqM6IuIvItuBk8AypdQGp3r3i8hOEXlbRCr81InITBHZLCKbzfxvD6TwjM7k1maQ3Urcg38g9LsTDnxL4ckUZn+ZRHyLRtw/qpPdyuqMxsGB/HNGX07mF/DoZzvNam8vxpWGo6LpFeX/kyqto5QqVUr1BmKAgSLS3Tr/GtARPYSVAbxY0c2VUnOUUv2VUv3Lp2Q0eABHt4Aq1eP/vkKfmwFh59evk37qPLOv6kZQgHdF/enVJpzHJ3Zl2e4TfLghzW45Bhfhyv/adKCN03EMcKy2dZRSp4FVwATr+IRlVMqAN9BDYob6xpENgEDMALuVuI8mMRS3vYzoQwsY3zWKoZ0i7VbkEn4xLJbL4iJ5blEyR0+ft1uOwQW40nBsAuJEpL2IBAHTgYXl6iwEbhPNYCBXKZUhIlEiEg4gIiHAGGCPdRzt1P4aINGFz2BwFWnroXlX74pPVQOWBI4iRjJ5smeu3VJchojwv9f0QAG//3yXGbLyQlxmOJRSJcD9wBIgGfhEKZUkIrNExDGZfRGQCqSgew+OgD7RwEoR2Yk2QMuUUl9Z5/4mIrusc6MALwty5AOUlUL6Jt/xb1hknynk6f0dKJAQ2qQtsFuOS2kTEcqj4zuzam8mX2wvP9BgqO+4dB2HNVV2Ubmy1532FXBfBe12An0queatdSzT4G5OJkNhnm/5N4D31x0muyiQot5XEZz0BUx8HoIubtV2feC2IbEs3HGMZ75M4vL4KCIaBtktyVBHeJdnzlA/OLJev/pQj6OguJQP1h9mdJfmNB50GxTlw56v7ZblUvz9hOeu7UleQQkvLN1rtxxDHWIMh8H9pG2Ahs2haazdStzG59uOknO2iF9e1gHaDYMmbWHnPLtluZzOLcO4fUgsH21MY1e69/p1fA1jOAzu58gGaDsIfCgpz9wNh+ka3ZjBHSLAzw+6Xa2zA573/lXWD42No1nDIJ5emEhZmXGUewPGcBjcS/5xOH0Y2viOfyPxaC6JR/OYPqDNT6HSE66GsmLY+42t2txB4+BAfjuhC1vTTjN/21G75RjqAGM4DO4lzfJv+JBj/JPNRwgK8ONq58CDrftC4xjY/YV9wtzIdX1j6NM2nOcW7yGvoNhuOYZLxBgOg3s5sgECgn0jsCHaKf75tqNM7F4uQ58IJEyBAyt0+lwvx89PeGZKN7LPFvLy8v12yzFcIsZwGNyLI7BhgG9Mzfwm8Tj5BSXcOKDNhScTpkJp0c8i5nozPWPCmT6gDe+uPcT+E/l2yzFcAsZwGNxH0Tk4vtOnpuHO25RG24hQBrdvduHJmIHQqCXsXuB2XXbxm3GdaRjkz+wvk8yK8nqMMRwG93F0C5SV+Ix/43D2Wdan5nDjgDYVp1T189PDVfuX6WjBPkCzRg14ZGw8a1KyWZJ0wm45hovEGA6D+3As/PORwIZf7cwA4Oo+VWTj6zoFSgq0r8NHuGVwOzq3COPZr3dTUFxqtxzDRWAMh8F9pG2AqC4QGmG3Erfw9c4M+rQNrzq/d9shEBzuE9NyHQT4+/H0lATST51nznepdssxXATGcBjcQ1kZpG/0Gf/Goayz7M7IY1KP6Kor+gdA3FjtIC/znV/fQztGMqlHNP9alWJCr9dDjOEwuIfMPVCQ6zP+ja936WGqidUZDoD4CXAuS/uAfIjfXdkFgP9dlGyzEkNtMYbD4B58LLDhol0Z9G5TzTCVg06jQfxhn+8MVwHENA3lf0Z04uudGaw7kG23HEMtMIbD4B7SNkDDKIjoYLcSl3M4+yxJx/KY3LMGvQ2AkKbQbqhP+Tkc3DOiA63DQ3jmyyRKSsvslmOoIcZwGNzDkfW6t+EDgQ1rNUzlIH48nEyC076Vpzs40J8/TO7KnuP5zDU5yusNLjUcIjJBRPaKSIqIPF7BeRGRV6zzO0Wkr1UeLCIbRWSHiCSJyDNObSJEZJmI7Ldem7ryGQx1QP4JOHXIZ4apFu86XvNhKgfxE/XrviWuEeXBjO/WkmGdmvHi0r3knC2yW46hBrjMcIiIP/AqMBFIAGaISEK5ahOBOGubCbxmlRcCVyilegG9gQlWTnKAx4EVSqk4YIV1bPBkjmzQrz7gGD+eW8Cuo7mM69aidg0jO0GzTrB3sWuEeTAiwtNXdeNsUSnPL9ljtxxDDXBlj2MgkKKUSlVKFQHzgKnl6kwF3lea9UC4iERbx46ltIHWppzavGftvwdc7cJnMNQFRzaAfwOI7mW3Epezcu9JAMZ0raXhAD276tD3PrOK3Jn4FmHcOTSWjzYeYcvhHLvlGKrBlYajNXDE6TjdKqtRHRHxF5HtwElgmVLK+tlKC6VUBoD12ryim4vITBHZLCKbMzMzL/VZDJdC2nodRjyggd1KXM6K5JO0Dg8hrnmj2jeOn6CDHqaurHth9YCHx8bTqkkwT8xPpNg4yj0aVxqOiryg5aOaVVpHKVWqlOoNxAADRaR7bW6ulJqjlOqvlOofFRVVm6aGuqT4PGTs8An/RkFxKWtSshjdtflPCZtqQ9vB0KCJz03LddCwQQCzp3Rj74l83vz+oN1yDFXgSsORDjjHko4BjtW2jlLqNLAKmGAVnRCRaADr9WSdKTbUPUe36kx3PuDfWJeazfniUq7oUmEnuHr8AyFuDOxbqlfa+yDjurVkXEILXl6xjyM55+yWY6gEVxqOTUCciLQXkSBgOrCwXJ2FwG3W7KrBQK5SKkNEokQkHEBEQoAxwB6nNrdb+7cDvpFCrb7iQwv/Vu45SUigP4M7VBBCvabET4CzJ+HYtroTVs+YPaUb/iI89UWiCb3uobjMcCilSoD7gSVAMvCJUipJRGaJyCyr2iIgFUgB3gDutcqjgZUishNtgJYppb6yzj0HjBWR/cBY69jgqaRtgMh4rw9sqJRiRfJJhnWKJDjQ/+Iv1GkMiB/s971puQ5ahYfwyLjOrNybyeLE43bLMVRAgCsvrpRahDYOzmWvO+0r4L4K2u0E+lRyzWxgdN0qNbiEsjI9o6rrVXYrcTn7Tpzh6Onz3H9Fp0u7UGiEDju/fymMeqJuxNVDbh/Sjvlb05m9MInhcZE0Dg6svpHBbZiV4wbXkbUPCk77hH/j2z3a1Taq80X6N5yJG6uHqvJ9N9FRgL8f/3tNDzLPFPLikr12yzGUwxgOg+v40b/h/Ybju32ZdGkZRssmwZd+sbjx+jVl+aVfqx7Tq004tw+J5f31h9lx5LTdcgxOGMNhcB1pGyA0Epp1tFuJSzlXVMKWw6e4LC6ybi7YsgeERfu0n8PBr8fF0zysAU98vssEQfQgjOEwuA4fCWy44WAORaVlXBZXR+uFRPRw1YGVUFpcN9esp4QFB/L0Vd1IOpbHe+sO2y3HYGEMh8E1nDkJOanQ1vun4f6wP4ugAD8Gtq/DmWNx46AwT6+693Emdm/JqM5RvLh0L8dMtkCPwBgOg2twBDb0gfUb3+/PZGBsxKVNwy1Ph5HgF6hnV/k4IsIfp3anTClmL0yyW44BYzgMruLwOh3YsFWFs6q9hhN5Bew7cYbhdeXfcNAgDGKHGcNh0SYilAdHx7N09wmW7fbd2WaegjEcBteQtg5i+nt9YMPv92cB1J1j3Jm4cTpX+ykztg/wy8va07lFGLMXJnG+qNRuOT6NMRyGuqfwjA5s2HaI3Upczvf7M4lsFETXlo3r/uKOabmm1wFAoL8ff5zajaOnz/Pv7w7YLcenMYbDUPekbwJV6vWGo6xMsSYli2GdIvHzc8HMsWYdoWl72L+s7q9dTxnUoRmTekbz+uoDHDWOctswhsNQ96St0/GW2gy0W4lL2XM8n6wzRQzv5IJhKtDTcuPHw8HvdHh6AwC/m9gFpeC5xSZboF0Yw2Goew6vhRbdIdgFwzcexLrUbACGuspwgF7PUXIeDv3gunvUM2KahjJrREe+3HGMjQdNtkA7MIbDULeUFkP6Zmg31G4lLmfdgWzaRoTSOjzEdTdpNxwCQ2GfWUXuzKwRHYluEsxfFieb0Os2YAyHoW7J2KF/IXu5f6O0TLHhYDZDLiX3Rk0IDIb2I3T4EfMF+SMhQf48ODqObWmnWZFscrm5G2M4DHXL4bX61csNx+5jeeQXlDC0k4sNB0D8ODidpqMNG37kun4xtI9syAtL91JWZoyqO3Gp4RCRCSKyV0RSROTxCs6LiLxind8pIn2t8jYislJEkkUkSUQedGozW0SOish2a7vSlc9gqCVp6yCiA4S1sFuJS1mXqtdvuLzHAdBprH4103J/RqC/Hw+PjWfP8Xy+3Fk+K7XBldTIcIjIf0VkkojU2NCIiD/wKjARSABmiEhCuWoTgThrmwm8ZpWXAL9WSnUFBgP3lWv7klKqt7X9LFGUwUbKyrThaOv9/o21B7LpENWQ5o3rIIx6dYS3gebdjJ+jAib3iKZLyzBeWraPYhM9123U1BC8BtwE7BeR50SkSw3aDARSlFKpSqkiYB4wtVydqcD7SrMeCBeRaKVUhlJqK4BSKh+derZ1DbUa7CJrH5w/Be28e5iquLSMTQdz3NPbcBA3Vhvlgjz33bMe4Ocn/GZcZw5ln+PLHabX4S5qZDiUUsuVUjcDfYFDwDIRWSsid4pIZTkdWwNHnI7TufDLv9o6IhKLTiO7wan4fmto620RaVrRzUVkpohsFpHNmZmZVT+goW5I8w3/xq6juZwtKmVIRzcajvjxUFYCqSvdd896wuiuzencIox/r041M6zcRG2GnpoBdwC/BLYBL6MNSWXLWitaSlv+r1plHRFpBPwXeEgp5fip9RrQEegNZAAvVnRzpdQcpVR/pVT/qKg6ypNgqJrD66Bhc+3j8GLWHdDrNwa7s8cRMxCCmxg/RwWICPeM6MDeE/ms2mt+JLqDmvo45gPfA6HAVUqpKUqpj5VSvwIaVdIsHWjjdBwDlO9LVlrH6sn8F5irlJrvqKCUOqGUKlVKlQFvoIfEDJ5A2jo9TOXliZvWp2YT36IRkY3cGMDRPwA6jtbhR8rMWH55rurVilZNgnlttYlh5Q5q2uN4UymVoJT6i1IqA0BEGgAopfpX0mYTECci7UUkCJgOLCxXZyFwmzW7ajCQq5TKEBEB3gKSlVJ/d24gItFOh9cAiTV8BoMrOX0Eco94vWO8qKSMzYdOude/4SB+PJw5Acd3uv/eHk6gvx93XdaBjQdz2Jp2ym45Xk9NDcezFZStq6qBUqoEuB9YgnZuf6KUShKRWSIyy6q2CEgFUtC9h3ut8mHArcAVFUy7/ZuI7BKRncAo4OEaPoPBlThCYnj5ivEd6ac5X+xm/4aDTmMAMcNVlTB9QBuahATyb9PrcDkBVZ0UkZZoZ3WIiPThJ59EY/SwVZVYU2UXlSt73WlfAfdV0O4HKvZ/oJS6tbr7Gmzg4HcQEqFjVHkx6w5kIwKD2ttgOBpGQut+elruiMfcf38Pp2GDAG4e1JbXVx/g2OnztHJlKBgfp7oex3jgBbTv4e9oR/SLwCPAE66VZqg3KKUNR/vLwM+7gxGsO5BN15aNadowyB4BcePg6BY4m2XP/T2cGQPbooB5G9PsluLVVPkpV0q9p5QaBdyhlBrltE1xdlgbfJxTByEvHWIvs1uJSykoLmVL2il7hqkcxI8DFKQst0+DB9MmIpSR8VHM23TELAh0IVUaDhG5xdqNFZFHym9u0GeoDxz8Tr+2H2GvDhez/chpikrK3DsNtzwte+kpz8bPUSm3DG7HyfxCViSb3OSuorpxhYbWayMgrILNYNCGo1FLiIyzW4lLWZ+q/RsD20fYJ8LPTw9XpSyH0hL7dHgwIzs3p3V4CB+uN8NVrqJK57hS6t/W6zPukWOodzj8Gx1G+cT6jYToxjQJqSxYgpuIGwvbP4T0jV4/i+1i8PcTZgxswwtL93Ew6yztIxtW38hQK2q6APBvItJYRAJFZIWIZDkNYxl8mcw9cDYT2l9utxKXUlBcyta00/YOUznoeAX4B8Ger+1W4rHcMKANAX7CvE2m1+EKajoFZpwV8mMyerV3PPCoy1QZ6g8Hv9evXm44dniCf8NBcGPtT9rztUnuVAnNw4IZER/FF9uOmVwdLqCmhsPRN78S+EgpZRL9GjQHV0N4O2jazm4lLmV9ao72b8Ta6N9wpsskPZvtZLLdSjyWq/u05nheAeut3PCGuqOmhuNLEdkD9AdWiEgUUOA6WYZ6QWmJ7nF08O7ZVKD9G11bNqZJqM3+DQedrwQE9nxltxKPZWxCCxo1CGD+tqN2S/E6ahpW/XFgCNBfKVUMnOXC3BoGX+PoZijM1cH3vJjCklK2pp3yjGEqB2EtoM1AYziqIDjQn4ndW/JN4nHOF5XaLcerqM0y367AjSJyGzANGOcaSYZ6Q8pyEH/oMNJuJS5lx5FcCkvKGNTBQ4apHHSZBBk7dIBJQ4Vc07c1ZwpLWGbWdNQpNZ1V9QE69MhwYIC1VRYV1+ArpKyAmP4QEm63EpfiWL8xyM71GxXRZbJ+3WuyJ1fG4PbNiG4SzOdb0+2W4lVUuY7Dif5AgjLptQwOzmbDsW0wyvtDlm04mE2Xlo0JD7UpPlVlNOsIUV0g+UsYdI/dajwSPz9hau/WvPF9KllnCt2bQ8WLqelQVSLQ0pVCDPWM1JWA8gn/xpbDpzyvt+Ggy2Q4vBbOmYmOlTGlVytKyxRLk8xwVV1RU8MRCewWkSUistCxuVKYwcNJWa7DqLfqbbcSl7IzPZeCYg9Zv1ERXSaBKtWh1g0V0jU6jNhmoSxOzLBbitdQ06Gq2a4UYahnlJVp/0bHUeDnb7cal7LBWgPgsT2OVn0grJWeXdV7ht1qPBIRYWKPaOZ8l8qps0X2hcT3Imo6HXc1cAgItPY3AVurayciE0Rkr4ikiMjjFZwXEXnFOr9TRPpa5W1EZKWIJItIkog86NQmQkSWich+67VpDZ/VUFecSISzJ62MdN7N+tQcurQM89wvGxHd60hZAUXn7FbjsVzZPZrSMmVmV9URNZ1VdTfwGfBvq6g1sKCaNv7Aq8BEIAGYISIJ5apNBOKsbSbwmlVeAvxaKdUVGAzc59T2cWCFUioOWGEdG9yJI6R3xyvs1eFiikrK2Hw4x3OHqRx0nQwl502Ojiro3roxMU1DWLzLDFfVBTX1cdyHzgOeB6CU2g80r6bNQCBFKZWqlCoC5nHhosGpwPtKsx4IF5FopVSGUmqrda98dM7y1k5t3rP23wOuruEzGOqKvYuhVV8I8+75EruOnrb8Gx46TOWg3XAIjYQkk1utMkSEid1b8kNKFrnni+2WU++pqeEotL78ARCRAKC6qbmtAeeVSen89OVf4zoiEgv0ATZYRS2UUhkA1muFBkxEZorIZhHZnJmZWY1UQ43JP6FXjHe50m4lLmd9qp6pNNCO/OK1wT8AEqZqB3nRWbvVeCwTe0RTXKr4do8ZrrpUamo4VovIE0CIiIwFPgW+rKZNRckZyhubKuuISCPgv8BDVnTeGqOUmqOU6q+U6h8VFVWbpoaq2LdYv3b2BcORTecWYUR4qn/DmW7XQPE5M7uqCnrHhBPdJJhFu47bLaXeU1PD8TiQCewC7gEWAU9W0yYdaON0HAMcq2kdEQlEG4255fKbnxCRaKtONHCyhs9gqAv2LobwttC8vLvKuyguLWPzoVOeP0zloN1QaNTCDFdVgZ+fMC6hBd/vzzSxqy6Rms6qKkM7w+9VSk1TSr1Rg1Xkm4A4EWkvIkHAdKD82o+FwG3W7KrBQK5SKkNEBHgLSFZK/b2CNrdb+7cDX9TkGQx1QNFZSF2lextenu1vZ3ou54tLPd8x7sDPXw9X7V8Ghfl2q/FYxiS0oKC4jDUpWXZLqddUaTisL/TZIpIF7AH2ikimiDxV3YWVUiXA/cAStHP7E6VUkojMEpFZVrVFQCqQArwB3GuVDwNuBa4Qke3W5hgbeQ4YKyL7gbHWscEdHFgJJQU+M0wFNucXry3drtV/n73f2K3EYxnUvhmNGgSwwvg5LonqFgA+hP4SH6CUOgggIh2A10TkYaXUS1U1VkotQhsH57LXnfYVesZW+XY/ULH/A6VUNuDdcS48lb2LoUETn8hzveFgDvEtGtGsPsU2ajNILwZM+hx6Xm+3Go8kKMCPEfFRLE8+yZ/LFH5+3t1zdhXVDVXdBsxwGA0ApVQqcIt1zuArlJXCvm8gbiz4e0gyIxeh/Rv1YP1Gefz8oNvVkLIMCnLtVuOxjEloTmZ+IbuOmvfoYqnOcAQqpS4YDFRKZfJTOlmDL3B4DZzL0ovNvJxdR3M5V1SP/BvOdLsWSot079BQISPjm+MnsNysIr9oqjMcRRd5zuBtJC2AwFCI8/78XRt+XL9Rj/wbDmL6Q5M2kGhmV1VG04ZB9I+NYHmymZB5sVRnOHqJSF4FWz7Qwx0CDR5AWSkkL4T48RDU0G41Lmddajadmjeqn7kbRPRw1YFvTaj1KhjTtTnJGXmknzLxvS6GKg2HUspfKdW4gi1MKWWGqnyFw2vgbCYkXG23EpdTWFLKpoM5DOtYD4epHPS4HsqKzZqOKhjTtQUA3+4xvY6LoTY5xw2+StLnPjNMtS3tNOeLSxnWKdJuKRdPy556geaOeXYr8Vg6RDWiXbNQVu014YguBmM4DFVTWqJTk8aPh6BQu9W4nDUpWfgJDK7PPQ4R6DUD0jdBVordajyWkfFRrD2QRUGxWUVeW4zhMFSNY5iq2zV2K3ELa1Ky6BkTTuPgej4S2+N6ED/YaXodlTGyc3MKisvYeND4gmqLMRyGqkmar4epOo21W4nLySsoZkd6LsPr8zCVg8bR0GGUHq4qK7NbjUcyuEMzggL8zHDVRWAMh6Fyigu0f6PrVT4xTLUhNYfSMlW//RvO9L4Jco/oXqPhAkKC/BncoRmr9hkHeW0xhsNQOfuX6BXIPW+0W4lbWJOSRXCgH33bhdstpW7ofCUEhRkneRWMjI8iNfMsR3LMtNzaYAyHoXJ2fAyNWkKHkXYrcQtrUrIYEBtBgwB/u6XUDUGh0G0q7F5g8pFXwsjOOlfPqr2m11EbjOEwVMzZbJ1bvMc0HbLbyzmRV8D+k2e8w7/hTK8ZUHQG9nxltxKPpH1kQ9pGmGm5tcUYDkPFJM3Xi8h6TbdbiVtw5GfwGv+Gg7ZDdeKtHR/ZrcQjERFGdo5i7YFsMy23FhjDYaiYHfOgRXdo6RuRZdakZNM0NJCE6MZ2S6lb/Pyg53SdS+X0EbvVeCQjO0dxvriUTYfMtNya4lLDISITRGSviKSIyOMVnBcRecU6v1NE+jqde1tETopIYrk2s0XkaAUJngx1RVYKHN3sM05xpRRrUrIY2jHSO/Mz9LlFv277wF4dHsqQDpFmWm4tcZnhEBF/4FVgIpAAzBCR8omqJwJx1jYTeM3p3LvAhEou/5JSqre1LaqkjuFi2fY+iD/0vMFuJW7hQOZZjucVeN8wlYOm7aDTaNj6gY4EYPgZIUH+DGofYRzktcCVPY6BQIpSKlUpVQTMA6aWqzMVeF9p1gPhIhINoJT6DjB9R3dTUgTb/wOdJ0JYS7vVuIWf/Bv1OMxIdfS7A/KP6SRPhgsY2bk5B8y03BrjSsPRGnAeVE23ympbpyLut4a23haRphVVEJGZIrJZRDZnZpouaI3Zt1iHGOnrOwkef0jJIqZpCG0jvHiRY/wEPbV6y7t2K/FIfpyWu898V9QEVxqOigaL1UXUKc9rQEegN5ABvFhRJaXUHKVUf6VU/6ioqGouafiRre/rvNWdxtitxC0UlpSyNiWLEfFRiHihf8OBf6D2dexfCrnpdqvxODpENqRNRAirzXBVjXCl4UgH2jgdxwDHLqLOz1BKnVBKlSqlyoA30ENihrrgdBqkrNBfMD6wdgNg86FTnC0qZWTn5nZLcT19bwWl9I8Dw88QEUbGN2ftgWwKS8y03OpwpeHYBMSJSHsRCQKmAwvL1VkI3GbNrhoM5CqlMqq6qMMHYnENkFhZXUMt2TZXvzpm4fgAq/aeJMjfj6H1OYx6TWkaq3uSW97VvizDzxjZOYpzRaVsOnjKbikej8sMh1KqBLgfWAIkA58opZJEZJaIzLKqLQJSgRR07+FeR3sR+QhYB3QWkXQRucs69TcR2SUiO4FRwMOuegaforRE/xLtOErPwvERVu7NZFCHCBo2CLBbinsYNAvOnIDdX9itxOMY0rEZQf5+ZnZVDXDpp8WaKruoXNnrTvsKuK+StjMqKb+1LjUaLPZ8pWfdTKrQZeSVHMk5R8rJM0wf0Kb6yt5CxysgoiNseB16Xm+3Go8iNCiAQR0iWLUvkyftFuPhmJXjBs3GN3RoivjxditxG44ZNKO6+IB/w4GfHwy6Ry/wTN9itxqPY0R8FCknz5B+ykzLrQpjOAxwIgkO/wADfukzTnGA1XtP0jYilA6RDe2W4l56zYCgRrDx33Yr8TgckyTMKvKqMYbDoHsbAcHQx3dGAQuKS1mTks3Izl4+DbcightD75shcT7kn7BbjUfRMUpPyzWGo2qM4fB1zp+GnR/r8OmhEXarcRsbD+ZwvriUUb4wDbciBt0DZSWm11GOn6blZplpuVVgDIevs/0/UHwOBtxttxK3smz3CUIC/RniC9NwK6JZR50SeNObUJhvtxqPwkzLrR5jOHyZsjLY9Aa0GQStetutxm2UlSmW7T7BiPgoggN9x6dzAcMf0qmBTRiSn2Gm5VaPMRy+zIEVkJMKA2farcSt7Dyay/G8AsZ1a2G3FHtp3Q9iL4N1/zILAp1wnpZrqBhjOHyZDa9DoxbQdYrdStzK0qTj+PsJV/jSNNzKGPaQXr+z61O7lXgUIzs3J+XkGRMttxKM4fBVTuyGlOXatxEQZLcat7Ik6TiDO0QQHupbz10hnUbrTI9r/gFlxhnswETLrRpjOHyVda9CQAgMuKv6ul5EyskzHMg8y7gE38g1Ui0icPlvIGufnp5rAEy03OowhsMXyT8Ouz6BPjf71BRcgKW7jwMwNsHH/RvOdJ0KzbvB6r+aXoeFiDCqc3PWpGRTUGzek/IYw+GLbJwDpcUw+N7q63oZS5NO0DOmCa3CQ+yW4jn4+cHI30L2ftj1md1qPIaRnaM4X1zKpkMmEWl5jOHwNYrOwqa3oMskPZffh0g/dY7tR04zvpsZprqALldpX8fq50xecoshHSIJCvBj5R7j5yiPMRy+xra5UHAahj5gtxK38+UOnerlqp6tbFbigfj5wcjH9fTsHR/ZrcYjCAnyZ0iHZny75wQ6kLfBgTEcvkRZKax/FWIGQNtBdqtxOwt3HKNP23DaNvPi3OKXQpfJem3Hyj9DkZmGCjCma3MOZZ/jQOZZu6V4FMZw+BJ7voJTh2Dor+xW4nb2n8gnOSOPqb1Mb6NSRGDcs5CfoX9gGBjdVU+iWJFsgkE641LDISITRGSviKSIyOMVnBcRecU6v1NE+jqde1tETopIYrk2ESKyTET2W69NXfkMXoNS8MM/dPrQLpPtVuN2Fu44hp/AJDNMVTXthur/jx9ehjNmbL9VeAgJ0Y1ZbgzHz3CZ4RARf+BVYCKQAMwQkYRy1SYCcdY2E3jN6dy7wIQKLv04sEIpFQessI4N1XFwNRzbCsMe9KmcGwBKKb7YfoxhnSKJCmtgtxzPZ8xsHfhy9XN2K/EIxiS0YMvhU+ScNWFZHLiyxzEQSFFKpSqlioB5wNRydaYC7yvNeiBcRKIBlFLfARXNg5sKvGftvwdc7QrxXsf3f4dGLaHXTXYrcTvbj5wmLeccU8wwVc2IjIP+v4DN78DxxOrrezljujanTMHKPWYxoANXGo7WwBGn43SrrLZ1ytNCKZUBYL1WGHBIRGaKyGYR2ZyZ6eNd7vQtuscx5D4IDLZbjdv5YvsxggL8GN/dTMOtMaOegJBw+PoRHUXZh+neqgktGjdgxR4zXOXAlYajorRq5ee01aTORaGUmqOU6q+U6h8VFVUXl6y//PB3CA6H/nfarcTtFBSX8vm2o4xLaEHj4EC75dQfQiNg7B/hyAbY8R+71diKn59wRZcWrN6baZI7WbjScKQDbZyOY4BjF1GnPCccw1nWq+k/VsXJPXo21aB7oEGY3WrczjeJx8k9X8xNA9vaLaX+0esmnatl2VNwzrdXT49NaM7ZolLWp/r2++DAlYZjExAnIu1FJAiYDiwsV2chcJs1u2owkOsYhqqChcDt1v7twBd1Kdrr+OElCAyFQbPsVmIL/9mYRmyzUAZ38NFMf5eCnx9M+rtOL7zsD3arsZWhHSNpGOTPN4nH7ZbiEbjMcCilSoD7gSVAMvCJUipJRGaJiONbbBGQCqQAbwA/Bk8SkY+AdUBnEUkXEUcY1+eAsSKyHxhrHRsq4tRhnWeh350+F8wQdCTcjQdzuHFAW/z8KhoVNVRLy+563c+2D3UYfh8lONCfK7q2YGnScUpKfdvnAxDgyosrpRahjYNz2etO+wq4r5K2MyopzwZG16FM72XNP0D8tFPcB/l4UxoBfsK0fjF2S6nfjPwd7F0MCx+Ae9dBcBO7FdnCld1b8uWOY2w8lMPQjpF2y7EVs3LcW8lNh60fQN9boUl1E9W8j8KSUj7bks64bi3M2o1LJTAYrn5Nryhf8nu71djGyM7NCQn0Z/EuM1xlDIe38v3f9evwR+zVYRNf7cjg1Llipg8wTvE6IaafDoy57QPd+/BBQoL8Gdk5im+SjlNW5ttBD43h8EZy02Hr+7q3Ed6m+vpehlKKN75PpXOLMC6L8+0hhTpl1BPQsgcsuBfyqpv86J1M7BFNZn4hW9JO2S3FVozh8EZ8vLexel8me47nc/flHRAxTvE6I6ABTHsHSgpg/kyfzBZ4RZfmBAX4sWhXdZM/vRtjOLwNH+9tAMz5LpWWjYNNiBFXEBkHVz4Ph76H71+0W43badQggBHxUSze5dvDVcZweBs+3tvYlZ7L2gPZ3DkslqAA8+/tEnrfDD2uh5X/C/t9b4ru5J7RHM8rYMNB310MaD5Z3oTpbfDv7w4Q1iCAGYOMU9xliMBVL0OLbvDfX+isgT7EuISWNAzy5/Nt6XZLsQ1jOLyJ1X/VH2of7W3sPZ7P17syuGlwWxOXytUENYQbPwQE5t0MhWfsVuQ2QoL8mdA9msW7jlNQ7Ht+HjCGw3vI3KdX9/a/y2d7G88v2UOjoABmXd7Rbim+QUR7uP4dyNwDC+/XycJ8hGv7tia/sIRlu30zYq4xHN7CimcgsCFc/hu7ldjCpkM5LE8+yayRHWnaMMhuOb5Dxytg9NOQ9LmOwuwjDO7QjJaNg1mw7ajdUmzBGA5v4MgmHQF36K+goe+tW1BK8dfFe4gKa8Cdw2LtluN7DHsQuk+DFX/UBsQH8PcTpvZpxep9mWSfKbRbjtsxhqO+oxQsfxoaRvlsTKoVySfZfPgUD46OIzTIpeHXDBUhAlNfhTaDYf49kLbBbkVu4do+MZSUKb7c4XuLIY3hqO/sXwaH18CI30KDRnarcTvni0p55qskOkQ15MYBvunb8QgCg2H6f6BJDHw0HbIP2K3I5XRuGUb31o2Zt+kIyof8O2AMR/2mrEz7NprGQt/bq63ujfxjxT6O5Jznf6/pQaC/+Xe2lYbN4OZP9f7caXA22149buCWQe3YczyfzYd9KwSJ+aTVZ3Z8BCcS4Yo/QIDvOYR3H8vjze8PckP/GJOoyVNo1hFmzIPco/CfG6DorN2KXMqU3q0ICw7gw/WH7ZbiVlxqOERkgojsFZEUEXm8gvMiIq9Y53eKSN/q2orIbBE5KiLbre1KVz6Dx1KQB8tnQ+v+0O1au9W4ndIyxe/m7yQ8JJAnruxqtxyDM20HwbS34dhW+PhWKCmyW5HLCA0KYFq/GBbtyiDLh5zkLjMcIuIPvApMBBKAGSKSUK7aRCDO2mYCr9Ww7UtKqd7Wtghf5Lvn4exJmPg3neLTx/jntynsSM/lqasSCA/1vd6Wx9N1Mlz1ChxYAQtm6WFVL+WWwe0oLlV8vOmI3VLchiu/cQYCKUqpVKVUETAPmFquzlTgfaVZD4SLSHQN2/ouWSmw/jUdMyimn91q3M7aA1n8Y8U+runT2gQy9GT63gpjnoHE/8Lix7x2gWDHqEYM69SM/2xIo9RHAh+60nC0BpxNcLpVVpM61bW93xraeltEmlZ0cxGZKSKbRWRzZmbmxT6D56EULPkdBATrhVc+RmZ+IQ/O2077yIY8e3V3Ezbd0xn+kE4AtekNHRLHS7l1cDuOnj7P0iTfyA7oSsNR0Se6vDmurE5VbV8DOgK9gQygwtjOSqk5Sqn+Sqn+UVFRNRJcL9j9BexfCiN/C2Et7FbjVopKynjgo23knS/m1Zv60rCBWbNRLxj7R+h9C6z6C2yYY7calzA2oSXtIxvy6qoUn5ia60rDkQ44T6yPAcqvlKmsTqVtlVInlFKlSqky4A30sJZvcP6U7vK37AmD/sduNW5FKcXj/93JutRs/nxND7pGN7ZbkqGmOKLpdpkMix/VEZy9DH8/4X9GdiTxaB6r9nnRCEcluNJwbALiRKS9iAQB04GF5eosBG6zZlcNBnKVUhlVtbV8IA6uARJd+AyexfLZcDYTprwC/r71a/vFpfuYv+0oD4+JZ1q/GLvlGGqLf4CeadVpDCx8AHZ8bLeiOueaPq1pHR7C/63Y7/W9DpcZDqVUCXA/sARIBj5RSiWJyCwRmWVVWwSkAino3sO9VbW12vxNRHaJyE5gFPCwq57Bozi0Bra8C4PvhVZ97FbjVt7+4SD/XJnCjIFteGB0J7vlGC6WgAY6FHv7y/RMq8T5diuqUwL9/Zg1siNb006zLtW7Fz+Kt1tGgP79+6vNmzfbLePiKciD14cBAveu07kQfITXVh3gr9/sYXy3Frx6U18CzOrw+k/RWfhwGhzZADe8r6fuegkFxaVc/reVdIhqyEd3D673kzdEZItSqn/5cvMprA8sfkxn97t2js8YDaUUf1+2j79+s4cpvVrxT2M0vIeghnDzJ9C6L3x6B+xbYreiOiM40J/7RnVifWqOV+fqMJ9ETydxvg4tctlvoO1gu9W4hcKSUh79bCevrNjPDf1jeOnG3iYOlbfRIAxu/kynn/34FtjjPet4bxrUlrjmjXj262QKS7wzQ6D5NHoypw7BVw9B634w4jG71biFrDOF3PTGBj7bks5DY+J47tqe+PvV7+6+oRJCwuHWz6FlD208dn1mt6I6IdDfj6ev6kZazjne+uGg3XJcgjEcnkrRWZ3LGeC6N8Hf+3NorzuQzeRXfiDpWC6v3tSXh8bE42eMhncTGgG3LtC96f/+ErZ+YLeiOmF4XCRjE1rwz29TOJFXYLecOscYDk9EKfjifji5W09hjOhgtyKXUlJaxotL93LTm+sJDfLnv/8zlEk9o6tvaPAOghvrYauOV+jc5etfs1tRnfDkpK6UlCqe+TLJ66bnGsPhifzwEiTNh9FP6XnvXsyOI6eZ8s81/N+3KVzfL4YvfzWcbq2a2C3L4G6CQmHGR3qR4DePwze/g7L67R9o16whD42NY9Gu43y5M8NuOXWKMRyextb3dXKm7tNg2EN2q3EZZwpLeObLJK751xqyzxby+i39+Nu0XiaMiC8T0EBPzx00C9b/S/s9Cs/YreqSmHlZB/q0DefJz3dxJOec3XLqDGM4PImkBfDlg7qXcfVrOlSDl6GUztE87u+reXftIW4e1I5lj4xgQveWdkszeAJ+/jDxrzDxedj3DbwzEfLq76/1AH8/Xr6xDwq4d+5WCorrdy/KgTEcnkLyl9o5GDMQbvjAKzP6bUjN5upX1/Crj7bROCSQz2YN4U9Xd6dxsPc7/g21ZNBMnUkwJxXmjICD39ut6KJp2yyUF6/vxa6jufz2vzu9wt9hDIcnsOlNnSmtVW+46WM93utF7D6Wxy/f28yNc9ZzIq+Q56f15OsHLqNfuwi7pRk8mfjxcNcyaNAY3p8Cq5+vt36Pcd1a8uj4znyx/Rh//WZvvTceZkDZTspKYeWf4fsXIX4CTHvHq4zGtrRTvLoyheXJJ2nUIIBHx3fmF8PaExLkb7c0Q32hRQLMXAlfPQwrn4WU5TD1VYisfzHL7h3ZkWOnz/P66gMEBfjx8Ji4ehuSxBgOu8jLgPl3w6Hvoe9tMOklr4h4W1amWL0/k7d/OMj3+7MIDw3k4THx3DE0liahZkjKcBE0CINr34COo+Gb3+q4baOe0KkF6tGQrojwp6ndKSop45UV+8k9V8QfJifUy1A6Jsihu1FKT7Vd9CgUn4dJL0KvGfXeEZ57rphPtxzhw/WHOZR9jqiwBvxyeHtuHtyORmamlKGuyD8OXz0Ce7+GiI4w7k/Q+cp69fkpK1M8980e5nyXyoDYprw8vQ+twkPsllUhlQU5NIbDnZxIgsW/1b2M6F5w7ZsQFW+3qoumuLSMH/ZnsWD7UZYkHaeguIz+7Zpy29BYJnRrSVBA/fslZagn7F8GS34PWXshZgAMf0QP9/rVn/+5z7el8+TniQT4+/Hna7ozqUe0xw1dGcNhp+FI2wBrX4E9X+v4PFf8Afrdoace1jMKikvZeDCH5ckn+GpnBjlni2gSEsikntHcPKitWbxncB+lxXrd05p/wOk0iOoC/e6EnjfoUCb1gINZZ/nVR1tJPJpHv3ZN+d3ELvSP9RztxnC423DkpuvItomfQcYOCA6HAb+EIffVm39qgNIyxf6T+Ww6dIrVe0+yJiWb88WlNAjwY0zXFlzdpzUj4qNM78JgH6Ulevh3/b/g2DbwD4JOY6HzRD0zq1FzuxVWSUlpGZ9sTuel5fvIzC9kYGwENw5ow5U9om2fSGKL4RCRCcDLgD/wplLquXLnxTp/JXAOuEMptbWqtiISAXwMxAKHgBuUUqeq0uFyw1FWCjkH4fhOSFun55xnJutzrfpqH0afmz0+l8aZwhJSM89wIPMM+06cYceR0+w4cpqzRXoKZEzTEK7o0pyRnaMY0iHS9n9qg+ECjifC9rmweyHkpeuyqK7QdpAe0orqApHxOj6Wh3GuqIQP1x/mo41HOJh1loZB/gzu0IzL4iIZ0D6CuOZhbv+B5nbDISL+wD5gLJCOziM+Qym126nOlcCv0IZjEPCyUmpQVW1F5G9AjlLqORF5HGiqlPptVVou2nCcy4EzJ3QGvsI8KMjVr+dyIO+o7lXkpuvw58VWOIGAEGg3BNpfDl2nQLOOtb9vLVFKUVyqKC4tsza9X1KqKCoto7CklPyCEmsrJr+ghLzzxWSeKeR4bgEn8gvJOH2ek/mFP14zwE/oGt2YPm3D9damKe2ahXrcGKzBUCFKwYlEnSQqbT0c2QiFuT+dD4vWzvWwFtCoJYS1hNBm0KARBDXSM7mCGukfewENdC8mMBQCg90gXbHxYA4Ldxzjh5QsDmfr75ZAf6FjVCPaRIQS3SSYlk2Cadk4mMbBgYQ28KdRgwBCgwJo1CCA4EA/Av0dm1z057Yyw+HK6S4DgRSlVKolYB4wFdjtVGcq8L7S1mu9iISLSDS6N1FZ26nASKv9e8AqoErDcdF8+yfY/HbF50IioEkMNG0PHUbqhDQtukHzbm6dIvjF9qM8OG/7RbVtEhJIi8YNaNE4mLj4KNpHNqRjVCM6NW9I24iGZvjJUH8R0Xk+WvbQx2VlehV61l7I3AtZ+/QPvqNb9Y/D4hrEkRo4E6583qWyQU/bHdShGYM6NAMgLfsc29NPk5yRx97j+RzJOcfGgznkni+u0fXeuXMAozrX7XCdKw1Ha+CI03E6uldRXZ3W1bRtoZTKAFBKZYhIhe+IiMwEZlqHZ0Rk78U8BBAJZF1YnIceKfM4KtHrsRi9rqW+6QWP1fyCtV2Ah+rVXPHXC4pqo7ddRYWuNBwV9Y3Kj4tVVqcmbatEKTUHmFObNhUhIpsr6qp5KkavazF6XU990+yLel05FpEOtHE6jgGO1bBOVW1PWMNZWK8n61CzwWAwGKrBlYZjExAnIu1FJAiYDiwsV2chcJtoBgO51jBUVW0XArdb+7cDX7jwGQwGg8FQDpcNVSmlSkTkfmAJekrt20qpJBGZZZ1/HViEnlGVgp6Oe2dVba1LPwd8IiJ3AWnA9a56BotLHu5yM0avazF6XU990+xzen1iAaDBYDAY6g4z39JgMBgMtcIYDoPBYDDUCmM4LEQkWEQ2isgOEUkSkWes8ggRWSYi+63XpnZrdUZE/EVkm4h8ZR17ut5DIrJLRLaLyGarzGM1W4tSPxORPSKSLCJDPFWviHS23lfHliciD3mqXgARedj6vCWKyEfW59CT9T5oaU0SkYesMo/RKyJvi8hJEUl0KqtUn4j8TkRSRGSviIyv6X2M4fiJQuAKpVQvoDcwwZrp9TiwQikVB6ywjj2JB4Fkp2NP1wswSinV22kuuSdrfhn4RinVBeiFfq89Uq9Saq/1vvYG+qEnnHyOh+oVkdbAA0B/pVR39ESY6Xiu3u7A3eioGL2AySISh2fpfReYUK6sQn0ikoB+v7tZbf5lhXuqHqWU2cptQCiwFb1afS8QbZVHA3vt1uekM8b6R7gC+Moq81i9lqZDQGS5Mo/UDDQGDmJNIvF0veU0jgPWeLJefooQEYGe4fmVpdtT9V6PDrjqOP4D8Jin6UWHbEp0Oq5QH/A74HdO9ZYAQ2pyD9PjcMIa9tmOXlS4TCm1gXIhTgBPitH8D/Q/bplTmSfrBR0BYKmIbLHCwoDnau4AZALvWMOBb4pIQzxXrzPTgY+sfY/Uq5Q6io7hkQZkoNdxLcVD9QKJwOUi0kxEQtFLCdrguXodVKavspBP1WIMhxNKqVKlu/kxwECra+qRiMhk4KRSaovdWmrJMKVUX2AicJ+IXG63oCoIAPoCryml+gBn8ZBhk6qwFs1OAT61W0tVWGPtU4H2QCugoYjcYq+qylFKJQN/BZYB3wA7gBJbRV0aFx3ayRiOClBKnUZH3Z2A54Y4GQZMEZFDwDzgChH5EM/VC4BS6pj1ehI9/j4Qz9WcDqRbPU+Az9CGxFP1OpgIbFVKnbCOPVXvGOCgUipTKVUMzAeG4rl6UUq9pZTqq5S6HMgB9uPBei0q01eTsFAVYgyHhYhEiUi4tR+C/qfeg4eGOFFK/U4pFaOUikUPS3yrlLoFD9ULICINRSTMsY8ez07EQzUrpY4DR0Sks1U0Gh3a3yP1OjGDn4apwHP1pgGDRSRURAT9/ibjuXoRKxq3iLQFrkW/zx6r16IyfQuB6SLSQETaA3HAxhpd0W6Hk6dsQE9gG7AT/WX2lFXeDO2A3m+9RtittQLtI/nJOe6xetE+gx3WlgT8vh5o7g1stv4vFgBNPVxvKJANNHEq82S9z6B/oCUCHwANPFzv9+gfDzuA0Z72/qINWQZQjO5R3FWVPuD3wAG0A31iTe9jQo4YDAaDoVaYoSqDwWAw1ApjOAwGg8FQK4zhMBgMBkOtMIbDYDAYDLXCGA6DwWAw1ApjOAwXjYj83ooSutOKxjrIBg0jHZGB6/i6sSJyvly02dsqqHeHiPyzju99tRWAznH8RxEZUwfXHSkiuVb4lGQRefpSr3mROu4QkVZ23NtQN7gsdazBuxGRIcBkoK9SqlBEIoEgm2VVi4gEKKVqGibigNIhaNzN1eiAf7sBlFJP1eG1v1dKTbYWYG4Xka9UDcLW1PJ9q4470Os2arRK2eB5mB6H4WKJBrKUUoUASqksZYUTEZF+IrLaCmS4xCncQScRWS4658lWEekomuetHAe7RORGq+5IEVklP+XCmGutLkZEJlhlP6BX72KVDxSRtdYv6rWOFd/WL9xPReRLdIDFD0RkqlO7uSIypaYPLiJ3isg+EVmNDv3iKH9XRKY5HZ9x2n/Mer4dIvKcVXa3iGyyyv5rraAeio4z9bzVy+nofF0RGW093y7RuRcaWOWHROQZ633dJSJdqnoGpdRZYAvQ0brHN9bf63tHW+u+fxeRlcBfK/r7WfUetZ5jp/yUxybW6tW8IbpXulREQqzn6A/MtZ4vRESestonisgcp7/zAOua6xz/I1a5v3XsuOc9Nf3bGeoIu1dimq1+bkAjYDuwD/gXMMIqDwTWAlHW8Y3A29b+BuAaaz8Yvcr5OnTQOH+gBToMRTR6NXwuOn6OH7AOGG61O4IOjyDAJ/y0ar4xEGDtjwH+a+3fgV5FG2EdjwAWWPtN0KHTA8o9Xyxw3npGx3aZpS0NiEL3sNYA/7TavAtMc7rGGet1ovWehFrHDh3NnOo+C/yqkuu8C0xzevZ4q/x94CFr/5BT+3txCv/tdJ2R/DzCwCF0LoYVQJxVPggdvsZx368A/yr+fuOAOdbfws+qf7n1/pUAva36nwC3WPur0Dk4cH4/rP0PgKus/URgqLX/HFaocGAm8KS13wC9sr+93Z8JX9rMUJXholBKnRGRfugv01HAxyLyOPpD3B1YZv1w9AcyRMeoaq2U+txqXwAgIsOBj5RSpehgbKuBAUAesFEplW7V247+MjqDDoy33yr/EP1FAtoIvCc6uY5CGzEHy5RSOda9V4vIq6LjDl2LNjAVDcNcMFQlIlcDq5RSmdbxx0B8NW/XGOAdpdQ56/45Vnl3EXkWCEcb4iXVXKez9ez7rOP3gPvQ4fVBBwkE3ZO4loq5TES2oUPxPwccRgcW/NT6e4H+MnbwqVKqtIq/3zi08dhm1W+ENuppltbtTppiK9E0SkQeQxuiCCBJRL4HwpRSa606/0EPjWLdr6dT766Jdc+DlVzfUMcYw2G4aKwv+1XAKhHZhQ6gtgVIUkoNca4rIo0ruUxFoZ0dFDrtl/LT/2tlcXL+BKxUSl0jIrGWNgdny9X9ALgZHSDyF1VoqIjK7l+CNfxrDbc4fD5SSZt3gauVUjtE5A50j6Aqqnqv4Kf3y/m9Ks/3SinHF7Dj73K6vIF0wvG+VXZvAf6ilPr3zwr1+1/+7xdyQWORYHSPtb9S6oiIzEb3Zqp6VkH3rqoztAYXYXwchotCdH7rOKei3uhfr3uBKNHOc0QkUES6KaXygHTrFzuiI3KGAt8BN1rj1lHoYY6qInTuAdo7xtfRkWAdNAGOWvt3VPMI7wIPASilkqqp68wGYKToZD6B6KxwDg6hU7aCzjPh6PEsBX5hPS8iEmGVh6F7Y4FoI+Yg3zpXnj1ArIh0so5vBVbXQvsFWH+XgyJyvaVNRKRXJfUq+vstsZ6tkVXe2urJVYXz8wVbr1nWNaZZ9zsF5ItO3wzawDtYAvyP9b4hIvGinf0GN2EMh+FiaYQeFtotIjuBBGC2UqoI/eH/q4jsQPsGhlptbgUesOqvBVqic3LsREcb/RZ4TOlw5hViDZHMBL4W7Rw/7HT6b8BfRGQNeoisUpTOVZEMvFNFtY7y8+m4DyidQW022ueyHJ1i2MEbwAgR2Yj2FZy17vUNOoT1ZmvI7TdW/T+gDdEytFFwMA94VLQT3GEgHc9+J3pYaRd6uOn1qp6zhtwM3GX9vZLQRq8iLvj7KZ2x7z/AOkvTZ1Rs9Jx5F3jdei8K0e/bLnT04U1O9e4C5ojIOnQvI9cqfxM942yr5TD/N2b0xK2Y6LgGn8T6tbwLPZ04t7r6BvcjIo2UUmes/cfRebMftFmWAdPjMPggohfT7QH+zxgNj2aS1dNLRE/CeNZuQQaN6XEYDAaDoVaYHofBYDAYaoUxHAaDwWCoFcZwGAwGg6FWGMNhMBgMhlphDIfBYDAYasX/A3Nq+I/TE/yNAAAAAElFTkSuQmCC\n",
      "text/plain": [
       "<Figure size 432x288 with 1 Axes>"
      ]
     },
     "metadata": {
      "needs_background": "light"
     },
     "output_type": "display_data"
    }
   ],
   "source": [
    "#Does Secondary Education affect placements in this dataset?\n",
    "sns.kdeplot(df.ssc_p[ df.status==\"Placed\"])\n",
    "sns.kdeplot(df.ssc_p[ df.status==\"Not Placed\"])\n",
    "plt.legend([\"Placed\", \"Not Placed\"])\n",
    "plt.xlabel(\"Secondary Education Percentage\")\n",
    "plt.show()"
   ]
  },

({'cell_type': 'code',
  'execution_count': 26,
  'id': '32664218',
  'metadata': {},

In [31]:
  {
   "cell_type": "code",
   "execution_count": 27,
   "id": "fb912174",
   "metadata": {},
   "outputs": [
    {
     "name": "stderr",
     "output_type": "stream",
     "text": [
      "C:\\ProgramData\\Anaconda31\\lib\\site-packages\\seaborn\\_decorators.py:36: FutureWarning: Pass the following variable as a keyword arg: x. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.\n",
      "  warnings.warn(\n"
     ]
    },

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_16808/3573371522.py, line 14)

In [32]:
 {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAAX4AAAEHCAYAAACp9y31AAAAOXRFWHRTb2Z0d2FyZQBNYXRwbG90bGliIHZlcnNpb24zLjMuNCwgaHR0cHM6Ly9tYXRwbG90bGliLm9yZy8QVMy6AAAACXBIWXMAAAsTAAALEwEAmpwYAAAbXklEQVR4nO3dfZRVZd3/8feHAUMEjedIJKoFiTzMQIP4QKBNoqWBzw9LFNTVuLrtRikptX6ClsW9tFTuXPDDDMakBImnFWohQnYjP3IwVIQKzUCEG0YUgRTj4fv742xwBgY4IPsMzP681pp1zr7Otff5Htx+zj7X2efaigjMzCw7GtR1AWZmVlgOfjOzjHHwm5lljIPfzCxjHPxmZhnTsK4LyEerVq2iY8eOdV2GmdlRZfHixW9HROs924+K4O/YsSOVlZV1XYaZ2VFF0sra2lMd6pE0XNKrkpZK+o2kxpJaSJojaUVy2zzNGszMrKbUgl/SicAwoDQiugFFwJXAbcDciOgEzE2WzcysQNL+crchcKykhkATYA0wCKhIHq8ALky5BjMzqya1Mf6IeEvSfcAq4APgDxHxB0ltI2Jt0metpDa1rS+pHCgH6NChQ1plmlnKtm3bxurVq9m6dWtdl1JvNW7cmPbt29OoUaO8+qcW/MnY/SDgs8BG4AlJg/NdPyLGA+MBSktLPaGQ2VFq9erVNGvWjI4dOyKprsupdyKCDRs2sHr1aj772c/mtU6aQz1fAd6IiKqI2AZMA84A1klqB5Dcrk+xBjOrY1u3bqVly5YO/ZRIomXLlgf1iSrN4F8FnCapiXL/xcuA5cAsYEjSZwgwM8UazOwI4NBP18H++6Y5xr9I0lTgRWA78BdyQzdNgSmSbiD35nBZWjWYmdneUj2rJyJGRsTJEdEtIq6JiA8jYkNElEVEp+T2nTRrMDPb5YEHHuD9998/bP2OVkfFL3fN6rMvjni0rktI1b0XdSHefDuvvqec1CrVWh544AEGDx5MkyZNDku/o5UnaTOzeulf//oX559/PsXFxXTr1o277rqLNWvWcPbZZ3P22WcD8M1vfpPS0lK6du3KyJEjARgzZsxe/Zo2bbp7u1OnTmXo0KEAPPHEE3Tr1o3i4mL69etX2Bf4MfiI38zqpaeffppPf/rTzJ49G4D33nuPCRMmMG/ePFq1yn2yuOeee2jRogU7duygrKyMl19+mWHDhvGzn/2sRr99ufvuu/n973/PiSeeyMaNG9N+SYeNj/jNrF7q3r07zzzzDN/73vf405/+xAknnLBXnylTptCrVy969uzJq6++yrJlyw7qOc4880yGDh3Kww8/zI4dOw5X6anzEb+Z1UudO3dm8eLFPPnkk9x+++0MGDCgxuNvvPEG9913Hy+88ALNmzdn6NCh+zwXvvrpktX7jBs3jkWLFjF79mxKSkpYsmQJLVu2TOcFHUY+4jezemnNmjU0adKEwYMHc+utt/Liiy/SrFkzNm/eDMCmTZs47rjjOOGEE1i3bh1PPfXU7nWr9wNo27Yty5cvZ+fOnUyfPn13++uvv06fPn24++67adWqFW+++WbhXuDH4CN+M6uXXnnlFUaMGEGDBg1o1KgRY8eOZeHChXz1q1+lXbt2zJs3j549e9K1a1c+97nPceaZZ+5et7y8vEa/0aNHc8EFF3DSSSfRrVs3tmzZAsCIESNYsWIFEUFZWRnFxcV19XIPiiKO/GlwSktLwxdisfoqC6dzfuqk/OaQSft0zvps+fLldOnSpUabpMURUbpnXw/1mJlljIPfzCxjHPxmZhnj4DczyxgHv5lZxjj4zcwyxufxm1lBXTPmycO6vcX3XnvAPkVFRXTv3p3t27fTpUsXKioqaNKkCU2bNt19Tn4aOnbsSGVl5QHn/Ck0H/GbWb137LHHsmTJEpYuXcoxxxzDuHHj6rqkOuXgN7NM+dKXvsRrr71Wo23Lli2UlZXRq1cvunfvzsyZH10R9tFHH6VHjx4UFxdzzTXXAFBVVcUll1xC79696d27NwsWLABgw4YNDBgwgJ49e3LjjTdypP5A1kM9ZpYZ27dv56mnnuK8886r0d64cWOmT5/O8ccfz9tvv81pp53GwIEDWbZsGffccw8LFiygVatWvPNO7oKBN998M8OHD6dv376sWrWKc889l+XLl3PXXXfRt29f7rzzTmbPns348ePr4mUeUGrBL+kLwORqTZ8D7gQeTdo7Av8ELo+Id9Oqw8zsgw8+oKSkBMgd8d9www01Ho8I7rjjDp577jkaNGjAW2+9xbp163j22We59NJLd4/Rt2jRAoBnnnmmxhTOmzZtYvPmzTz33HNMmzYNgPPPP5/mzZsX4NUdvDQvtv43oARAUhHwFjAduA2YGxGjJd2WLH8vrTrMzHaN8e/LpEmTqKqqYvHixTRq1IiOHTuydetWIqLGlMy77Ny5k4ULF3Lsscfu9Vht/Y80hRrjLwNej4iVwCCgImmvAC4sUA1mZrV67733aNOmDY0aNWLevHmsXLkSgLKyMqZMmcKGDRsAdg/1DBgwgJ///Oe719/1ptKvXz8mTZoEwFNPPcW77x6ZgxmFGuO/EvhNcr9tRKwFiIi1ktrUtoKkcqAcoEOHDh+7gPo+A+LByOf0N7O0/GrY1/b5WF3Nznn11Vfz9a9/ndLSUkpKSjj55JMB6Nq1K9///vfp378/RUVF9OzZk4kTJzJmzBhuuukmevTowfbt2+nXrx/jxo1j5MiRXHXVVfTq1Yv+/fsfluxKQ+rTMks6BlgDdI2IdZI2RsQnqz3+bkTsdyDscEzL7OD/iIP/yFLf901Py1wYR9q0zF8FXoyIdcnyOkntkqLaAesLUIOZmSUKEfxX8dEwD8AsYEhyfwgwc681zMwsNakGv6QmwDnAtGrNo4FzJK1IHhudZg1mZlZTql/uRsT7QMs92jaQO8vHzMzqgKdsMDPLGAe/mVnGeK4eMyuophPO3udjqw5hex3ufOWAfSTx7W9/m5/+9KcA3HfffWzZsoVRo0btc50ZM2bQuXNnTjnllL0eGzVqFA8//DCtW7dm+/bt/PjHP2bgwIGMGjWKpk2bcuuttx7CKzmwiRMnUllZWePHY4fCR/xmVu994hOfYNq0abz99tt5rzNjxowa8/Hsafjw4SxZsoQnnniC66+/np07dx6OUgvCwW9m9V7Dhg0pLy/n/vvv3+uxlStXUlZWRo8ePSgrK2PVqlU8//zzzJo1ixEjRlBSUsLrr7++z2136dKFhg0b7vWm8vDDD9O7d2+Ki4u55JJLeP/99wFYt24dF110EcXFxRQXF/P8888D8Nhjj3HqqadSUlLCjTfeyI4dOwCYMGECnTt3pn///runf/64HPxmlgk33XQTkyZN4r333qvR/q1vfYtrr72Wl19+mauvvpphw4ZxxhlnMHDgQO69916WLFnC5z//+X1ud9GiRTRo0IDWrVvXaL/44ot54YUXeOmll+jSpQuPPPIIAMOGDaN///689NJLvPjii3Tt2pXly5czefJkFixYwJIlSygqKmLSpEmsXbuWkSNHsmDBAubMmbPfTyAHw2P8ZpYJxx9/PNdeey1jxoypMavmwoULd0+lfM011/Dd7343r+3df//9PPbYYzRr1ozJkyfvNSvn0qVL+cEPfsDGjRvZsmUL5557LgDPPvssjz6am6ajqKiIE044gV/96lcsXryY3r17A7lppNu0acOiRYs466yzdr+pXHHFFfz973//eP8QOPjNLENuueUWevXqxXXXXbfPPvlOqzx8+PD9fok7dOhQZsyYQXFxMRMnTmT+/Pn77BsRDBkyhJ/85Cc12mfMmJHKNM8e6jGzzGjRogWXX3757mEXgDPOOIPHH38cyM3L37dvXwCaNWvG5s2bD/m5Nm/eTLt27di2bdvuqZohN9Xz2LFjAdixYwebNm2irKyMqVOnsn59buqyd955h5UrV9KnTx/mz5/Phg0b2LZtG0888cQh11Odj/jNrKC2XDdvn48VYnbO73znOzVOhxwzZgzXX3899957L61bt2bChAkAXHnllXzjG99gzJgxTJ06db/j/LX54Q9/SJ8+ffjMZz5D9+7dd7+JPPjgg5SXl/PII49QVFTE2LFjOf300/nRj37EgAED2LlzJ40aNeKhhx7itNNOY9SoUZx++um0a9eOXr167f7S9+NIfVrmw8HTMh9enpb5yFLf901Py1wYR9q0zGZmdgRx8JuZZYyD38xSFZE7a8XSc7D/vg5+M0vV6o1b+ff7mx3+KYkINmzYQOPGjfNex2f1mFmqJixcxXVA+0825kCnpGtLVUFqqm8aN25M+/bt8+7v4DezVG3+cAdj5r+RV1+fcVYYaV968ZOSpkr6q6Tlkk6X1ELSHEkrktvmadZgZmY1pT3G/yDwdEScDBQDy4HbgLkR0QmYmyybmVmBpBb8ko4H+gGPAETEvyNiIzAIqEi6VQAXplWDmZntLc0j/s8BVcAESX+R9AtJxwFtI2ItQHLbJsUazMxsD2kGf0OgFzA2InoC/+IghnUklUuqlFRZVeVv+s3MDpc0g381sDoiFiXLU8m9EayT1A4guV1f28oRMT4iSiOidM8LHJiZ2aFLLfgj4n+BNyV9IWkqA5YBs4AhSdsQYGZaNZiZ2d7SPo//P4FJko4B/gFcR+7NZoqkG4BVwGUp12BmZtWkGvwRsQTYa0pQckf/ZmZWBzxXj5lZxjj4zcwyxsFvZpYxDn4zs4xx8JuZZYyD38wsYxz8ZmYZ4+A3M8sYB7+ZWcY4+M3MMsbBb2aWMQ5+M7OMcfCbmWWMg9/MLGMc/GZmGePgNzPLGAe/mVnGOPjNzDIm1UsvSvonsBnYAWyPiFJJLYDJQEfgn8DlEfFumnWYmdlHCnHEf3ZElETErmvv3gbMjYhOwNxk2czMCqQuhnoGARXJ/Qrgwjqowcwss9IO/gD+IGmxpPKkrW1ErAVIbtvUtqKkckmVkiqrqqpSLtPMLDtSHeMHzoyINZLaAHMk/TXfFSNiPDAeoLS0NNIq0Mwsa1I94o+INcntemA6cCqwTlI7gOR2fZo1mJlZTakFv6TjJDXbdR8YACwFZgFDkm5DgJlp1WBmZntLc6inLTBd0q7n+XVEPC3pBWCKpBuAVcBlKdZgZmZ7SC34I+IfQHEt7RuAsrSe18zM9s+/3DUzyxgHv5lZxjj4zcwyxsFvZpYxDn4zs4xx8JuZZYyD38wsY/IKfklz82kzM7Mj335/wCWpMdAEaCWpOaDkoeOBT6dcm5mZpeBAv9y9EbiFXMgv5qPg3wQ8lF5ZZmaWlv0Gf0Q8CDwo6T8j4r8LVJOZmaUor7l6IuK/JZ1B7jq5Dau1P5pSXWZmlpK8gl/Sr4DPA0vIXTgdclfXcvCbmR1l8p2dsxQ4JSJ8JSwzs6NcvufxLwU+lWYhZmZWGPke8bcClkn6M/DhrsaIGJhKVWZmlpp8g39UmkWYmVnh5HtWzx8P9QkkFQGVwFsRcYGkFsBkcmcI/RO4PCLePdTtm5nZwcl3yobNkjYlf1sl7ZC0Kc/nuBlYXm35NmBuRHQC5ibLZmZWIHkFf0Q0i4jjk7/GwCXAzw+0nqT2wPnAL6o1DwIqkvsVwIUHVbGZmX0shzQ7Z0TMAL6cR9cHgO8CO6u1tY2Itcl21gJtDqUGMzM7NPn+gOviaosNyJ3Xv99z+iVdAKyPiMWSzjrYwiSVA+UAHTp0ONjVzcxsH/I9q+fr1e5vJ/el7KADrHMmMFDS14DGwPGSHgPWSWoXEWsltQPW17ZyRIwHxgOUlpb6h2NmZodJvmf1XHewG46I24HbAZIj/lsjYrCke4EhwOjkdubBbtvMzA5dvmf1tJc0XdJ6Sesk/Tb54vZQjAbOkbQCOCdZNjOzAsl3qGcC8GvgsmR5cNJ2Tj4rR8R8YH5yfwNQdjBFmpnZ4ZNv8LeOiAnVlidKuiWFeswsw1bd3b2uSzhidLjzldS2ne/pnG9LGiypKPkbDGxIrSozM0tNvsF/PXA58L/AWuBS4KC/8DUzs7qX71DPD4Ehu+bUSebbuY/cG4KZmR1F8j3i71F9IrWIeAfomU5JZmaWpnyDv4Gk5rsWkiP+fD8tmJnZESTf8P4p8LykqeSmargcuCe1qszMLDX5/nL3UUmV5CZmE3BxRCxLtTIzM0tF3sM1SdA77M3MjnKHNC2zmZkdvRz8ZmYZ4+A3M8sYB7+ZWcY4+M3MMsbBb2aWMQ5+M7OMcfCbmWWMg9/MLGNSC35JjSX9WdJLkl6VdFfS3kLSHEkrktvmB9qWmZkdPmke8X8IfDkiioES4DxJpwG3AXMjohMwN1k2M7MCSS34I2dLstgo+QtgEFCRtFcAF6ZVg5mZ7S3VMf7k+rxLgPXAnIhYBLSNiLUAyW2bfaxbLqlSUmVVVVWaZZqZZUqqwR8ROyKiBGgPnCqp20GsOz4iSiOitHXr1qnVaGaWNQU5qyciNgLzgfOAdZLaASS36wtRg5mZ5aR2+URJrYFtEbFR0rHAV4D/AmYBQ4DRye3MtGqw2q26u3tdl3DE6HDnK3VdglnBpXnd3HZAhaQicp8spkTE7yQtBKZIugFYBVyWYg1mZraH1II/Il4GetbSvgEoS+t5zcxs//zLXTOzjHHwm5lljIPfzCxjHPxmZhnj4DczyxgHv5lZxjj4zcwyxsFvZpYxDn4zs4xx8JuZZYyD38wsYxz8ZmYZ4+A3M8sYB7+ZWcY4+M3MMsbBb2aWMQ5+M7OMcfCbmWVMasEv6SRJ8yQtl/SqpJuT9haS5khakdw2T6sGMzPbW5pH/NuB70REF+A04CZJpwC3AXMjohMwN1k2M7MCSS34I2JtRLyY3N8MLAdOBAYBFUm3CuDCtGowM7O9FWSMX1JHoCewCGgbEWsh9+YAtNnHOuWSKiVVVlVVFaJMM7NMSD34JTUFfgvcEhGb8l0vIsZHRGlElLZu3Tq9As3MMibV4JfUiFzoT4qIaUnzOkntksfbAevTrMHMzGpK86weAY8AyyPiZ9UemgUMSe4PAWamVYOZme2tYYrbPhO4BnhF0pKk7Q5gNDBF0g3AKuCyFGswM7M9pBb8EfE/gPbxcFlaz2tmZvvnX+6amWWMg9/MLGMc/GZmGePgNzPLGAe/mVnGOPjNzDLGwW9mljEOfjOzjHHwm5lljIPfzCxjHPxmZhnj4DczyxgHv5lZxjj4zcwyxsFvZpYxDn4zs4xx8JuZZUya19z9paT1kpZWa2shaY6kFclt87Se38zMapfmEf9E4Lw92m4D5kZEJ2BusmxmZgWUWvBHxHPAO3s0DwIqkvsVwIVpPb+ZmdWu0GP8bSNiLUBy22ZfHSWVS6qUVFlVVVWwAs3M6rsj9svdiBgfEaURUdq6deu6LsfMrN4odPCvk9QOILldX+DnNzPLvEIH/yxgSHJ/CDCzwM9vZpZ5aZ7O+RtgIfAFSasl3QCMBs6RtAI4J1k2M7MCapjWhiPiqn08VJbWc5qZ2YEdsV/umplZOhz8ZmYZ4+A3M8sYB7+ZWcY4+M3MMsbBb2aWMQ5+M7OMcfCbmWWMg9/MLGMc/GZmGePgNzPLGAe/mVnGOPjNzDLGwW9mljEOfjOzjHHwm5lljIPfzCxjHPxmZhlTJ8Ev6TxJf5P0mqTb6qIGM7OsKnjwSyoCHgK+CpwCXCXplELXYWaWVXVxxH8q8FpE/CMi/g08DgyqgzrMzDKpYR0854nAm9WWVwN99uwkqRwoTxa3SPpbAWrLhM9AK+Dtuq7jiDBSdV2BVeN9s5rDs29+prbGugj+2l5N7NUQMR4Yn3452SOpMiJK67oOsz153yyMuhjqWQ2cVG25PbCmDuowM8ukugj+F4BOkj4r6RjgSmBWHdRhZpZJBR/qiYjtkr4F/B4oAn4ZEa8Wuo6M8xCaHam8bxaAIvYaXjczs3rMv9w1M8sYB7+ZWcY4+I9CktpLmilphaTXJT0o6RhJJZK+Vq3fKEm31mWtlh2SPiXp8WSfXCbpSUmdD2E7QyV9+hDW8/6eJwf/UUaSgGnAjIjoBHQGmgL3ACXA1/a99kE/V9Hh2pbVb8l+OR2YHxGfj4hTgDuAtoewuaFArcHvffLwqIsfcNnH82Vga0RMAIiIHZKGAyuBbeT+H+wL/CTpf4qk+UAH4IGIGEOu02BgGHAMsAj4j2RbW4CfAecC35F0ATAQ2A78ISJ8RGW1ORvYFhHjdjVExBIASSOAy4FPANMjYqSkjsBTwP8AZwBvkZu65XygFJgk6QPgdGA58EtgAPBzSc3I/ar/GOA14JqIeL8Ar7He8BH/0acrsLh6Q0RsAv4J/AiYHBElETE5efhkciF+KjBSUiNJXYArgDMjogTYAVyd9D8OWBoRfYBlwEVA14jokWzfrDbd2GO/BJA0AOhEbv8rAb4oqV/ycCfgoYjoCmwELomIqUAlcHWyH3+Q9N0aEX0j4nFgWkT0johicm8KN6T4uuolH/EffUQtU1zsp312RHwIfChpPbmP3mXAF4EXcp/QORZYn/TfAfw2ub8J2Ar8QtJs4HeH60VYZgxI/v6SLDclF/irgDd2fSog96bRcT/bmVztfjdJPwI+mWzv94ev3Gxw8B99XgUuqd4g6Xhy02DsqKX/h9Xu7yD331xARUTcXkv/rRGxA3b/2O5Ucm8UVwLfIjfUZLanV4FLa2kX8JOI+L81GnNDPXvum8fuZ/v/qnZ/InBhRLwkaShw1sGXm20e6jn6zAWaSLoWdn/Z9VNy/zOsA5rluY1LJbVJttFC0l6z+ElqCpwQEU8Ct5D7qG5Wm2eBT0j6xq4GSb3JfWq8PtmXkHTirv1uPzaz//24GbBWUiM+GqK0g+DgP8pE7qfWFwGXSVoB/J3ccMwdwDxyX+YukXTFfraxDPgB8AdJLwNzgHa1dG0G/C7p80dg+GF9MVZvVNsvz0lO53wVGAX8OvlbKOkVYCoHPjiZCIxL9uPaPgX8H3InJMwB/np4XkG2eMoGM7OM8RG/mVnGOPjNzDLGwW9mljEOfjOzjHHwm5lljIPfzCxjHPxmKZHUUdLSuq7DbE8OfjOzjHHwmyUkHSdptqSXJC2VdIWk0clFRV6WdF/Sr62k6Um/lySdsZ/NNpRUkaw/VVKTAr0cs31y8Jt95DxgTUQUR0Q34P9R+7TUY4A/JtMC9yI3Qdm+fAEYn6y/CfiP1Ko3y5OD3+wjrwBfkfRfkr5E7uIgu6alvhjYdbGPLwNjIXchnIh4bz/bfDMiFiT3HwP6plO6Wf4c/GaJiPg7uesUvELuCmZ3kLuAyG+BC4GnD2WzB1g2KzgHv1kiucD3+xHxGHAf0I/ap6WeC3wzWacouR7CvnSQdHpy/ypylxo0q1MOfrOPdAf+LGkJ8H3gLmqflvpm4OxkmuHF5C6HuS/LgSHJNlqQDBGZ1SVPy2xmljE+4jczyxhfc9fsY5LUkty4/57KImJDoesxOxAP9ZiZZYyHeszMMsbBb2aWMQ5+M7OMcfCbmWXM/wf0WwZXJ5IRIwAAAABJRU5ErkJggg==\n",
      "text/plain": [
       "<Figure size 432x288 with 1 Axes>"
      ]
     },
     "metadata": {
      "needs_background": "light"
     },
     "output_type": "display_data"
    }
   ],
   "source": [
    "sns.countplot(\"ssc_b\", hue=\"status\", data=df)\n",
    "plt.show()"
   ]
  },

IndentationError: unexpected indent (Temp/ipykernel_16808/2050796948.py, line 13)

In [33]:
  {
   "cell_type": "code",
   "execution_count": 28,
   "id": "126cb68e",
   "metadata": {},
   "outputs": [
    {
     "name": "stderr",
     "output_type": "stream",
     "text": [
      "C:\\ProgramData\\Anaconda31\\lib\\site-packages\\seaborn\\_decorators.py:36: FutureWarning: Pass the following variables as keyword args: x, y. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.\n",
      "  warnings.warn(\n"
     ]
    },

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_16808/4012600194.py, line 14)

In [34]:
   {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAABDUAAAFzCAYAAAAuSTI3AAAAOXRFWHRTb2Z0d2FyZQBNYXRwbG90bGliIHZlcnNpb24zLjMuNCwgaHR0cHM6Ly9tYXRwbG90bGliLm9yZy8QVMy6AAAACXBIWXMAAAsTAAALEwEAmpwYAAAcl0lEQVR4nO3df7RdZ1kn8O/TJqGFBgtNA0qU6syFEarUEgpIB5W6WiAoMiDiEoU4M8xMM0ujg7PUThVWZbl0GFZU2jIMzMVfA3UMiqtRWwbENahDTYFKC+oFCyVQbFJtKdDSS/vOH2dHbtPkJvf23nvue87ns9Zed5/37L3fd+fp2Um/9937VGstAAAAAL05adwDAAAAAFgOoQYAAADQJaEGAAAA0CWhBgAAANAloQYAAADQJaEGAAAA0KUN4x7AerBly5Z21llnjXsYAAAAwBGuv/76Q621M4/2nlAjyVlnnZX9+/ePexgAAADAEarqU8d6z+0nAAAAQJeEGgAAAECXhBoAAABAl4QaAAAAQJeEGgAAAECXhBoAAABAl4QaAAAAQJeEGgAAAECXhBoAAABAl4QaAAAAQJeEGgAAAECXhBoAAABAl4QaAAAAQJc2jHsATK89e/Zkbm5uLH0fOHAgSbJt27ax9L8cMzMz2b1797iHAQAAsG4INRibubm53LT/ppx575lr3vedm+5Mkmy6ZdOa970cBzcdHPcQAAAA1h2hBmN15r1n5sWfe/Ga97v3sXuTZCx9L8fh8QIAAPBVnqkBAAAAdEmoAQAAAHRJqAEAAAB0SagBAAAAdEmoAQAAAHRJqAEAAAB0SagBAAAAdEmoAQAAAHRJqAEAAAB0SagBAAAAdEmoAQAAAHRJqAEAAAB0SagBAAAAdEmoAQAAAHRJqAEAAAB0SagBAAAAdEmoAQAAAHRJqAEAAAB0SagBAAAAdEmoAQAAAHRJqAEAAAB0SagBAAAAdEmoAQAAAHRJqAEAAAB0SagBAAAAdEmoAQAAAHRJqAEAAAB0SagBAAAAdEmoAQAAAHRJqAEAAAB0SajRqT179mTPnj3jHgasKz4XAAAwXTaMewAsz9zc3LiHAOuOzwUAAEwXMzUAAACALgk1AAAAgC4JNQAAAIAuCTUAAACALgk1AAAAgC4JNQAAAIAuCTUAAACALgk1AAAAgC4JNQAAAIAuCTUAAACALgk1AAAAgC4JNQAAAIAuCTUAAACALgk1AAAAgC4JNQAAAIAuCTUAAACALgk1AAAAgC4JNQAAAIAuCTUAAACALgk1AAAAgC4JNQAAAIAuCTUAAACALgk1AAAAgC4JNQAAAIAuCTUAAACALgk1AAAAgC4JNQAAAIAuCTUA1sihQ4dy8cUX5/bbbz/mNtddd13OP//87N+/f0WPu95Nwjks1XJqDQDAA61ZqFFV26rqXVU1V1WfqKpfqapNVXVOVT1/wXavqapXr9W4ANbK7OxsbrjhhszOzh5zm0svvTT3339/LrnkkhU97no3CeewVMupNQAAD7QmoUZVVZJ3Jvn91tpMkickOS3J65Kck+T5x957yX2dvFLHAlgphw4dyr59+9Jay759+446I+G6667LXXfdlSS56667Tug3+Cdy3PVuEs5hqZZTawAAHmzDGvXznCT3tNZmk6S1dl9V/USSTyWZzyj3OD/JLw7bP6mq3pfkG5Lsaa39akYbvTzJjyXZlOQDSS4ejvWFJG9IclGS/1RVL0jyvUm+kuTa1trEzfw4cOBA7r777uzatWvcQ1m2ubm5tI1t3MPowh0b78idc3d2Xe+1MDc3l1NPPXXcwziq2dnZtDb67/3+++/P7OxsXv3qB16aLr300ge8vuSSS3LNNdc85OOud5NwDku1nFoDAPBga3X7yZOTXL+wobX2+SSfTPILSa5qrZ3TWrtqePtfZBRQnJfk56tqY1V9c5IfSPKs1to5Se5L8kPD9o9IcmNr7elJPprkRUme3Fr71uH4D1JVr6qq/VW1/+DBgyt3pgBHce2112Z+fj5JMj8/f9T/gT38m/tjvV7ucde7STiHpVpOrQEAeLC1mqlRSY72K/ljte9rrX05yZer6rYkj0lyQZKnJvnL0d0sOTXJbcP29yXZO6x/Psk9Sd5SVfuSXH20AbXW3pzkzUmyffv27qYLbNu2LUly+eWXj3kky7dr167c9ue3HX9Dcvr86dk6s7Xreq+F9TyT5cILL8zVV1+d+fn5bNy4MRdddNGDttm8efMD/ud28+bNK3Lc9W4SzmGpllNrAAAebK1matyUZPvChqp6ZJKvzyiQONKXF6zfl1H4Ukl+fZjRcU5r7YmttdcM29zTWrsvSVprX8lohsfeJN+X5I9X8DwAlmXnzp0ZAtmcdNJJ2blz54O2ueyyyx7w+nWve92KHHe9m4RzWKrl1BoAgAdbq1DjPUkeXlU/kvzTwzz/W5K3Jfn7JCfyK6r3JHlJVW0djvHoqnr8kRtV1WlJvqa19odJdmf0IFKAsdqyZUt27NiRqsqOHTtyxhlnPGib8847759+Y7958+Zs3779Qdss57jr3SScw1Itp9YAADzYmoQabfQEuBcl+f6qmkvytxndIvKzSf4koweDfriqfmCRY3w0yX9Jcm1V/VWSdyf52qNsujnJ1cM2f5rkJ1b0ZACWaefOnXnKU56y6EyEyy67LCeddNKSfnN/Isdd7ybhHJZqObUGAOCB1uqZGmmtfTrJ9xzlrS8nedoi+529YP2qJFcdZZvTFqzfmtHtJwDrypYtW3LFFVcsus15552X97///St+3PVuEs5hqZZTawAAHmitbj8BAAAAWFFCDQAAAKBLQg0AAACgS0INAAAAoEtCDQAAAKBLQg0AAACgS0INAAAAoEtCDQAAAKBLQg0AAACgS0INAAAAoEtCDQAAAKBLQg0AAACgS0INAAAAoEtCDQAAAKBLQg0AAACgS0INAAAAoEtCDQAAAKBLQg0AAACgS0INAAAAoEtCDQAAAKBLQg0AAACgS0INAAAAoEtCDQAAAKBLQg0AAACgS0INAAAAoEtCDQAAAKBLQg0AAACgSxvGPQCWZ2ZmZtxDgHXH5wIAAKaLUKNTu3fvHvcQYN3xuQAAgOni9hMAAACgS0INAAAAoEtCDQAAAKBLQg0AAACgS0INAAAAoEtCDQAAAKBLQg0AAACgS0INAAAAoEtCDQAAAKBLQg0AAACgS0INAAAAoEtCDQAAAKBLQg0AAACgS0INAAAAoEtCDQAAAKBLQg0AAACgS0INAAAAoEtCDQAAAKBLQg0AAACgS0INAAAAoEtCDQAAAKBLQg0AAACgS0INAAAAoEtCDQAAAKBLQg0AAACgS0INAAAAoEtCDQAAAKBLQg0AAACgS0INAAAAoEsbxj0AptvBTQez97F7x9JvkrH0vRwHNx3M1mwd9zAAAADWFaEGYzMzMzO2vu89cG+SZOu2PoKCrdk61j8vAACA9Uiowdjs3r173EMAAACgY56pAQAAAHRJqAEAAAB0SagBAAAAdEmoAQAAAHTphB8UWlWnJLk4yflJWpL3J7mytXbPKo0NAAAA4JiW8u0nv5HkriS/Nrz+wSS/meT7V3pQAAAAAMezlFDjia21pyx4/SdVdcNKDwgAAADgRCzlmRofqqpnHH5RVU9P8mcrPyQAAACA4zvuTI2q+khGz9DYmORHquqW4fXjk3x0dYcHAAAAcHQncvvJC07kQFX1qNbaPz7E8QAAAACckOOGGq21T53gsd6T5NyHNhwAAACAE7OUZ2ocT63gsQAAAAAWtZKhRlvBYwEAAAAsaiVDDQAAAIA14/YTAAAAoEsnHGpU1TOqavOC15ur6ukLNrlgRUcGAAAAsIilzNS4MskXFrz+4tCWJGmt/cNKDQoAAADgeJYSalRr7Z8eBtpauz8n8JWwAAAAAKthKaHG31XVj1XVxmH58SR/t1oDAwAAAFjMUkKNf5/k25N8JsmBJE9P8qrVGBQAAADA8Zzw7SOttduSvGwVxwIAAABwwpby7Se/XFWPHG49eU9VHaqql6/m4AAAAACOZSm3n1zYWvt8khdkdPvJE5L81KqMCgAAAOA4lhJqbBx+Pj/J232FKwAAADBOS/lK1j+oqr9OcneSi6vqzCT3rM6wAAAAABa3lFDjg0muzOjbT34mybOT/ORqDAoAAADgeJZy+8mlrbVbkjwzyUVJLk/yhlUZFQAAAMBxLCXUuG/4uSPJla21dyXZtPJDAgAAADi+pYQan6mq/57kpUn+sKoetsT9AQAAAFbMUkKJlya5JslzW2t3JHl0fKUrAAAAMCYn/KDQ1tqXkrxzwetbk9y6GoNiOuzZsydzc3Or2seBAweSJNu2bVvVftbCzMxMdu/ePe5hAAAArBtL+fYTWFFzc3O5af9NOfPeM1etjzs33Zkk2XRL349/Objp4LiHAAAAsO4INRirM+89My/+3ItX7fh7H7s3SVa1j7Vw+DwAAAD4Kg/6BAAAALok1AAAAAC6JNQAAAAAuiTUAAAAALok1AAAAAC6JNQAAAAAuiTUAAAAALok1AAAAAC6JNQAAAAAuiTUAAAAALok1AAAAAC6JNQAAAAAuiTUAAAAALok1AAAAAC6JNQAAAAAuiTUAAAAALok1AAAAAC6JNQAAAAAuiTUAAAAALok1AAAAAC6JNQAAAAAuiTUAAAAALok1AAAAAC6JNQAAAAAuiTUAAAAALok1AAAAAC6JNQAAAAAuiTUAAAAALok1AAAAAC6JNQAAAAAuiTU6NSePXuyZ8+ecQ8DporPHQAArC8bxj0Almdubm7cQ4Cp43MHAADri5kaAAAAQJeEGgAAAECXhBoAAABAl4QaAAAAQJeEGgAAAECXhBoAAABAl4QaAAAAQJeEGgAAAECXhBoAAABAl4QaAAAAQJeEGgAAAECXhBoAAABAl4QaAAAAQJeEGgAAAECXhBoAAABAl4QaAAAAQJeEGgAAAECXhBoAAABAl4QaAAAAQJeEGgAAAECXhBoAAABAl4QaAAAAQJeEGgAAAECXhBoAAABAl4QaAAAAQJeEGgAAAECXhBoAAABAl4QaAOvIoUOHcvHFF+f2229f8z7Wom9gekzKNWVSzgNgUq9nqx5qVNVjq+odVfWJqvpoVf1hVT1hGcd5ZVV93TL2e01VvXqp+wGMw+zsbG644YbMzs6ueR9r0TcwPSblmjIp5wEwqdezVQ01qqqS/F6S97XW/llr7UlJfjbJY5ZxuFcmOWqoUVUnL3uQAOvEoUOHsm/fvrTWsm/fvlVJ0Y/Vx1r0DUyPSbmmTMp5AEzy9WzDKh//u5LMt9bedLihtfbhJKmqn0ry0iQPS/J7rbWfr6qzkvxRkvcn+fYkn0nywiQ7kmxP8ttVdXeSZyb5WJL/meTCJG+sqs1JXpVkU5KPJ/nh1tqXVvn8xubAgQO5++67s2vXrnEPZdnm5ubSNrZxD6MLd2y8I3fO3dl1vSfB3NxcTj311FU7/uzsbFobfSbuv//+zM7O5tWvXtmJZsfqYy36BqbHpFxTJuU8ACb5erbat5+cneT6Ixur6sIkM0nOS3JOkqdW1bOHt2eSXN5ae3KSO5K8uLX2u0n2J/mh1to5rbW7h23vaa2d31p7R5J3ttae1lp7SkaBx79ebGBV9aqq2l9V+w8ePPiQTxTgobr22mszPz+fJJmfn88111yzZn2sRd/A9JiUa8qknAfAJF/PVnumxrFcOCwfGl6fllGYcUuSmw/P5sgoEDlrkeNctWD97Kr6hSSnD8dbtEqttTcneXOSbN++vbvpAtu2bUuSXH755WMeyfLt2rUrt/35beMeRhdOnz89W2e2dl3vSbDaM2UuvPDCXH311Zmfn8/GjRtz0UUXrVkfa9E3MD0m5ZoyKecBMMnXs9WeqXFTkqcepb2S/OIw6+Kc1to/b629dXjvywu2uy+LBy9fXLD+tiT/sbX2LUlem+SU5Q8bYO3t3Lkzo0cRJSeddFJ27ty5Zn2sRd/A9JiUa8qknAfAJF/PVjvUeG+Sh1XVvz3cUFVPS/L5JD9aVacNbY+rqq3HOdZdSTYv8v7mJLdW1cYkP/TQhg2w9rZs2ZIdO3akqrJjx46cccYZa9bHWvQNTI9JuaZMynkATPL1bFVvP2mttap6UZI9VfXTSe5J8skkuzN6XsZfDGnRF5K8PKOZGcfytiRvWvCg0CNdmuQDST6V5CNZPAABWJd27tyZm2++eVXT82P1sRZ9A9NjUq4pk3IeAJN6PVv1Z2q01j6b0becHOlXhuVIZy/Y9/UL1vcm2btgu7OO6OfKJFcepf/XLGnAAGO0ZcuWXHHFFWPpYy36BqbHpFxTJuU8ACb1erbat58AAAAArAqhBgAAANAloQYAAADQJaEGAAAA0CWhBgAAANAloQYAAADQJaEGAAAA0CWhBgAAANAloQYAAADQJaEGAAAA0CWhBgAAANAloQYAAADQJaEGAAAA0CWhBgAAANAloQYAAADQJaEGAAAA0CWhBgAAANAloQYAAADQJaEGAAAA0CWhBgAAANAloQYAAADQJaEGAAAA0CWhBgAAANAloQYAAADQJaEGAAAA0CWhBgAAANAloQYAAADQpQ3jHgDLMzMzM+4hwNTxuQMAgPVFqNGp3bt3j3sIMHV87gAAYH1x+wkAAADQJaEGAAAA0CWhBgAAANAloQYAAADQJaEGAAAA0CWhBgAAANAloQYAAADQJaEGAAAA0CWhBgAAANAloQYAAADQJaEGAAAA0CWhBgAAANAloQYAAADQJaEGAAAA0CWhBgAAANAloQYAAADQJaEGAAAA0CWhBgAAANAloQYAAADQJaEGAAAA0CWhBgAAANAloQYAAADQJaEGAAAA0CWhBgAAANAloQYAAADQJaEGAAAA0CWhBgAAANAloQYAAADQJaEGAAAA0KUN4x4A0+3gpoPZ+9i9q3r8JKvax1o4uOlgtmbruIcBAACwrgg1GJuZmZlV7+PeA/cmSbZu6zsQ2Jqta/LnBQAA0BOhBmOze/fucQ8BAACAjnmmBgAAANAloQYAAADQJaEGAAAA0CWhBgAAANAloQYAAADQJaEGAAAA0CWhBgAAANAloQYAAADQJaEGAAAA0CWhBgAAANAloQYAAADQJaEGAAAA0CWhBgAAANAloQYAAADQJaEGAAAA0KVqrY17DGNXVQeTfGrc41iGLUkOjXsQrBn1nh5qPT3Uerqo9/RQ6+mh1tNFvcfn8a21M4/2hlCjY1W1v7W2fdzjYG2o9/RQ6+mh1tNFvaeHWk8PtZ4u6r0+uf0EAAAA6JJQAwAAAOiSUKNvbx73AFhT6j091Hp6qPV0Ue/podbTQ62ni3qvQ56pAQAAAHTJTA0AAACgS0KNMaiqr6+qP6mqj1XVTVX140P7o6vq3VU1N/x81IJ9fqaqPl5Vf1NVFy1of2pVfWR471erqob2h1XVVUP7B6rqrAX7vGLoY66qXrGGpz51quqUqrquqm4Yav3aoV2tJ1RVnVxVH6qqq4fXaj2hquqTQ50+XFX7hzb1nkBVdXpV/W5V/fXwd/cz1XoyVdUTh8/04eXzVbVbvSdTVf1Ejf59dmNVvb1G/25T6wlUVT8+1Pmmqto9tKn1pGitWdZ4SfK1Sc4d1jcn+dskT0ryy0l+emj/6SS/NKw/KckNSR6W5BuTfCLJycN71yV5ZpJK8kdJnje0X5zkTcP6y5JcNaw/OsnfDT8fNaw/atx/JpO6DHU5bVjfmOQDSZ6h1pO7JPnJJP8rydXDa7We0CXJJ5NsOaJNvSdwSfLrSf7NsL4pyelqPflLkpOTfC7J49V78pYkj0tyc5JTh9e/k+SVaj15S5Kzk9yY5OFJNiT5P0lm1HpyFjM1xqC1dmtr7YPD+l1JPpbRhfWFGf3DKcPP7xvWX5jkHa21L7fWbk7y8STnVdXXJnlka+0v2uhT8xtH7HP4WL+b5IIhSbwoybtba//QWvvHJO9O8txVO9kp10a+MLzcOCwtaj2Rqmpbkh1J3rKgWa2ni3pPmKp6ZJJnJ3lrkrTW7m2t3RG1ngYXJPlEa+1TUe9JtSHJqVW1IaP/4f1s1HoSfXOS/9da+1Jr7StJ/jTJi6LWE0OoMWbD1KRvy+g3+I9prd2ajIKPJFuHzR6X5NMLdjswtD1uWD+y/QH7DB/eO5OcscixWCU1uh3hw0luy+iiptaTa0+S/5zk/gVtaj25WpJrq+r6qnrV0Kbek+ebkhxMMlujW8veUlWPiFpPg5clefuwrt4TprX2mSSvT3JLkluT3NlauzZqPYluTPLsqjqjqh6e5PlJvj5qPTGEGmNUVacl2Ztkd2vt84ttepS2tkj7cvdhFbTW7mutnZNkW0Yp79mLbK7WnaqqFyS5rbV2/YnucpQ2te7Ls1pr5yZ5XpJdVfXsRbZV735tSHJukitba9+W5IsZTVM+FrWeAFW1Kcn3Jvnfx9v0KG3q3YHh+QkvzOj2gq9L8oiqevliuxylTa070Fr7WJJfymiWxB9ndGvJVxbZRa07I9QYk6ramFGg8duttXcOzX8/TGvK8PO2of1ARmniYdsymh53YFg/sv0B+wxT6r4myT8scixW2TBd+X0ZTTlT68nzrCTfW1WfTPKOJM+pqt+KWk+s1tpnh5+3Jfm9JOdFvSfRgSQHhll2yWha8blR60n3vCQfbK39/fBavSfPdye5ubV2sLU2n+SdSb49aj2RWmtvba2d21p7dkY1mItaTwyhxhgM91e9NcnHWmtvWPDWHyR5xbD+iiTvWtD+suGput+Y0YNtrhumSd1VVc8YjvkjR+xz+FgvSfLe4d6va5JcWFWPGhLqC4c2VkFVnVlVpw/rp2b0F+hfR60nTmvtZ1pr21prZ2U0Zfm9rbWXR60nUlU9oqo2H17P6M/8xqj3xGmtfS7Jp6vqiUPTBUk+GrWedD+Yr956kqj3JLolyTOq6uFDjS7I6Dl3aj2Bqmrr8PMbkvyrjD7faj0p2jp4Wum0LUnOz2ja0V8l+fCwPD+j+67ek1Fy+J4kj16wzyUZPXn3bzI8ZXdo357RP6Q/keSNSWpoPyWjKZMfz+gpvd+0YJ8fHdo/nmTnuP88JnlJ8q1JPjTU+sYkPze0q/UEL0m+M1/99hO1nsAlo+cs3DAsNyW5RL0nd0lyTpL9w7X89zN6gr1aT+iS0QMjb0/yNQva1HsClySvzeiXTTcm+c2Mvu1CrSdwSfJ/Mwqkb0hywdCm1hOyHC4CAAAAQFfcfgIAAAB0SagBAAAAdEmoAQAAAHRJqAEAAAB0SagBAAAAdEmoAQB0r6reVlUvGfc4AIC1JdQAAKZOVW0Y9xgAgIfOX+gAwLpUVY9I8jtJtiU5OcllSZ6Y5HuSnJrkz5P8u9ZaO2K/nzvaNlX1vuH1s5K8t6pemeQJrbX5qnpkkr9KMtNam1+D0wMAVoCZGgDAevXcJJ9trT2ltXZ2kj9O8sbW2tOG16cmecFR9ltsm9Nba9/RWnttkvcl2TG0vyzJXoEGAPRFqAEArFcfSfLdVfVLVfUvW2t3JvmuqvpAVX0kyXOSPPko+y22zVUL1t+SZOewvjPJ7MqfAgCwmtx+AgCsS621v62qpyZ5fpJfrKprk+xKsr219umqek2SUxbuU1WnJLlikW2+uOD4f1ZVZ1XVdyQ5ubV24+qeEQCw0szUAADWpar6uiRfaq39VpLXJzl3eOtQVZ2W5GjfdnLKCWyz0G8keXvM0gCALpmpAQCsV9+S5L9W1f1J5pP8hyTfl9FtKZ9M8pdH7tBau6Oq/sdi2xzht5P8QkbBBgDQmTrigeEAAFOjql6S5IWttR8e91gAgKUzUwMAmEpV9WtJnpfRMzsAgA6ZqQEAAAB0yYNCAQAAgC4JNQAAAIAuCTUAAACALgk1AAAAgC4JNQAAAIAuCTUAAACALv1/+QeDrns64HwAAAAASUVORK5CYII=\n",
      "text/plain": [
       "<Figure size 1296x432 with 1 Axes>"
      ]
     },
     "metadata": {
      "needs_background": "light"
     },
     "output_type": "display_data"
    }
   ],
   "source": [
    "plt.figure(figsize =(18,6))\n",
    "sns.boxplot(\"salary\", \"ssc_b\", data=df, color='m')\n",
    "plt.show()"
   ]
  },

SyntaxError: unmatched ']' (Temp/ipykernel_16808/4211464117.py, line 13)

In [35]:
   "cell_type": "code",
   "execution_count": 29,
   "id": "9b0f7204",
   "metadata": {},
   "outputs": [
    {
     "name": "stderr",
     "output_type": "stream",
     "text": [
      "C:\\ProgramData\\Anaconda31\\lib\\site-packages\\seaborn\\_decorators.py:36: FutureWarning: Pass the following variables as keyword args: x, y. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.\n",
      "  warnings.warn(\n"
     ]
    },

SyntaxError: illegal target for annotation (Temp/ipykernel_16808/593296438.py, line 1)

In [36]:
  {
   "cell_type": "code",
   "execution_count": 30,
   "id": "8c590121",
   "metadata": {},
   "outputs": [],
   "source": [
    "# Analysis of the data to answer the above stated question are as follow: -\n",
    "# All students with Secondary Education Percentage above 90% are placed\n",
    "# All students with Secondary Education Percentage below 50% are not-placed\n",
    "# Students with good Secondary Education Percentage are placed on average.\n",
    "# Board Of Education does not affect Placement Status much.\n",
    "# No specific pattern (correlation) between Secondary Education Percentage and Salary.\n",
    "# Board of Education is Not Affecting Salary"
   ]
  },

({'cell_type': 'code',
  'execution_count': 30,
  'id': '8c590121',
  'metadata': {},
  'outputs': [],
  'source': ['# Analysis of the data to answer the above stated question are as follow: -\n',
   '# All students with Secondary Education Percentage above 90% are placed\n',
   '# All students with Secondary Education Percentage below 50% are not-placed\n',
   '# Students with good Secondary Education Percentage are placed on average.\n',
   '# Board Of Education does not affect Placement Status much.\n',
   '# No specific pattern (correlation) between Secondary Education Percentage and Salary.\n',
   '# Board of Education is Not Affecting Salary']},)